@( results : models.SparqlQueryResults,
   category : String)

@*****************************
	public TreeMap<String,TripleDocument> sparqlResults;
    public String treeResults;
    public String json;
*****************************@

@import helper._

@main("Hierarchies") {
    @metadata_navigation(category)
    <div class="container-fluid container-spaced">
      <div class="row">
            <div class="col-sm-9 col-md-9 main">
            <ul class="nav nav-tabs">
                @if(results.treeResults != ""){
                    <li class="active" onclick="info_on('info')"><a data-toggle="tab" href="#tree">View as Hierarchy</a></li> 
                    <li onclick="info_off('info')"><a data-toggle="tab" href="#table">View as Table</a></li>
                } else {
                    <li class="active"><a data-toggle="tab" href="#table">View as Table</a></li>
                }
            </ul>
            <div class="tab-content">

            @defining(if (results.treeResults != "") "tab-pane fade in" else "tab-pane fade in active") { classes =>
            <div id="table" class="@classes">
            }
                <div><p>(click for more information)</p></div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                        @category match{
                            case "InstrumentModels" => {
                                @for((k, triple) <- results.sparqlResults){
                                    @instrument_model_entry(triple) 
                                }
                            }
                            case "Instruments" => { 
                                @for((k, triple) <- results.sparqlResults){
                                    @instrument_entry(triple) 
                                }
                            }
                            case "Detectors" => { 
                                @for((k, triple) <- results.sparqlResults){
                                    @detector_entry(triple) 
                                }
                            }
                            case "PlatformModels" => { 
                                @for((k, triple) <- results.sparqlResults){
                                    @platform_model_entry(triple) 
                                }
                            }
                            case "Platforms" => { 
                                @for((k, triple) <- results.sparqlResults){
                                    @platform_entry(triple)
                                }
                            }
                            case "Entities" => { 
                                @for((k, triple) <- results.sparqlResults){
                                    @*@entity_entry(triple)*@
                                    @placeholder_entry(triple)
                                }
                            }
                            case "Characteristics" => { 
                                @for((k, triple) <- results.sparqlResults){
                                    @characteristic_entry(triple)
                                }
                            }
                            case "Units" => { 
                                @for((k, triple) <- results.sparqlResults){
                                    @unit_entry(triple)
                                }
                            }
                            case _ => {
                            }
                        }
                        </div>
                    </div>
                </div>

            @if(results.treeResults != ""){
                <div id="tree" class="tab-pane fade in active">
                    <div id="query" data-results="@results.treeResults"></div>
                    <div id="body"></div>
                        <script type="text/javascript" src="/hadatac/assets/javascripts/d3.js"></script>
                        <script type="text/javascript" src="/hadatac/assets/javascripts/d3.layout.js"></script>
                        <script type="text/javascript" src="/hadatac/assets/javascripts/treeRenderer.js"></script>
                        <script type="text/javascript">
                            d3.selectAll(".node")
                                .on('mouseover', function (d,i){
                                    var item = d.name.replace(/\W/g, '');
                                    var stuff = document.getElementById(item).innerHTML;
                                    var infobox = document.getElementById('info');
                                    infobox.innerHTML = stuff;
                                
                                });
                                
			</script>
                    <link type="text/css" rel="stylesheet" href="/hadatac/assets/stylesheets/treeRenderer.css"/>
                </div>
            }
            
          </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="tab-spacer"></div>
        @defining(if (results.treeResults != "") "block" else "none") { dis =>
        <div id="info" class="infobox" style="display:@dis"></div>
        }
    </div>
    <script type="text/javascript" src="/hadatac/assets/javascripts/extra.js"></script>
}