@( indicator : org.hadatac.entity.pojo.Indicator)

@import play.Play
@import org.hadatac.console.controllers.metadata._
@import org.hadatac.console.controllers.metadata.DynamicFunctions
@import java.net._
@import org.hadatac.utils._

<tr>
  <td>@if(indicator.getUri() != null) { @DynamicFunctions.replaceURLWithPrefix(indicator.getUri()) }</td>
  <td>@if(indicator.getLabel() != null) { @indicator.getLabel() }</td>
  <td>@if(indicator.getComment() != null) { @indicator.getComment() }</td>
  <td>
    <!-- <a href="@Play.application().configuration().getString("hadatac.console.host_deploy")/hadatac/metadataacquisitions/viewIndicator?ind_uri=@DynamicFunctions.replaceURLWithPrefix(indicator.getUri())" class="btn-xs btn-primary" role="button">View</a> --> 
    <a href="@org.hadatac.console.controllers.indicators.routes.EditIndicator.index(URLEncoder.encode(indicator.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Edit</a>
    <!-- @* <a href="@org.hadatac.console.controllers.objectcollections.routes.OCManagement.index(URLEncoder.encode(indicator.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Objects</a> *@ -->
    <a href="@org.hadatac.console.controllers.indicators.routes.DeleteIndicator.index(URLEncoder.encode(indicator.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Delete</a>
  </td>
</tr>
