@(message: String, indicator : org.hadatac.entity.pojo.Indicator)

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.indicators._
@import org.hadatac.metadata.loader.ValueCellProcessing

@main(message) {
    <h1>@message</h1>

    <ul>
         <li><b>URI:</b> @ValueCellProcessing.replaceNameSpaceEx(indicator.getUri())</li>
         <li><b>Short Name:</b> @indicator.getLabel()</li>
         <li><b>Description:</b> @indicator.getComment()</li>
    </ul>
    
    @indicatorButton(false)
}

    
