solr/*.zip
blazegraph/*.zip
logs
uploads/
project/project
project/target
target
tmp
.history
dist
.classpath
.project
.settings
.target
.idea
.idea_modules
.DS_Store
/bin/
RUNNING_PID
.cache-main
.cache-tests
~
./processed_csv/
./unprocessed_csv/
./downloaded_csv/
sddtmp/
dpltmp/
*.swp
*.iml
*.xlsx
*.csv
