/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
/*
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
*/

/* Mark input boxes that gets an error on validation: */
/*
input.invalid {
  background-color: #ffdddd;
}
*/

.ddInput {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

.radiolabel{
  font-size: 17px;
  margin-left: 10px;
  font-weight: normal;
}

.radiolabel_invalid{
  font-size: 17px;
  margin-left: 10px;
  font-weight: normal;
  background-color: #ffdddd;
}

.radiobox{
  vertical-align: text-middle;
}

.ddInput_finish{
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

.ddInput_invalid {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  background-color: #ffdddd;
}

.headtab{
   overflow-x: hidden;
   overflow-y: auto;
   height: 400px;
}

/* Hide all steps by default: */
.ddtab {
  display: none;
  font-size: 20px;
  font-weight: bold;
}

.ddfile {
   font-weight: normal;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
