.main-navi {
  float:right;
  background:rgb(173, 217, 253);
  color:balck;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 11pt;
  border-radius: 80px;
  font-weight: bold;
  height:35px;
  border:1px solid black;
}
#hidecarry{
  display:none;
}
#showcarry{
  display:block;
}
.mobile-navi {
  position:absolute;
  display: none;
  top: 160px;
  left:1000px;
  word-wrap: break-word;
  

}
.mobile-navi p{
  word-wrap: break-word;
}
.Close {
  color:black;
  background-color: cornflowerblue;
  float:right;
  border-radius: 80px;
  margin-left:5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  height:35px;
  border:1px solid black;
}

.isHeader{
  border:1px solid black;
  border-radius:80px;
  height:34px;
  margin-bottom: 5px;
  width: 209;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11pt;
  text-align: center;
  background-color: rgb(173, 217, 253);
}
#headerdetails{
    width:20%;
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:5pt;
    color:black;
    border-block-color: black;
    position: relative;
  }
.isDesc{
border:1px solid black;
border-radius:80px;
height:34px;
margin-bottom: 5px;
width: 207;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 11pt;
text-align: center;
background-color: rgb(173, 217, 253);

}
#descdetails{
width:20%;
font-size: 11pt;
font-family: Arial, Helvetica, sans-serif;
margin-left:5pt;
color:black;
border-block-color: black;
position: relative;
}