
/* #heading {
    left:1000px;
    top:200px;
}  */
.main-nav {
  background-color: #357ebd;
  padding: 6px 12px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.42857143;
  border-color: #357ebd;
  color: white;
  float:right;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
#effect{
  top:200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14pt;
}
#hide{
  display:none;
}
#show{
  display:block;
}
#hideThis{
  display:none;
}
#showThis{
  display:block;
}
#text-area{
  position:relative;
}
#text-area2{
  position:relative;
}
.mobile-nav {
  position:relative;
  display: none;
  float:right;
  width:28%;

}

.Close {
  background-color: #357ebd;
  padding: 6px 12px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.42857143;
  border-color: #357ebd;
  color: white;
  float:right;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.menuoptions{
  width: 100%;
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  display:none;
  overflow: hidden;
}
.virtualoptions{
  width: 100%;
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  display:none;
  overflow: hidden;
}
#menulist{
  margin-left:5px;
  margin-right:5px;
}
#virtuallist{
  margin-left:5px;
  margin-right:5px;
}
/*=========================================*/
/* #editRowsAdd{
  justify-content: center;
  text-align: center;
} */
.insertrowbtn{
  background-color: cornflowerblue;
  font-family:Arial;
  color:white;
  font-size: 10pt;
  margin-top: 7px;
  text-align: center;
  padding:3px;

}
.removerowbtn{
  background-color: cornflowerblue;
  font-family:Arial;
  color:white;
  font-size: 10pt;
  margin-top: 7px;
  text-align: center;
  padding:3px;

}
.undo-remove-row{
  background-color: rgb(173, 217, 253);
  width:23px;
  height:23px;
  padding: 0;
}
/*============================================================*/
#varDescription{
  width:50%;
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  margin-left:5pt;
  color:black;
  border-block-color: black;
  background-color: LightGray;
}

#cellText{
  width:50%;
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  margin-left:12pt;
  color:black;
  border-block-color: black;
}
/*===========================================================================*/
.cart{
  background-color: #428bca;
  padding: 6px 12px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.42857143;
  border-color: #357ebd;
  color: #fff;
  
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.shopbutton{
 position:relative;
 display:inline-block;
}
.eachOntology{
 font-family: Arial, Helvetica, sans-serif;
}
.eachOntology :hover,dropbtn:focus{
background-color:lightgrey;
}

.ontologydrop-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width:150px;
}

.ontologydrop-content a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;

}
.ontologydrop-content a:hover{
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;

}
.shopbutton:hover .ontologydrop-content{
  display:block;

}
.shopbutton:hover .cart{
  background-color: cornflowerblue;
}



* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/*-----------------------------------------------------*/
#vsdd{
  background-color: #428bca;
  padding: 6px 12px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.42857143;
  border-color: #357ebd;
  color: #fff;
  
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
#everify{
  background-color: #428bca;
  padding: 6px 12px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.42857143;
  border-color: #357ebd;
  color: #fff;
  
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
/*-----------------------------------------------------*/
.addtocart{
  background-color: #428bca;
  padding: 6px 12px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.42857143;
  border-color: #357ebd;
  color: #fff;
  
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  }

.cartbutton{
  position:relative;
  display:inline-block;
}
.cartbutton:hover .cart-content{
    display:block;

}
.cartbutton:hover .addtocart{
    background-color: cornflowerblue;
}

.cart-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow:auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  left: 0;
  width:150px;
}

.cart-content a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;

}
.cart-content a:hover{
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
  background-color: aliceblue;


}
.cartitem{
    font-family: Arial, Helvetica, sans-serif;
}
.cartitem :hover,dropbtn:focus{
background-color:lightgrey;
}
.inCart{
  cursor:pointer;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
.inCart a:hover{
  background-color:aliceblue;
}
/*-----------------------------------------------------*/
.recommended{
  justify-content: center;
  border:1px solid black;
  border-radius:80px;
  height:34px;
  margin-bottom: 5px;
  margin: 0 auto;
  width: 207;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11pt;
  text-align: center;
  background-color: rgb(173, 217, 253);
  }
  /*-----------------------------------------------------*/
.recommendedcol{
  justify-content: center;
  border:1px solid black;
  border-radius:80px;
  height:34px;
  margin-bottom: 3px;
  margin: 0 auto;
  margin-top:3px;
  width: 220;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11pt;
  text-align: center;
  background-color: rgb(173, 217, 253);
  }
/*============================================================*/
.undo-button{
  margin-bottom: 1px;
  border:1px solid black;
  border-radius: 50%;
  height:35px;
  width: 35px;
  background-color: rgb(173, 217, 253);
}
.undo-edit{
position:relative;
display:inline-block;
}
#show-hide{
  position:relative;
  display:inline-block;
  }
/*===========================================================*/


.searchResults{
  max-width: 100pt;
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  display:none;
  overflow: scroll;
  white-space:nowrap;
  text-overflow:ellipsis;
  word-wrap: break-word
}
#displaySearchResults{
display:none;
}
/* #listeningTable{
  display: none;
} */
#pagekey{
  display:none;
}
/* #btn_prev{
  display:none;
}
#btn_next{
  display:none;
} */

#returnView{
  display:none;
  background-color: cornflowerblue;
  color:white;
  justify-content: center;
  
}

.input-container{
  width:250px;
  border: 1px solid #a9a9a9;
  float: left;
}
.input-container input:focus, .input-container input:active {
  outline: none;
}
.input-container input {
  width: 80%;
  float: left;
  border: none;
}

.input-container button {
  float: right;
  background-color: lightsteelblue;
}
.custom-cm{
  background-color: lightgrey;
  border:1px solid black;
  box-shadow:1px 1px 5px rgba(0,0,0,1);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  padding:5px;
  width:150px;
  display:none;
  position: fixed;
  z-index: 999999;
  margin-top:0px;

}
.custom-cm__item{
  cursor: pointer;
  padding: 3px 3px;
}
.custom-cm__item:hover{
  background-color: rgb(175, 159, 159);
}


* {
  box-sizing: border-box;
  }
ul {
list-style-type: none;
padding: 0;
margin: 0;
}
ul li {
display: block;
position: relative;
}
/*===========================*/
.changeViewLabel{
  background-color: #428bca;
  padding: 6px 12px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.42857143;
  border-color: #357ebd;
  color: #fff;
  
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;



}
.changeViewIri{
  background-color: #428bca;
  padding: 6px 12px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.42857143;
  border-color: #357ebd;
  color: #fff;
  
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}


