@(filename   : String,
  da_uri     : String,
  study      : org.hadatac.entity.pojo.Study,
  oc         : org.hadatac.entity.pojo.ObjectCollection,
  objUriList : List[String],
  objList    : List[org.hadatac.entity.pojo.StudyObject],
  message    : String)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import java.net.URLEncoder

@main("Object Management") {

  <div>
    <input type="text" class="form-control col-sm-2" id="message" name="message" value="Message: @message" readonly>
  </div> <br>

  <div class="container-fluid">
    <h3>Management of Objects in Collection <i><font color="darkBlue">@oc.getLabel()</i></font> (@oc.getObjectCollectionType().getLabel())</h3>
    
    <h4>Management options</h4>

    <div class="container-fluid">
      <div class="row">
         <div class="navbar-collapse collapse navbar-secondary">
           <a href="@org.hadatac.console.controllers.objects.routes.NewObjectsFromScratch.index(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"),URLEncoder.encode(oc.getUri(),"UTF-8"))" 
	      class="btn btn-primary" role="button">Create Objects From Scratch</a>
	   @if(objList == null || objList.size() == 0) {
               <a href="@org.hadatac.console.controllers.objects.routes.ObjectManagement.deleteCollectionObjects(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"),URLEncoder.encode(oc.getUri(),"UTF-8"),objUriList)" 
		  class="btn btn-primary disabled" role="button">Delete Objects in Collection</a>
	   } else {
               <a href="@org.hadatac.console.controllers.objects.routes.ObjectManagement.deleteCollectionObjects(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"),URLEncoder.encode(oc.getUri(),"UTF-8"),objUriList)" 
		  class="btn btn-primary" role="button">Delete Objects in Collection</a>
	   }
	   @if(filename != null && !filename.equals("")) {
               <a href="@org.hadatac.console.controllers.fileviewer.routes.CSVPreview.getCSVPreview("unproc", filename, da_uri, oc.getUri(), 10)"
		  class="btn btn-primary" role="button">Create Multiple Objects From File</a>
	   }
         </div>
      </div>
   </div>

   <hr>

   <h4>Objects</h4>
   
    <form class="form-horizontal" name="newObjects" method="post" 
	  action="@org.hadatac.console.controllers.objects.routes.ObjectManagement.updateCollectionObjects(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"),URLEncoder.encode(oc.getUri(),"UTF-8"),objUriList)">
    <div class="container-fluid">
        <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Original ID</th>
		@if(objList.size() > 0) {
		   @for(scope <- objList.get(0).getScopeUris()) {
		      <th>hasScope</th>
                   }
                }  
                <th>Operations</th>
              </tr>
            </thead>
            <tbody>
	    @if(objList != null) {
                 @for(obj <- objList){
	            @obj_entry(study, oc, obj)
                 }
              } 
            </tbody>
        </table>

	<input class="btn btn-success" role="button" type="submit" id="submit" value="Update Objects"/><br>
	<a href="@org.hadatac.console.controllers.objectcollections.routes.OCManagement.index(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"))" class="btn btn-primary" 
	   role="button">Back to Object Collection  Management</a>
	
    </div>
    </form>
 
  </div>

}
