@(message   : String, 
  study_uri : String, 
  oc_uri    : String,
  obj       : org.hadatac.entity.pojo.StudyObject)

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.studies._
@import org.hadatac.metadata.loader.ValueCellProcessing

@main(message) {
    <div class="container">
       <h4>@message</h4>

        @if(obj == null) {
            [ERROR] No valid object. 
            <br>
        } else  {
            <ul>
              <li><b>URI:</b> @ValueCellProcessing.replaceNameSpaceEx(obj.getUri())</li>
              <li><b>Type:</b> @ValueCellProcessing.replaceNameSpaceEx(obj.getType())</li>
              <li><b>Short Name:</b> @obj.getLabel()</li>
              <li><b>Deocription:</b> @obj.getComment()</li>
           </ul>
        }
        <a href="@org.hadatac.console.controllers.objects.routes.ObjectManagement.index(study_uri, oc_uri)" 
           class="btn btn-primary" role="button">Back to Object Management</a>
    </div>
}

    
