@(message   : String, 
  filename  : String,
  da_uri    : String,
  study_uri : String, 
  oc_uri    : String)

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.studies._
@import org.hadatac.metadata.loader.ValueCellProcessing

@main(message) {
    <div class="container">
       <h4>@message</h4>

            <ul>
              <li><b>Filename:</b> filename</li>
              <li><b>DA:</b> @ValueCellProcessing.replaceNameSpaceEx(da_uri)</li>
              <li><b>Study:</b> @ValueCellProcessing.replaceNameSpaceEx(study_uri)</li>
              <li><b>Collection:</b> @ValueCellProcessing.replaceNameSpaceEx(oc_uri)</li>
           </ul>

        <a href="@org.hadatac.console.controllers.objects.routes.ObjectManagement.indexNomsg(filename, da_uri, study_uri, oc_uri)" 
           class="btn btn-primary" role="button">Back to Object Management</a>
    </div>
}

    
