@(	page : Int,
	rows : Int,
	facets : String,
	resultsSize : Long,
	results : org.hadatac.data.model.AcquisitionQueryResult,
	documentJson : String,
	facetJson : String,
	query : String)

@import helper._
@import org.hadatac.console.views.html._

@main("Simple Faceted Search") {
	<div id="query" data-documents="@documentJson" data-query="@query"/>
	<div id="facetDiv" data-documents="@facetJson"/>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 sidebar">
				<div id="legend">
					<legend>Facet search</legend>
				</div>
				<div width="100%" style="background-color:#dddddd">
					<label class="col-md-offset-1 control-label">Studies</label>
				</div>
				<div id="treeStudyBox" style="width:100%; height:150px; background-color:#f5f5f5; border :1px solid Silver; overflow:auto;"></div>
				
				<div width="100%" style="background-color:#dddddd">
					<label class="col-md-offset-1 control-label">Entities and Characteristics</label>
				</div>
				<div id="treeEntityCharacteristicBox" style="width:100%; height:150px; background-color:#f5f5f5; border :1px solid Silver; overflow:auto;"></div>
				
				<div width="100%" style="background-color:#dddddd">
					<label class="col-md-offset-1 control-label">Units</label>
				</div>
				<div id="treeUnitBox" style="width:100%; height:150px; background-color:#f5f5f5; border :1px solid Silver; overflow:auto;"></div>
				
				<div width="100%" style="background-color:#dddddd">
					<label class="col-md-offset-1 control-label">Platforms and Instruments</label>
				</div>
				<div id="treePlatformInstrumentBox" style="width:100%; height:150px; background-color:#f5f5f5; border :1px solid Silver; overflow:auto;"></div>
				
				<center>
					<button type="button" class="btn btn-primary" onClick="clearSearch();">Clear Search</button>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Download</button>
				</center>
				
				<div id="download_url" style="visibility: hidden ;">@org.hadatac.console.http.routes.SolrSearchProxy.getDataAcquisitionDownload()</div>
				
				<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Download</h4>
							</div>
							<div class="modal-body">
								<p>Options:</p>
								<select class="form-control" id="sel_format">
									<option>Data</option>
									<option>Data and Metadata</option>
								</select>
								<!-- <a href="" class="btn btn-info" role="button" id="btn_download">Confirm</a> -->
								<form action="@org.hadatac.console.http.routes.SolrSearchProxy.getDataAcquisitionDownload()" method="post">
                                                                  <input name="wt" id="wt_post" type="hidden" />
                                                                  <input name="rows" id="rows_post" type="hidden" />
                                                                  <input name="q" id="q_post" type="hidden" />
                                                                  <input name="mySubmit" class="btn btn-info" type="submit" value="Confirm" />
                                                                </form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 main">
				<div id="legend">
					<legend>Measurements</legend>
				</div>
				<div class="row placeholders"></div>
				<div class="row placeholders"></div>
				<div>
					<div id="acquisition" class="tab-pane">
						@table_acquisition(page, rows, facets, results.documents, resultsSize)
					</div>
				</div>
				<div class="container">
					<ul class="pagination">
						
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div id="legend">
						<legend>Measurement details</legend>
					</div>
					<div class="tab-pane">
						@if(results.documents.isEmpty) {
							<script>alert("You have no measurements.");</script>
						} else {
							@measurement_details(results.documents(0))
						}
					</div>
				</div>
				<div class="row">
					<div id="legend">
						<legend>Metadata details</legend>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="/hadatac/assets/javascripts/measurement.js"></script>
	<script>
	function clearSearch(){
		var url = location.protocol + '//' + location.host + location.pathname;
		window.location.href = encodeURI(url);
	}
	function loadTree(tree, data) {
		tree.enableCheckBoxes(true, true);
		tree.enableThreeStateCheckboxes(true);
		tree.setImagePath("@controllers.routes.Assets.versioned("lib/dhtmlx/imgs/dhxtree_skyblue/")");
		tree.setDataMode("json");
		tree.attachEvent("onCheck",function(id) {
			jsonFacet['facetsAnd'][tree.getUserData(id, 'field')] = tree.getUserData(id, 'value');
			var url = location.protocol + '//' + location.host + location.pathname;
			url += '?facets=' + JSON.stringify(jsonFacet);
			window.location.href = encodeURI(url);
			return true;
		});
		tree.parse(data, "json");
		tree.openAllItems(0);
	}
	
	var btn = document.getElementById("btn_download");
	if (btn != null) {
		btn.href=document.getElementById("download_url").textContent+'?wt=csv&rows=9999999&q='+encodeURIComponent(document.getElementById('query').getAttribute('data-query'));
	}
	document.getElementById('wt_post').value = 'csv';
	document.getElementById('rows_post').value = 9999999;
	document.getElementById('q_post').value = encodeURIComponent(document.getElementById('query').getAttribute('data-query'));
	
	var jsonTree, dataTree;
	var treeEC;
	jsonTree = parseSolrFacetPivotToTree("entity,characteristic");
	dataTree = JSON.parse(jsonTree);
	treeEC = new dhtmlXTreeObject("treeEntityCharacteristicBox","100%","100%",0);
	loadTree(treeEC, dataTree);
	
	var treeS;
	jsonTree = parseSolrFacetPivotToTree("study_uri");
	dataTree = JSON.parse(jsonTree);
	treeS = new dhtmlXTreeObject("treeStudyBox","100%","100%",0);
	loadTree(treeS, dataTree);
	
	var treeU;
	jsonTree = parseSolrFacetFieldToTree("unit");
	dataTree = JSON.parse(jsonTree);
	treeU = new dhtmlXTreeObject("treeUnitBox","100%","100%",0);
	loadTree(treeU, dataTree);
	
	var treePI;
	jsonTree = parseSolrFacetPivotToTree("platform_name,instrument_model");
	dataTree = JSON.parse(jsonTree);
	treePI = new dhtmlXTreeObject("treePlatformInstrumentBox","100%","100%",0);
	loadTree(treePI, dataTree);
	</script>
}


