@(files  : List[org.hadatac.entity.pojo.DataFile], 
  bAdmin : Boolean)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.annotator._
@import org.hadatac.console.controllers.dataacquisitionsearch._
@import org.hadatac.metadata.loader._
@import java.net._

@main("Download Management") {
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		
	<script type="text/javascript">
	$(document).ready(function() {
	    function checkCompletion() {
	        $("#download_files tbody tr").each(function () {
		        var row = $(this);
		        var status;
		        @if(bAdmin) {
		            status = row.find("td:nth-child(6)").html();
		        } else {
		            status = row.find("td:nth-child(5)").html();
		        }
		        
		        if (status == "CREATED") {
		            @if(bAdmin) {
		                row.find("td:nth-child(7) [name='download']").removeClass("disabled");
		                row.find("td:nth-child(7) [name='assign_owner']").removeClass("disabled");
		            } else {
		                row.find("td:nth-child(6) [name='download']").removeClass("disabled");
                        row.find("td:nth-child(6) [name='assign_owner']").removeClass("disabled");
		            }
		            
		            return;
		        }
		        
		        @if(bAdmin) {
                    row.find("td:nth-child(7) [name='download']").attr('class', 'btn btn-xs btn-primary disabled');
                    row.find("td:nth-child(7) [name='assign_owner']").attr('class', 'btn btn-xs btn-primary disabled');
                } else {
                    row.find("td:nth-child(6) [name='download']").attr('class', 'btn btn-xs btn-primary disabled');
                    row.find("td:nth-child(6) [name='assign_owner']").attr('class', 'btn btn-xs btn-primary disabled');
                }
		        
	        	$.ajax({
	                type: 'GET',
	                url: '/hadatac/downloader/checkcompletion',
	                data: { 'file_id': row.find("td:nth-child(1)").html().toString() },
	                dataType: 'json',
	                success: function (data) {
	                	@if(bAdmin) {
		                row.find("td:nth-child(4)").html(data['CompletionTime']);
		                row.find("td:nth-child(5)").html(data['CompletionPercentage'] + '%');
		                row.find("td:nth-child(6)").html(data['Status']);
		                } else {
		                row.find("td:nth-child(3)").html(data['CompletionTime']);
                        row.find("td:nth-child(4)").html(data['CompletionPercentage'] + '%');
                        row.find("td:nth-child(5)").html(data['Status']);
		                }
	                }
	            });
	        });
	    }
	    setInterval(checkCompletion, 1000);
	});
    </script>
	
	<div class="container-fluid">
	<table class="table" id="download_files">
	<thead>
         <tr>
            <th>Data Files</th>
            @if(bAdmin) {
            	<th>Owner Email</th>
            }
            <th>Submission Time</th>
            <th>Completion Time</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Operations</th>
         </tr>
    </thead>
    <tbody>
    	@for(file <- files){
    		<tr>
    			<td>@file.getFileName()</td>
    			@if(bAdmin) {
    				<td>@file.getOwnerEmail()</td>
    			}
    			<td>@file.getSubmissionTime()</td>
    			<td>@file.getCompletionTime()</td>
    			<td>@file.getCompletionPercentage().toInt%</td>
    			<td>@file.getStatus()</td>
    			<td>
	    			<a href="@org.hadatac.console.controllers.dataacquisitionsearch.routes.Downloader.downloadDataFile(file.getId())" 
	               class="btn btn-xs btn-primary" name="download" role="button">Download</a>
	    			<a href="@org.hadatac.console.controllers.dataacquisitionsearch.routes.Downloader.deleteDataFile(file.getId())" 
				   class="btn btn-xs btn-primary" name="delete" role="button" id="delete" onclick="return confirm('Are you sure to delete? If so, the ingested data from this file will be deleted as well!')">Delete</a>
	    			@if(bAdmin) {
	    				<a href="@org.hadatac.console.controllers.dataacquisitionsearch.routes.Downloader.assignFileOwner(file.getOwnerEmail(), file.getId())" 
					   class="btn btn-xs btn-primary" name="assign_owner" role="button">Assign Owner</a>
	    			}
	    			<a href="@org.hadatac.console.controllers.dataacquisitionsearch.routes.Downloader.checkAnnotationLog(file.getId())" 
				   class="btn btn-xs btn-primary" name="logs" role="button">Logs</a>
    			</td>
    		</tr>
    	}
    </tbody>
    </table>
    @if(files.isEmpty()) {
    	<p>No records for downloading/downloaded files</p>
    }
    
    <br>
	
    <br><br>
    <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-primary" role="button">Back to Main Page</a>
	</div>
}
