@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.models.FacetHandler

@(	page : Int,
	rows : Int,
	facets : String,
	resultsSize : Long,
	results : org.hadatac.data.model.AcquisitionQueryResult,
	documentJson : String,
	handler : FacetHandler,
	objDetails : String
)

<script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
<style>
    #chartStudy svg {
       height: 400px;
    }
    #chartObjectCollection svg {
       height: 400px;
    }
    #chartEntityCharacteristic svg {
       height: 400px;
    }
    #chartUnit svg {
       height: 400px;
    }
    #chartTime svg {
       height: 400px;
    }
    #chartPlatformInstrument svg {
       height: 400px;
    }
</style>
<script type="text/javascript" src="/hadatac/assets/javascripts/measurement.js"></script>
<script>
    function checkParentNodes(tree, root_id, child_id) {
        if (tree.getAllSubItems(root_id).split(",").includes(child_id.toString())) {
        	tree.setCheck(root_id, true);
        }
        
        var subitems = tree.getSubItems(root_id);
        if (subitems.length > 0) {
            subitems.split(",").forEach(function(element) {
            	checkParentNodes(tree, element, child_id);
            });
        }
    }
    
    function refreshTreeCheckStatus(tree, id) {
    	var hasCheckedSubitems = false;
    	var subitems = tree.getSubItems(id);
        if (subitems.length > 0) {
        	subitems.split(",").forEach(function(element) {
                refreshTreeCheckStatus(tree, element);
                if (tree.isItemChecked(element)) {
                    hasCheckedSubitems = true;
                }
            });
        	
        	if (!hasCheckedSubitems) {
                tree.setCheck(id, false);
            }
        }
    }
   
    function loadTree(tree, data) {
        tree.enableCheckBoxes(true, true);
        tree.enableThreeStateCheckboxes(false);
        tree.setImagePath("@controllers.routes.Assets.versioned("lib/dhtmlx/imgs/dhxtree_skyblue/")");
        tree.setDataMode("json");
        tree.attachEvent("onCheck", function(id) {
        	tree.setSubChecked(id, tree.isItemChecked(id));
            if (tree.isItemChecked(id)) {
                checkParentNodes(tree, 0, id);
            } else {
            	refreshTreeCheckStatus(tree, 0);
            }
        });
        tree.parse(data, "json");
    }
    
    var jsonTree, selected_elems;
    selected_elems = JSON.parse('@handler.values(FacetHandler.ENTITY_CHARACTERISTIC_FACET)'.replace(/&quot;/g,'"'));
    var dataTreeEC = parseSolrFacetToMergedTree('@FacetHandler.ENTITY_CHARACTERISTIC_FACET', selected_elems);
    // var dataTree = parseSolrFacetToTree('@FacetHandler.ENTITY_CHARACTERISTIC_FACET', selected_elems);
    var treeEC = new dhtmlXTreeObject("treeEntityCharacteristicBox", "100%", "100%", 0);
    loadTree(treeEC, dataTreeEC);
    
    selected_elems = JSON.parse('@handler.values(FacetHandler.STUDY_FACET)'.replace(/&quot;/g,'"'));
    var dataTreeS = parseSolrFacetToTree('@FacetHandler.STUDY_FACET', selected_elems);
    console.log("dataTree: " + JSON.stringify(dataTree));
    var treeS = new dhtmlXTreeObject("treeStudyBox", "100%", "100%", 0);
    loadTree(treeS, dataTreeS);
    
    selected_elems = JSON.parse('@handler.values(FacetHandler.OBJECT_COLLECTION_FACET)'.replace(/&quot;/g,'"'));
    var dataTreeOC = parseSolrFacetToTree('@FacetHandler.OBJECT_COLLECTION_FACET', selected_elems);
    console.log("dataTree: " + JSON.stringify(dataTree));
    var treeOC = new dhtmlXTreeObject("treeObjectCollectionBox", "100%", "100%", 0);
    loadTree(treeOC, dataTreeOC);
    
    selected_elems = JSON.parse('@handler.values(FacetHandler.UNIT_FACET)'.replace(/&quot;/g,'"'));
    var dataTreeU = parseSolrFacetToTree('@FacetHandler.UNIT_FACET', selected_elems);
    var treeU = new dhtmlXTreeObject("treeUnitBox", "100%", "100%", 0);
    loadTree(treeU, dataTreeU);
    
    selected_elems = JSON.parse('@handler.values(FacetHandler.TIME_FACET)'.replace(/&quot;/g,'"'));
    var dataTreeT = parseSolrFacetToTree('@FacetHandler.TIME_FACET', selected_elems);
    var treeT = new dhtmlXTreeObject("treeTimeBox", "100%", "100%", 0);
    loadTree(treeT, dataTreeT);

    selected_elems = JSON.parse('@handler.values(FacetHandler.PLATFORM_INSTRUMENT_FACET)'.replace(/&quot;/g,'"'));
    var dataTreePI = parseSolrFacetToTree('@FacetHandler.PLATFORM_INSTRUMENT_FACET', selected_elems);
    var treePI = new dhtmlXTreeObject("treePlatformInstrumentBox", "100%", "100%", 0);
    loadTree(treePI, dataTreePI);
    
    function addPieChart(selector, data) {
    	//Regular pie chart
        nv.addGraph(function() {
          var chart = nv.models.pieChart()
              .x(function(d) {
            	  var max_len = 20;
            	  if (d.label.length > max_len) {
            		  return d.label.substring(0, max_len) + " ... "; 
            	  }
            	  return d.label; })
              .y(function(d) { return d.count; })
              .showLabels(true)
              .labelThreshold(.05)
              .labelType("percent")
              .legendPosition("top");
          
          chart.valueFormat(d3.format('d'));
          chart.legend.align(false);
        
          d3.select(selector)
          .datum(data)
          .transition().duration(350)
          .call(chart);
        
          return chart;
        });
    }
	
    addPieChart("#chartStudy svg", dataTreeS.item);
    addPieChart("#chartObjectCollection svg", dataTreeOC.item);
    addPieChart("#chartEntityCharacteristic svg", dataTreeEC.item);
    addPieChart("#chartUnit svg", dataTreeU.item);
    addPieChart("#chartTime svg", dataTreeT.item);
    addPieChart("#chartPlatformInstrument svg", dataTreePI.item);
    
    $("#toggleCharts").click(function () {
    	$("#charts").toggle();
    	if ($(this).text() == "Show Charts") { 
            $(this).text("Hide Charts"); 
        } else { 
            $(this).text("Show Charts"); 
        }; 
    });
</script>


