@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.models.FacetHandler

@(	page : Int,
	rows : Int,
	facets : String,
	resultsSize : Long,
	results : org.hadatac.data.model.AcquisitionQueryResult,
	documentJson : String,
	handler : FacetHandler,
	objDetails : String
)

<script type="text/javascript" src="/hadatac/assets/javascripts/measurement.js"></script>
<script>
    function checkParentNodes(tree, root_id, child_id) {
        if (tree.getAllSubItems(root_id).split(",").includes(child_id.toString())) {
        	tree.setCheck(root_id, true);
        }
        
        var subitems = tree.getSubItems(root_id);
        if (subitems.length > 0) {
            subitems.split(",").forEach(function(element) {
            	checkParentNodes(tree, element, child_id);
            });
        }
    }
    
    function refreshTreeCheckStatus(tree, id) {
    	var hasCheckedSubitems = false;
    	var subitems = tree.getSubItems(id);
        if (subitems.length > 0) {
        	subitems.split(",").forEach(function(element) {
                refreshTreeCheckStatus(tree, element);
                if (tree.isItemChecked(element)) {
                    hasCheckedSubitems = true;
                }
            });
        	
        	if (!hasCheckedSubitems) {
                tree.setCheck(id, false);
            }
        }
    }
   
    function loadTree(tree, data) {
        tree.enableCheckBoxes(true, true);
        tree.enableThreeStateCheckboxes(false);
        tree.setImagePath("@controllers.routes.Assets.versioned("lib/dhtmlx/imgs/dhxtree_skyblue/")");
        tree.setDataMode("json");
        tree.attachEvent("onCheck", function(id) {
        	tree.setSubChecked(id, tree.isItemChecked(id));
            if (tree.isItemChecked(id)) {
                checkParentNodes(tree, 0, id);
            } else {
            	refreshTreeCheckStatus(tree, 0);
            }
        });
        tree.parse(data, "json");
    }
    
    var jsonTree, dataTree, selected_elems;
    var treeEC;
    selected_elems = JSON.parse('@handler.values(FacetHandler.ENTITY_CHARACTERISTIC_FACET)'.replace(/&quot;/g,'"'));
    dataTree = parseSolrFacetToMergedTree('@FacetHandler.ENTITY_CHARACTERISTIC_FACET', selected_elems);
    //dataTree = parseSolrFacetToTree('@FacetHandler.ENTITY_CHARACTERISTIC_FACET', selected_elems);
    treeEC = new dhtmlXTreeObject("treeEntityCharacteristicBox","100%","100%",0);
    loadTree(treeEC, dataTree);
    
    var treeS;
    selected_elems = JSON.parse('@handler.values(FacetHandler.STUDY_FACET)'.replace(/&quot;/g,'"'));
    dataTree = parseSolrFacetToTree('@FacetHandler.STUDY_FACET', selected_elems);
    console.log("dataTree: " + JSON.stringify(dataTree));
    treeS = new dhtmlXTreeObject("treeStudyBox","100%","100%",0);
    loadTree(treeS, dataTree);
    
    var treeU;
    selected_elems = JSON.parse('@handler.values(FacetHandler.UNIT_FACET)'.replace(/&quot;/g,'"'));
    dataTree = parseSolrFacetToTree('@FacetHandler.UNIT_FACET', selected_elems);
    treeU = new dhtmlXTreeObject("treeUnitBox","100%","100%",0);
    loadTree(treeU, dataTree);
    
    var treeT;
    selected_elems = JSON.parse('@handler.values(FacetHandler.TIME_FACET)'.replace(/&quot;/g,'"'));
    dataTree = parseSolrFacetToTree('@FacetHandler.TIME_FACET', selected_elems);
    treeT = new dhtmlXTreeObject("treeTimeBox","100%","100%",0);
    loadTree(treeT, dataTree);

    var treePI;
    selected_elems = JSON.parse('@handler.values(FacetHandler.PLATFORM_INSTRUMENT_FACET)'.replace(/&quot;/g,'"'));
    dataTree = parseSolrFacetToTree('@FacetHandler.PLATFORM_INSTRUMENT_FACET', selected_elems);
    treePI = new dhtmlXTreeObject("treePlatformInstrumentBox","100%","100%",0);
    loadTree(treePI, dataTree);
</script>


