@(oper: String, message : String)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.dataacquisitionsearch._
@import org.hadatac.data.loader._
@import org.hadatac.metadata.loader._
@import java.net._

@main("Load CCSV file") {
 
    <div class="container-fluid">
      
      <div class="row">

        <div class="col-md-8 col-md-offset-1">

	     <h4>Load CCSV file into measurement repository...</h4>
        
             @if(oper=="init") {
             	 The data collection store has @DataContext.playTotalDataAcquisitions() data collections. <br>
                 The measurement store has @DataContext.playTotalMeasurements() measurements. <br>


              <form name="fileUploadForm" method="POST" enctype="multipart/form-data" action="@org.hadatac.console.controllers.dataacquisitionsearch.routes.LoadCCSV.uploadFile()">
                     <input type="file" class="btn btn-info" name="pic">
                     Are your sure you want to have the CCSV file loaded and indexed into the measurements repository?
                     <input type="submit" class="btn btn-success" value="Confirm">
                     <a href="@org.hadatac.console.controllers.dataacquisitionsearch.routes.LoadCCSV.loadCCSV("cancelled")" class="btn btn-danger" role="button">Cancel</a>
              </form>
            }

             <p  style='font-family: "Lucida Console", Monaco, monospace;' id='msgarea'></p>
         
             @if(oper=="cancelled") {
                <div id="cancel-box">
                   <h4>Operation [Load CCSV file] has been cancelled.</h4>
                   Press OK button to return to HADataC's main page <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-primary" role="button">Ok</a>
	        </div>
             }

             
           <div id="end-process-box" style="display:none;">
                  <h4>Operation [Load CCSV file] complete -- check the results above to see if the clean was successful.</h4>
                  Press OK button to return to HADataC's main page <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-primary" role="button">Ok</a>
	       </div>

     	     @if(oper=="loaded") {
                 <script> 
                       var msg = "@LoadCCSV.playLoadCCSV()";
                       $('#msgarea').html(msg.replace(/&lt;br&gt;/g, '<br>'));
                       document.getElementById('end-process-box').style.display = 'inline';
                 </script> 
              }

	   </div>

      </div>

    </div>

}
