@(suffix   : String,
  variableSpec : org.hadatac.entity.pojo.VariableSpec,
  i        : Integer)

@import org.hadatac.metadata.loader.URIUtils;
@import org.hadatac.entity.pojo.HarmonizedVariableSpec;
@import org.hadatac.entity.pojo.OriginalVariableSpec;
@import org.hadatac.console.views.html.schema._

<div class="modal-content">
    <span id="@suffix@(i+1)" class="close">&times;</span>
    <h3>Variable @variableSpec.getLabel()</h3>
    <br>
    <b>Type</b>: @variableSpec.getClass().getSimpleName()
    <br><br>
    <div class="panel panel-default">
        <div class="panel-heading">Provenance</div>
        <div class="panel-body">
            @if(variableSpec.getClass().getSimpleName().equals("HarmonizedVariableSpec")) {
               <b>Harmonization Strategy</b>: Normalization Matching <br>
               <b>Original variableSpec List</b>:
               <ul>
                   @for(origVar <- variableSpec.asInstanceOf[HarmonizedVariableSpec].getSourceList()) {
                        @if(origVar != null) {
                            <li>@origVar.toString()</li>
                        }
                   }
                </ul>
            } else if(variableSpec.getClass().getSimpleName().equals("OriginalVariableSpec")) {
               <b>Source Document List</b>:
               <ul>
               @for(dfn <- variableSpec.asInstanceOf[OriginalVariableSpec].getDataFileNames()) {
                   @if(dfn != null) {
                        <li>@dfn</li>
                   }
               }
               </ul>
            } else {
               NONE
            }
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Dictionary Normalization</div>
        <div class="panel-body">
            <b>Automated Normalized Label</b>: @variableSpec.toString()<br>
            @if(variableSpec.getRole() != null) {
                <b>Role</b>: @variableSpec.getRole<br>
            } else {
                <b>Role</b>: NONE<br>
            }
            @if(variableSpec.getEntity() != null) {
                <b>Entity</b>: @variableSpec.getEntity().getLabel() (@URIUtils.replaceNameSpaceEx(variableSpec.getEntity().getUri()))<br>
                @if(variableSpec.getEntity().getComment() != null && !variableSpec.getEntity().getComment().equals("")) {
                    @variableSpec.getEntity().getComment()<br>
                }
            } else {
                <b>Entity</b>: NONE<br>
            }
            @if(variableSpec.getAttributeList() != null) {
                <b>Attribute List</b>: <br>
                <ul>
                    @for(attr <- variableSpec.getAttributeList()) {
                        @if(attr != null) {
                            <li>@attr.getLabel() (@URIUtils.replaceNameSpaceEx(attr.getUri()))</li>
                        }
                    }
                </ul>
            } else {
                <b>Attribute List</b>: NONE<br>
            }
            @if(variableSpec.getInRelationTo() != null) {
               <b>In Relation To</b>: @variableSpec.getInRelationTo().getLabel() (@URIUtils.replaceNameSpaceEx(variableSpec.getInRelationTo().getUri()))<br>
            } else {
                <b>In Relation To</b>: NONE<br>
            }
            @if(variableSpec.getUnit() != null) {
               <b>Unit</b>: @variableSpec.getUnit().getLabel() (@URIUtils.replaceNameSpaceEx(variableSpec.getUnit().getUri()))<br>
            } else {
               <b>Unit</b>: NONE<br>
            }
            @if(variableSpec.getTime() != null) {
               <b>Time</b>: @variableSpec.getTime().getLabel() (@URIUtils.replaceNameSpaceEx(variableSpec.getTime().getUri()))<br>
            } else {
               <b>Time</b>: NONE<br>
            }
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Codebook Normalization</div>
        <div class="panel-body">
            @if(variableSpec.getCodebook() != null && variableSpec.getCodebook().size() > 0) {
                <table class="table">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Code Label</th>
                        <th>Class</th>
                        <th>Harmonized Code</th>
                        <th>Resource</th>
                        <th>Other For</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(pv <- variableSpec.getCodebook()){
                    @PV_entry(pv, false)
                    }
                    </tbody>
                </table>
            } else {
                NONE<br>
            }

        </div>
    </div>
</div>


