@()

	<script type="text/javascript">
		var cur_page = 1;
		var page_size = 15;
		var num_results = 1000;
		var total_page = Math.ceil(num_results/page_size);
		function nextPage(){
			if(cur_page < total_page){
				for(i = (cur_page - 1) * page_size; i < Math.min(cur_page * page_size, num_results); i++){
					document.getElementById(i.toString()).style.display = 'none';
				}
				cur_page += 1;
				for(i = (cur_page - 1) * page_size; i < Math.min(cur_page * page_size, num_results); i++){
					document.getElementById(i.toString()).style.display = '';
				}
			}
			updatePage();
		}
		function prevPage(){
			if(cur_page > 1){
				cur_page -= 1;
				
			}
			updatePage();
		}
		function firstPage(){
			for(i = (cur_page - 1) * page_size; i < Math.min(cur_page * page_size, num_results); i++){
				document.getElementById(i.toString()).style.display = 'none';
			}
			cur_page = 1;
			for(i = (cur_page - 1) * page_size; i < Math.min(cur_page * page_size, num_results); i++){
				document.getElementById(i.toString()).style.display = '';
			}
			updatePage();
		}
		function lastPage(){
			for(i = (cur_page - 1) * page_size; i < Math.min(cur_page * page_size, num_results); i++){
				document.getElementById(i.toString()).style.display = 'none';
			}
			cur_page = total_page;
			for(i = (cur_page - 1) * page_size; i < Math.min(cur_page * page_size, num_results); i++){
				document.getElementById(i.toString()).style.display = '';
			}
			updatePage();
		}
		function updatePage(docs){
			if(cur_page == 1){
				document.getElementById('prevpage').disabled = true;
				document.getElementById('firstpage').disabled = true;
			}
			else{
				document.getElementById('prevpage').disabled = false;
				document.getElementById('firstpage').disabled = false;
			}
			if(cur_page == total_page){
				document.getElementById('nextpage').disabled = true;
				document.getElementById('lastpage').disabled = true;
			}
			else{
				document.getElementById('nextpage').disabled = false;
				document.getElementById('lastpage').disabled = false;
			}
			
			var pages;
			pages = "Current Page: " + cur_page.toString() + " \/ " + total_page.toString() 
					+ ", Number of Result: " + num_results.toString();
			document.getElementById('pagecontrl').innerHTML = pages;

			var table = document.getElementById("measurementsTable");
			while(table.rows.length > 1) {
				table.deleteRow(1);
			}
			for(var m in docs){
				var row = table.insertRow(0);
				var object = row.insertCell(0);
			    var characteristic = row.insertCell(1);
			    var value = row.insertCell(2);
			    var timestamp = row.insertCell(3);
			    var location = row.insertCell(4);
			    object.innerHTML = m[entity];
			    characteristic.innerHTML = m[characteristic];
			    value.innerHTML = m[value];
			    timestamp.innerHTML = m[timestamp];
			    location.innerHTML = m[location];	
			}
		}
	</script>

    <div class="table-responsive">
    	<button type="button" id="prevpage"class="btn btn-primary" onClick="prevPage();">Previous Page</button>
    	<button type="button" id="nextpage" class="btn btn-primary" onClick="nextPage();">Next Page</button>
    	<button type="button" id="firstpage" class="btn btn-primary" onClick="firstPage();">First Page</button>
    	<button type="button" id="lastpage"class="btn btn-primary" onClick="lastPage();">Last Page</button>
    	<p id="pagecontrl"></p>
    	<table class="table table-striped" id="measurementsTable">
            <thead>
              <tr>
              	<th>Object</th>
                <th>Characteristic</th>
                <th>Value</th>
                <th>Timestamp</th>
                <th>Location</th>
              </tr>
            </thead>
        </table>
    </div>