@( page : Int,
   rows : Int,
   facets : String,
   documents : List[org.hadatac.entity.pojo.Measurement],
   resultsSize : Long,
   objDetails : String
 )

	<script type="text/javascript">
                function decodeString(encodedString) {
                   var textArea = document.createElement('textarea');
                   textArea.innerHTML = encodedString;
                   return textArea.value;
                }        
                var details = decodeString("@objDetails");
                console.log(details);
                jsonDetails = JSON.parse(details);
                console.log(jsonDetails);
		onload = function() {
			if (!document.getElementsByTagName || !document.createTextNode) return;
			var rows = document.getElementById('measurementsTable').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
			for (i = 0; i < rows.length; i++) {
				rows[i].onmouseover = function() {
					var row = this.rowIndex - 1;
					document.getElementById('detail_uri').innerHTML = json.documents[row]['uri'];
					document.getElementById('detail_timestamp').innerHTML = json.documents[row]['timestamp'];
					document.getElementById('detail_value').innerHTML = json.documents[row]['value'];
					document.getElementById('detail_entity').innerHTML = json.documents[row]['entity'];
					//document.getElementById('detail_entity_uri').innerHTML = json.documents[row]['entityUri'];
					document.getElementById('detail_characteristic').innerHTML = json.documents[row]['characteristic'];
					//document.getElementById('detail_characteristic_uri').innerHTML = json.documents[row]['characteristicUri'];
					document.getElementById('detail_unit').innerHTML = json.documents[row]['unit'];
					//document.getElementById('detail_unit_uri').innerHTML = json.documents[row]['unitUri'];
					document.getElementById('detail_instrument_model').innerHTML = json.documents[row]['instrumentModel'];
					//document.getElementById('detail_instrument_uri').innerHTML = json.documents[row]['instrumentUri'];
					document.getElementById('detail_platform_name').innerHTML = json.documents[row]['platformName'];
                   	//var oid = json.documents[row]['objectUri'];
					//document.getElementById('detail_object').innerHTML = jsonDetails[oid];

				}
			}
			
			updatePage();
		}
		
		var page_size = 15;
		var num_results = @resultsSize;
		var total_page = Math.ceil(num_results/page_size);
		var cur_page = @page; 
		if(cur_page > total_page){
			cur_page = total_page;
		}
		function nextPage(){
			window.location.href = "@org.hadatac.console.controllers.dataacquisitionsearch.routes.DataAcquisitionSearch.indexData(page + 1, rows, facets)";
		}
		function prevPage(){
			window.location.href = "@org.hadatac.console.controllers.dataacquisitionsearch.routes.DataAcquisitionSearch.indexData(page - 1, rows, facets)";
		}
		function firstPage(){
			window.location.href = "@org.hadatac.console.controllers.dataacquisitionsearch.routes.DataAcquisitionSearch.indexData(1, rows, facets)";
		}
		function lastPage(){
			window.location.href = "@org.hadatac.console.controllers.dataacquisitionsearch.routes.DataAcquisitionSearch.indexData(Math.ceil(resultsSize/15).intValue() + 1, rows, facets)";
		}
		function updatePage(){
			if(cur_page == 1){
				document.getElementById('prevpage').disabled = true;
				document.getElementById('firstpage').disabled = true;
			}
			else{
				document.getElementById('prevpage').disabled = false;
				document.getElementById('firstpage').disabled = false;
			}
			if(cur_page == total_page){
				document.getElementById('nextpage').disabled = true;
				document.getElementById('lastpage').disabled = true;
			}
			else{
				document.getElementById('nextpage').disabled = false;
				document.getElementById('lastpage').disabled = false;
			}
			
			var pages;
			pages = "Current Page: " + cur_page.toString() + " \/ " + total_page.toString() 
					+ ", Number of Result: " + num_results.toString();
			document.getElementById('pagecontrl').innerHTML = pages;
		}
	</script>

    <div class="table-responsive">
    	<button type="button" id="prevpage"class="btn btn-primary" onClick="prevPage();">Previous Page</button>
    	<button type="button" id="nextpage" class="btn btn-primary" onClick="nextPage();">Next Page</button>
    	<button type="button" id="firstpage" class="btn btn-primary" onClick="firstPage();">First Page</button>
    	<button type="button" id="lastpage"class="btn btn-primary" onClick="lastPage();">Last Page</button>
    	<p id="pagecontrl"></p>
    	<table class="table table-striped" id="measurementsTable">
            <thead>
              <tr>
              	<th>Object</th>
                <th>Attribute</th>
                <th>Value</th>
                <th>PID</th>
                <th>SID</th>       
                <th>Time</th>
                <!-- <th>Object URI</th> -->     
                <th>Location</th>
              </tr>
            </thead>

            <tbody>
            	@for((document, index) <- documents.zipWithIndex) {
                <tr id="@index">
                    <td>@document.getEntity()</td>
                	<td>@document.getCharacteristic()</td>
                	<td>@document.getValue()</td>
                	<td>@document.getObjectPID()</td>
                	<td>@document.getObjectSID()</td>
                	<td>@document.getTimestamp()</td>
                	<!-- <td>@document.getObjectUri()</td> -->
                	<td>@document.getLocation()</td>
                </tr>
                }
            </tbody>

        </table>
    </div>
