@(collection_url : java.lang.String)

@import helper._
@import org.hadatac.console.views.html._

@main("Data Acquisitions Faceted Browser") {
   		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/vendor/jquery/1.7.1/jquery-1.7.1.min.js")"></script>
		<link rel="stylesheet" type="text/css" href="@controllers.routes.Assets.versioned("javascripts/vendor/bootstrap/css/bootstrap.min.css")"/>
		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/vendor/bootstrap/js/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/vendor/linkify/1.0/jquery.linkify-1.0-min.js")"></script>

		<link rel="stylesheet" href="@controllers.routes.Assets.versioned("javascripts/vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css")"/>
		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js")"></script>
		
		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/jquery.facetview.js")"></script>
		
  		<link rel="stylesheet" type="text/css" href="@controllers.routes.Assets.versioned("css/facetview.css")"/>
  		<link rel="stylesheet" type="text/css" href="@controllers.routes.Assets.versioned("css/style.css")"/>
		  <!-- Load c3.css -->
		<link rel="stylesheet" type="text/css" href="@controllers.routes.Assets.versioned("javascripts/vendor/c3-0.4.10/c3.css")"/>
		  <!-- Load d3.js and c3.js -->
		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/vendor/d3-3.5.6/d3.min.js")"></script>
		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/vendor/c3-0.4.10/c3.min.js")"></script>
				
  <script type="text/javascript">
jQuery(document).ready(function($) {
  $('.facet-view-simple').each(function() {
  $(this).facetview({
    search_url: '@collection_url',
    search_index: 'solr',
    datatype: 'json',
    facets: [
        {'field': 'a', 'display': 'Data Acquisition Type'},
        {'field': 'provwasAssociatedWith', 'display': 'Associated With'},
        {'field': 'hascoisDataAcquisitionOf', 'display': 'Study'},
        {'field': 'hascohasSchema', 'display': 'Schema'},
        {'field': 'hascohasMethod', 'display': 'Method'},
    ],
    search_sortby: [{'display':'Data Acquisition Type', 'field':'a.exact'},{'display':'Data Acquisition Of', 'field':'hascoisDataAcquisitionOf.exact'}],
    searchbox_fieldselect: [{'display':'Data Acquisition Type', 'field':'a.exact'},{'display':'Data Acquisition Of', 'field':'hascoisDataAcquisitionOf.exact'}],
    paging: {
      size: 10
    },
    predefined_filters: {
        //'owner.exact': {'term':{'owner.exact':'test'}}
    },
    result_display : [
        [
          {
            "pre" : "<h3>",
            "field" : "hasURI",
            "post" : "</h3>"
          }
        ],
        [
          {
            "pre" : "<b>(",
            "field" : "label",
            "post" : ")</b>"
          }
        ],
        [
          {
            "pre" : "<b>Data Acquisition Of: </b>",
            "field" : "hascoisDataAcquisitionOf",
            "post" : " "
          }
        ],
        [
          {
            "pre" : "<b>Associated With: </b>",
            "field" : "provwasAssociatedWith",
            "post" : " "
          }
        ],
        [
          {
            "pre" : "<b>Has Method: </b>",
            "field" : "hascohasMethod",
            "post" : " "
          }
        ],
        [
          {
            "pre" : "<b>Has Schema: </b>",
            "field" : "hascohasSchema",
            "post" : " "
          }
        ],
        [
          {
            "pre" : " ",
            "field" : "rdfscomment",
            "post" : ". "
          }
        ]
    ],
    default_operator: "AND",
    default_freetext_fuzzify: "*"
  });
  });
});
  </script>
	<hr>  
    <div class="container-fluid">
    <div class="page-header">
      <h2>
      Data Acquisitions Faceted Search
      </h2>
    </div>
    
    <div class="content">
    
	  <div class="facet-view-simple"></div>

   </div> 
}