@(collection_url : java.lang.String)

@import helper._
@import org.hadatac.console.views.html._

@main("Study Browser Home") {
   		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/vendor/jquery/1.7.1/jquery-1.7.1.min.js")"></script>
		<link rel="stylesheet" type="text/css" href="@controllers.routes.Assets.versioned("javascripts/vendor/bootstrap/css/bootstrap.min.css")"/>
		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/vendor/bootstrap/js/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/vendor/linkify/1.0/jquery.linkify-1.0-min.js")"></script>

		<link rel="stylesheet" href="@controllers.routes.Assets.versioned("javascripts/vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css")"/>
		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js")"></script>
		
		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/jquery.facetview.js")"></script>
		
  		<link rel="stylesheet" type="text/css" href="@controllers.routes.Assets.versioned("css/facetview.css")"/>
  		<link rel="stylesheet" type="text/css" href="@controllers.routes.Assets.versioned("css/style.css")"/>
		  <!-- Load c3.css -->
		<link rel="stylesheet" type="text/css" href="@controllers.routes.Assets.versioned("javascripts/vendor/c3-0.4.10/c3.css")"/>
		  <!-- Load d3.js and c3.js -->
		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/vendor/d3-3.5.6/d3.min.js")"></script>
		<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/vendor/c3-0.4.10/c3.min.js")"></script>
				
  <script type="text/javascript">
jQuery(document).ready(function($) {
  $('.facet-view-simple').each(function() {
  $(this).facetview({
    search_url: '@collection_url',
    search_index: 'solr',
    datatype: 'json',
    facets: [
        {'field': 'casehasScale', 'display': 'Scale'},
        {'field': 'hascohasProject', 'display': 'Project'},
        {'field': 'hascohasGrant', 'display': 'Grant'},
    ],
    search_sortby: [{'display':'URI','field':'uri.exact'}],
    searchbox_fieldselect: [{'display':'URI', 'field':'uri.exact'}],
    paging: {
      size: 10
    },
    predefined_filters: {
        //'owner.exact': {'term':{'owner.exact':'test'}}
    },
    result_display : [
        [
          {
            "pre" : "<h3>",
            "field" : "rdfslabel",
            "post" : " - "
          },
          {
            "pre" : "(",
            "field" : "uri",
            "post" : ")</h3>"
          }
        ],
        [
          {
            "pre" : "<b>Type:</b> ",
            "field" : "a",
            "post" : ", "
          },
          {
            "pre" : "<b>Scale:</b> ",
            "field" : "casehasScale",
            "post" : " "
          }
        ],
        [
          {
            "pre" : "<b>Principal Investigator(s):</b> ",
            "field" : "hascohasPI",
            "post" : " "
          }
        ],
        [
          {
            "pre" : "<b>Grant(s):</b> ",
            "field" : "hascohasGrant",
            "post" : " "
          }
        ],
        [
          {
            "pre" : "<p>",
            "field" : "rdfscomment",
            "post" : "</p>"
          }
        ]
    ],
    default_operator: "AND",
    default_freetext_fuzzify: "*"
  });
  });
});
  </script>
	<hr>  
    <div class="container-fluid">
    <div class="page-header">
      <h2>
      Study Faceted Search
      </h2>
    </div>
    
    <div class="content">
    
	  <div class="facet-view-simple"></div>

   </div> 
}
