@()

@import helper._
@import org.hadatac.console.views.html._

@main("sub3Pilot5") {
   
    <link rel="stylesheet" href="http://openlayers.org/en/v3.9.0/css/ol.css">
    <script type="text/javascript" charset="utf-8" src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" charset="utf-8" src="@controllers.routes.Assets.versioned("javascripts/openLayersFunctions.js")"></script>

    <div class="row">
        <div class="col-md-6">
            <h1>View Subject</h1>
            
                       <h2>Basic Info</h2>
                <ul>
                    <li><b>URI</b>: Subject0003 (chear-kb:SBJ-0003-Pilot-5)</li>
                    <li><b>Type</b>: Person (sio:Human)</li>
                    <li><b>Label</b>: ID 0003 - Pilot 5</li>    
                    <li><b>Of Study</b>: Pilot Study 5 (chear-kb:CH-Pilot-5)</li>                      
                </ul>

             <h2>Attribute Info</h2>
                <ul>
						<li><b>Mother's education in categories</b>  
							<li><b>Label</b>: educ_3cat 
							<li><b>uri</b>: chear-kb:AR-educ_3cat</li>
							</li>
						</li>
						<li><b>Mother's hemoglobin</b>  
							<li><b>Label</b>: cbc_hemogM 
							<li><b>uri</b>: chear-kb:AR-cbc_hemogM</li>
							</li>
						</li>
						<li><b>Child's gestational age in complete weeks</b>  
							<li><b>Label</b>: gestage_comb 
							<li><b>uri</b>: chear-kb:AR-gestage_comb</li>
							</li>
						</li>
						<li><b>Mother's height in cm.</b>  
							<li><b>Label</b>: height_m_mean_cm 
							<li><b>uri</b>: chear-kb:AR-height_m_mean_cm</li>
							</li>
						</li>
						<li><b>Mother's age in years</b>  
							<li><b>Label</b>: mother_age_year 
							<li><b>uri</b>: chear-kb:AR-mother_age_year</li>
							</li>
						</li>
						<li><b>SES index</b>  
							<li><b>Label</b>: SES_scored 
							<li><b>uri</b>: chear-kb:AR-SES_scored</li>
							</li>
						</li>																													
						<li><b>Child's sex</b>  
							<li><b>Label</b>: sexo_h 
							<li><b>uri</b>: chear-kb:AR-sexo_h</li>
							</li>
						</li>
						<li><b>SES index</b>  
							<li><b>Label</b>: SES_scored 
							<li><b>uri</b>: chear-kb:AR-SES_scored</li>
							</li>
						</li>
						<li><b>Mother's highest grade of education</b>  
							<li><b>Label</b>: t10g 
							<li><b>uri</b>: chear-kb:AR-t10g</li>
							</li>
						</li>
						</li>
						<li><b>Head of the household, highest grade of education</b>  
							<li><b>Label</b>: t23g 
							<li><b>uri</b>: chear-kb:AR-t23g</li>
							</li>
						</li>
						</li>
						<li><b>Total number of rooms in the home</b>  
							<li><b>Label</b>: t24 
							<li><b>uri</b>: chear-kb:AR-t24</li>
							</li>
						</li>
						</li>
						<li><b>Mother's IQ</b>  
							<li><b>Label</b>: w7_iq 
							<li><b>uri</b>: chear-kb:AR-w7_iq</li>
							</li>
						</li>

                </ul>
        </div>
        </div>
}