@(indicatorValueResults : List[org.hadatac.entity.pojo.Measurement])

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.metadataacquisition._
@import helper._
@import org.hadatac.console.controllers._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import play.api.Play._
@import play.api.Play.current

@main("View Indicators") {
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://openlayers.org/en/v3.9.0/css/ol.css">
    <script type="text/javascript" charset="utf-8" src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://tablesorter.com/addons/pager/jquery.tablesorter.pager.js"></script>
    <script type="text/javascript" charset="utf-8" src="@controllers.routes.Assets.versioned("javascripts/openLayersFunctions.js")"></script>
    <script type="text/javascript" charset="utf-8" src="@controllers.routes.Assets.versioned("javascripts/jquery-latest.js")"></script> 
	<script type="text/javascript" charset="utf-8" src="@controllers.routes.Assets.versioned("javascripts/jquery.tablesorter.js")"></script>
   	<script>
		$(document).ready(function() { 
		    $("#myTable").tablesorter({widthFixed: true, widgets: ['zebra']}).tablesorterPager({container: $("#pager")});
		});
   	</script>
    </head>
    <body>
    <div class="row">
        <div class="col-md-6">
            <h1>Indicator Values</h1>
 			@if(indicatorValueResults.isEmpty()){
 				NULL
 			}else{
 				<h2>@indicatorValueResults.get(0).getUri().toString()</h2>
 				<h3><b>Name:</b>@indicatorValueResults.get(0).getCharacteristic()</h3>
 				
				<table id="myTable" class="tablesorter">
				<thead>
					<tr><th>Subject</th><th>Value</th></tr>
				</thead>
				<tbody>
					@for(i <- indicatorValueResults){
						<tr><td>@i.getObjectUri()</td><td>@i.getValue()</td></tr>
					}
				</tbody>
				</table>
				
 			}
	        <div id="pager" class="pager">
				<form>
					<img src="http://tablesorter.com/addons/pager/icons/first.png" class="first"/>
					<img src="http://tablesorter.com/addons/pager/icons/prev.png" class="prev"/>
					<input type="text" class="pagedisplay"/>
					<img src="http://tablesorter.com/addons/pager/icons/next.png" class="next"/>
					<img src="http://tablesorter.com/addons/pager/icons/last.png" class="last"/>
					<select class="pagesize">
						<option selected="selected"  value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option  value="40">40</option>
					</select>
				</form>
			</div>
	            
    	</div>
    </div>
    
    
    
   <div><a href="@org.hadatac.console.http.routes.SolrSearchProxy.getIndicatorValueDownload("/data/indicatorDetails.csv")" class="btn btn-info btn-lg" role="button">Download</a></div>
   </body>
}