@(subjectResult : Map[String, List[String]],
  sampleResult	: Map[String, List[String]],
  indicatorValues : Map[String, List[String]],
  indicatorUris	: Map[String,String],
  showValues : Map[String,String])

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.metadataacquisition._
@import helper._
@import org.hadatac.console.controllers._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import play.api.Play._
@import play.api.Play.current

@main("Subject View") {
    <link rel="stylesheet" href="http://openlayers.org/en/v3.9.0/css/ol.css">
    <script type="text/javascript" charset="utf-8" src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" charset="utf-8" src="@controllers.routes.Assets.versioned("javascripts/openLayersFunctions.js")"></script>
    <div class="row">
        <div class="col-md-6">
            <h2>Subject View</h2>
                
             <h3>Basic Info</h3>
				<ul>        		
					@for(key <- subjectResult.keySet()){
						<li>@key.toString
							<ul>
							@for(s <- subjectResult.get(key)) {
								<li>@s.toString</li>
							}
							</ul>
						</li>
					}
				</ul>
				
				<table style="width:80%">
					<tr><th><h3>Indicator</h3></th><th><h3>Value</h3></th><th><h3>Data URI</h3></th></tr>
					@for(key <- indicatorValues.keySet()){
						@if(indicatorValues.get(key).toString() != ""){
							@if(indicatorValues.get(key).length>0){
							<tr><td><b>@key.toString</b></td></tr>
								@for( i <- indicatorValues.get(key)){
										<tr><td></td><td>@i.toString()</td><td><a href="@org.hadatac.console.controllers.metadataacquisition.routes.ViewValue.index(showValues.get("user").toString(), showValues.get("study").toString(), showValues.get("subject").toString(), indicatorUris.get(i).toString())"><b>@indicatorUris.get(i).toString().replace("http://hadatac.org/ont/","")</b></a><br></td></tr>
								}
							}
						}
					}
				</table>
			
			

			<h3>Sample List</h3>
				<ul>
					@for(key <- sampleResult.keySet()){
						<li><a href="@org.hadatac.console.controllers.metadataacquisition.routes.ViewSample.index(key.toString(), showValues.get("study").toString(), showValues.get("subject").toString())">@key.toString()</a>
							<ul>
							@for(s <- sampleResult.get(key)) {
							<li>@s.toString()</li>
							}
							</ul>
						</li>
					}
				</ul>
    	</div>
    </div>
}
