@(filename      : String,
  da_uri        : String,
  study         : org.hadatac.entity.pojo.Study,
  oc            : org.hadatac.entity.pojo.ObjectCollection,
  ocDomainList  : List[org.hadatac.entity.pojo.ObjectCollection],
  ocSpaceList   : List[org.hadatac.entity.pojo.ObjectCollection],
  ocTimeList    : List[org.hadatac.entity.pojo.ObjectCollection],
  ocTypeList    : List[org.hadatac.entity.pojo.ObjectCollectionType])

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._
@import org.hadatac.entity.pojo.Agent
@import org.hadatac.metadata.loader.ValueCellProcessing
@import play._

@main("Edit Object Collection") {

  <div class="container">
    <h4>Edit Object Collection for Study @study.getLabel()</h4>

   <script type="text/javascript">
     function checkform() {
        var cansubmit = true;
	
	if (!document.getElementById('newLabel').value || 
            document.getElementById('newLabel').value.length === 0) {
	   cansubmit = false;
	}

	if (!document.getElementById('newType').value || 
            document.getElementById('newType').value.length === 0) {
	   cansubmit = false;
	}

	if (cansubmit) {
	  document.getElementById('submit').disabled = false;
	} else {
	  document.getElementById('submit').disabled = 'disabled';
	}
     }

     function replaceAll(str, find, replace) {
        while (str.indexOf(find) > -1) {
            str = str.replace(find, replace);
        }
        return str;
     }
       
     function labelchange() {
        var newUri = "@Play.application().configuration().getString("hadatac.community.ont_prefix")" + 
                     "-kb:OC-" + 
                     "@study.getLabel()" + "-" + 
                     document.getElementById("newLabel").value;
        newUri = replaceAll(newUri," ","-");
	newUri = replaceAll(newUri,"<","");
        newUri = replaceAll(newUri,">","");
        newUri = replaceAll(newUri,"?","");
	$('#newUri').val(newUri);
        checkform();
     };

   </script>

    <form class="form-horizontal" name="editObjectColleciton" method="post" action="@org.hadatac.console.controllers.objectcollections.routes.EditOC.processForm(filename, da_uri, study.getUri(),oc.getUri())">
	
	<div class="form-group">
		<label>URI:</label>
		<input type="text" class="form-control col-sm-6" name="newUri" id="newUri" 
		       value="@ValueCellProcessing.replaceNameSpaceEx(oc.getUri())" onchange="checkform()" readonly >
 	</div>
 	<div class="form-group">
		<label>Short Name:</label>
 		<input type="text" class="form-control col-sm-6" name="newLabel" id="newLabel" 
		       value="@oc.getLabel()" onchange="labelchange()" >
 	</div>
	<div class="form-group">
	        <label>Type:</label>
	        <select id="newType" class="form-control col-sm-6" name="newType" value="@oc.getObjectCollectionType(),getUri()" onchange="checkform()">
	        <option></option>
	           @if(ocTypeList != null) {
                      @for(ocType <- ocTypeList){
        	          @if(oc.getObjectCollectionType().getUri() != null) {
 	                      @ocType_select_entry(ocType,oc.getObjectCollectionType().getUri())
                          } else {
 	                      @ocType_select_entry(ocType,"")
                          }
                      }
                   }
	        </select>
 	</div>
 	<div class="form-group">
		<label>Description</label>
 		<input type="text" class="form-control col-sm-6" name="newComment" id="newComment" value="@oc.getComment()" onchange="checkform()" >
 	</div>
     
        <div class="form-group">
          <label>Domain Scope</label>
	  <select id="newHasScopeUri" class="form-control col-sm-6" name="newHasScopeUri">
	    <option></option>
	    @if(ocDomainList != null) {
               @for(domain <- ocDomainList){
	           @if(oc.getHasScope() != null) {
 	              @oc_select_entry(domain,oc.getHasScopeUri())
                   } else {
 	              @oc_select_entry(domain,"")
                   }
               }
            }
	  </select>
        </div>
           
        <div class="form-group">
          <label>Location Scope</label> (multiple options allowed)
	  <select id="spaceUri" class="form-control col-sm-6" size="3" multiple="multiple" name="spaceUri[]">
	    @if(ocSpaceList != null) {
               @for(domain <- ocSpaceList){
	           @if(oc.getSpaceScopes() != null) {
 	              @ocList_select_entry(domain,oc.getSpaceScopeUris())
                   } else {
 	              @ocList_select_entry(domain,null)
                   }
               }
            }
	  </select>
        </div>
           
        <div class="form-group">
          <label>Time Scope</label> (multiple options allowed)
	  <select id="timeUri" class="form-control col-sm-6" size="3" multiple="multiple" name="timeUri[]">
	    @if(ocTimeList != null) {
               @for(domain <- ocTimeList){
	           @if(oc.getTimeScopes() != null) {
 	              @ocList_select_entry(domain,oc.getTimeScopeUris())
                   } else {
 	              @ocList_select_entry(domain,null)
                   }
               }
            }
	  </select>
        </div>
           
	<div class="form-group">
	  <label>Updates</label> <br>
	  <input class="btn btn-success btn-sm" role="button" type="submit" id="submit" value="Save Object Collection" disabled /><br>
	  <a href="@org.hadatac.console.controllers.objectcollections.routes.OCManagement.index(filename, da_uri, study.getUri())" class="btn btn-primary" role="button">Back to Object Collection Management</a>
	</div>
	<script>checkform()</script>
     
   </form>
  </div>

}
