@(study  : org.hadatac.entity.pojo.Study,
  ocList : List[org.hadatac.entity.pojo.ObjectCollection])

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.utils._

@main("Object Management") {

  <div class="container-fluid">
    <h3>Management of Study <i><font color="darkBlue"> @study.getLabel()</font></i>'s Object Collections </h3>
    
    <h4>Management options</h4>

    <div class="container-fluid">
      <div class="row">
         <div class="navbar-collapse collapse navbar-secondary">
           <a href="@org.hadatac.console.controllers.objectcollections.routes.NewOC.index(study.getUri())" class="btn btn-primary" role="button">Create Object Collection</a>
         </div>
      </div>
   </div>

   <hr>

   <h4>Object Collections</h4>
   
    <div class="container-fluid">
        <table class="table">
            <thead>
              <tr>
                <!--  <th>Study URI</th>  -->
                <th>Object Collection Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>In Scope Of</th>
		<th># Objects</th>
                <th>Operations</th>
              </tr>
            </thead>
            <tbody>
	      @if(ocList != null) {
                 @for(oc <- ocList){
	            @oc_entry(study,oc)
                 }
              }
            </tbody>
        </table>
	
	<a href="@org.hadatac.console.controllers.studies.routes.StudyManagement.index()" class="btn btn-primary" role="button">Back to Study Management</a>
	
    </div>
 
  </div>

}
