@(message   : String, 
  filename  : String,
  da_uri    : String,
  study_uri : String, 
  oc        : org.hadatac.entity.pojo.ObjectCollection)

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.studies._
@import org.hadatac.metadata.loader.ValueCellProcessing

@main(message) {
    <div class="container">
       <h4>@message</h4>

        @if(oc == null) {
            [ERROR] No valid object to delete. 
            <br>
        } else  {
            <ul>
              <li><b>URI:</b> @ValueCellProcessing.replaceNameSpaceEx(oc.getUri())</li>
              <li><b>Type:</b> @ValueCellProcessing.replaceNameSpaceEx(oc.getTypeUri())</li>
              <li><b>Short Name:</b> @oc.getLabel()</li>
              <li><b>Deocription:</b> @oc.getComment()</li>
              <li><b>Study URI:</b> @if(oc.getStudy() != null) { @oc.getStudy().getLabel() }</li>
              <li><b>Domain Scope:</b> @if(oc.getHasScope() != null) { @oc.getHasScope().getLabel() }</li>
              <li><b>Space Scope(s):</b> 
		@if(oc.getSpaceScopes() != null) {
		   <ul>
                    @for(oc <- oc.getSpaceScopes()){
			<li>@oc.getLabel()</li>
                    }
                   </ul> 
                }
	      </li>
              <li><b>Time Scope(s):</b> 
		@if(oc.getTimeScopes() != null) { 
		   <ul>
                    @for(oc <- oc.getTimeScopes()){
			<li>@oc.getLabel()</li>
                    }
                   </ul> 
                }
	      </li>
           </ul>
        }
        <a href="@org.hadatac.console.controllers.objectcollections.routes.OCManagement.index(filename, da_uri, study_uri)" 
           class="btn btn-primary" role="button">Back to Object Collection Management</a>
    </div>
}

    
