@(mode     : String,
  filename : String,
  da_uri   : String, 
  study    : org.hadatac.entity.pojo.Study,
  oc       : org.hadatac.entity.pojo.ObjectCollection)

@import play.Play
@import org.hadatac.console.controllers.metadata._
@import org.hadatac.console.controllers.metadata.DynamicFunctions
@import java.net._
@import org.hadatac.utils._

@if(oc != null) {
  @if(mode.equals("subject") && oc.getTypeUri().equals("http://hadatac.org/ont/hasco/SubjectGroup")) {
  <tr>
     <td>@if(oc.getLabel() != null) { @oc.getLabel() }</td>
     <td>@if(oc.getComment() != null) { @oc.getComment() }</td>
     <td>@if(oc.getSpaceScopes() != null) { 
       @for(scope <- oc.getSpaceScopes()) {
          @scope.getLabel() <br>
       }
     }
     </td>
     <td>@if(oc.getTimeScopes() != null) { 
       @for(scope <- oc.getTimeScopes()) {
          @scope.getLabel() <br>
       }
     }
     </td>
     <td>@oc.getObjectUris().size()</td>
     <td>
        <a href="@org.hadatac.console.controllers.objects.routes.ObjectManagement.indexNomsg(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"), URLEncoder.encode(oc.getUri(),"UTF-8"))" class="btn-xs btn-primary disabled" role="button">Manage Objects</a>
        <a href="@org.hadatac.console.controllers.objectcollections.routes.EditOC.index(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"), URLEncoder.encode(oc.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Edit Collection</a>
        @if(oc.getObjectUris().size() <= 0) {
           <a href="@org.hadatac.console.controllers.objectcollections.routes.DeleteOC.index(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"), URLEncoder.encode(oc.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Delete Collection</a>
	}
     </td>
 </tr>
 }
  @if(mode.equals("sample") && oc.getTypeUri().equals("http://hadatac.org/ont/hasco/SampleCollection")) {
  <tr>
     <td>@if(oc.getLabel() != null) { @oc.getLabel() }</td>
     <td>@if(oc.getComment() != null) { @oc.getComment() }</td>
     <td>@if(oc.getHasScope() != null) { @oc.getHasScope().getLabel() }</td>
     <td>@if(oc.getSpaceScopes() != null) { 
       @for(scope <- oc.getSpaceScopes()) {
          @scope.getLabel() <br>
       }
     }
     </td>
     <td>@if(oc.getTimeScopes() != null) { 
       @for(scope <- oc.getTimeScopes()) {
          @scope.getLabel() <br>
       }
     }
     </td>
     <td>@oc.getObjectUris().size()</td>
     <td>
        <a href="@org.hadatac.console.controllers.objects.routes.ObjectManagement.indexNomsg(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"), URLEncoder.encode(oc.getUri(),"UTF-8"))" class="btn-xs btn-primary disabled" role="button">Manage Objects</a>
        <a href="@org.hadatac.console.controllers.objectcollections.routes.EditOC.index(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"), URLEncoder.encode(oc.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Edit Collection</a>
        @if(oc.getObjectUris().size() <= 0) {
           <a href="@org.hadatac.console.controllers.objectcollections.routes.DeleteOC.index(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"), URLEncoder.encode(oc.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Delete Collection</a>
	}
     </td>
 </tr>
 }
  @if(mode.equals("location") && oc.getTypeUri().equals("http://hadatac.org/ont/hasco/LocationCollection")) {
  <tr>
     <td>@if(oc.getLabel() != null) { @oc.getLabel() }</td>
     <td>@if(oc.getComment() != null) { @oc.getComment() }</td>
     <td>@if(oc.getSpaceScopes() != null) { 
       @for(scope <- oc.getSpaceScopes()) {
          @scope.getLabel() <br>
       }
     }
     </td>
     <td>@oc.getObjectUris().size()</td>
     <td>
        <a href="@org.hadatac.console.controllers.objects.routes.ObjectManagement.indexNomsg(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"), URLEncoder.encode(oc.getUri(),"UTF-8"))" class="btn-xs btn-primary disabled" role="button">Manage Objects</a>
        <a href="@org.hadatac.console.controllers.objectcollections.routes.EditOC.index(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"), URLEncoder.encode(oc.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Edit Collection</a>
        @if(oc.getObjectUris().size() <= 0) {
           <a href="@org.hadatac.console.controllers.objectcollections.routes.DeleteOC.index(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"), URLEncoder.encode(oc.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Delete Collection</a>
	}
     </td>
 </tr>
 }
  @if(mode.equals("time") && oc.getTypeUri().equals("http://hadatac.org/ont/hasco/TimeCollection")) {
  <tr>
     <td>@if(oc.getLabel() != null) { @oc.getLabel() }</td>
     <td>@if(oc.getComment() != null) { @oc.getComment() }</td>
     <td>@if(oc.getTimeScopes() != null) {
       @for(scope <- oc.getTimeScopes()) {
          @scope.getLabel() <br>
       }
     }
     </td>
     <td>@oc.getObjectUris().size()</td>
     <td>
        <a href="@org.hadatac.console.controllers.objects.routes.ObjectManagement.indexNomsg(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"), URLEncoder.encode(oc.getUri(),"UTF-8"))" class="btn-xs btn-primary disabled" role="button">Manage Objects</a>
        <a href="@org.hadatac.console.controllers.objectcollections.routes.EditOC.index(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"), URLEncoder.encode(oc.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Edit Collection</a>
        @if(oc.getObjectUris().size() <= 0) {
           <a href="@org.hadatac.console.controllers.objectcollections.routes.DeleteOC.index(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"), URLEncoder.encode(oc.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Delete Collection</a>
	}
     </td>
 </tr>
 }
}
