.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  //background: rgba(0, 0, 0, 0.8);
  background: #778899;
  //color: #fff;
  color: #fff;
  border-radius: 2px;
}
