.panel-group {
    height: 550px;
    overflow-y: auto;
}

.table-info{
    width:300px;
    height:250px;
    float:right;
    border-style:dashed;
    border-color:#ccc;
    color:#333;
}

.thumbnail{
    float:left;
}

.hidetip{
    display:none;
}

.infobox{
    position:fixed;
    width:340px;
    height:550px;
    overflow-y:auto;
    top:150px;
    right:30px;
    border-style:dashed;
    border-color:#ccc
}
