# Configure the path of csv files
path_proc=csvs/processed_csv/
path_unproc=csvs/unprocessed_csv/
path_download=csvs/downloaded_csv/
auto=on

# Configure the template file for CSV header mappings
template_file_name=template.conf.hbgd

# Configure the default owner email for the unrecorded files
default_owner_email=sheersha.kandwal@mssm.edu
#user@server.com
