@(dir        : String,
  fileId     : String,
  da_uri     : String,
  instrument : org.hadatac.entity.pojo.Instrument)

@import play.Play
@import org.hadatac.console.controllers.metadata._
@import java.net._
@import org.hadatac.utils._

<tr>
  <td>@if(instrument.getLabel() != null) { @instrument.getLabel() }</td>
  <td>@if(instrument.getTypeLabel() != null) { @instrument.getTypeLabel() }</td>
  <td>@if(instrument.getComment() != null) { @instrument.getComment() }</td>
  <td>
    <a href="@org.hadatac.console.controllers.metadata.empirical.routes.InstrumentManagement.viewInstrument(dir, fileId, da_uri, URLEncoder.encode(instrument.getUri(),"UTF-8"))" 
       class="btn-xs btn-primary" role="button">View</a>
    <a href=""
       class="btn-xs btn-primary disabled" role="button">Edit</a>
    <a href=""
       class="btn-xs btn-primary disabled" role="button">Delete</a>
  </td>
</tr>
