@(dir                : String,
  fileId             : String,
  da_uri             : String,
  instrumentTypeList : List[org.hadatac.entity.pojo.InstrumentType])

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.utils._

@main("Instrument Type Management") {

    <h3>Instrument Type Management</h3>
    
    <h4>Management options</h4>

	@*
    <div class="container-fluid">
      <div class="row">
         <div class="navbar-collapse collapse navbar-secondary">
           <a href="@org.hadatac.console.controllers.metadata.empirical.routes.NewInstrument.index(dir, fileId, da_uri)"
	      class="btn btn-primary" role="button">Create Instrument Type</a>
         </div>
      </div>
   </div>
   *@

   <hr>

   <h4>Instrument Types</h4>
   
    <div class="container-fluid">
        <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>SuperClass</th>
                <th>Description</th>
                <th>Operations</th>
              </tr>
            </thead>
            <tbody>
              @for(instrumentType <- instrumentTypeList){
	             @instType_entry(instrumentType)
              }
            </tbody>
        </table>
    </div>

}
   
