@(plt      : org.hadatac.entity.pojo.Platform,
  dir      : String,
  filename : String,
  da_uri   : String, 
  page     : Integer,
  userName : String)

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._
@import org.hadatac.console.controllers.schema._
@import org.hadatac.metadata.loader.URIUtils

@main("New Study","",userName) {

    <h2>Create Platform</h2>
    
    <h3>Listing below shows values for new Platform</h3>

    <div class="container-fluid">
       <ul>
         <li><b>URI:</b> @URIUtils.replaceNameSpaceEx(plt.getUri())</li>
         <li><b>Type:</b> @URIUtils.replaceNameSpaceEx(plt.getTypeUri())</li>
         <li><b>Short Name:</b> @plt.getLabel()</li>
         <li><b>Description:</b> @plt.getComment()</li>
       </ul>
       
       <br>
          <a href="@org.hadatac.console.controllers.deployments.routes.DeploymentManagement.index(State.ACTIVE, dir, filename, da_uri, page, 0)" class="btn btn-primary" 
	     role="button">Back to Deployment Management</a>
    </div>
    
    }
    
