@(dir          : String,
  fileId       : String,
  da_uri       : String,
  platformType : org.hadatac.entity.pojo.PlatformType)

@import play.Play
@import org.hadatac.console.controllers.metadata._
@import java.net._
@import org.hadatac.utils._

<tr>
  <td>@if(platformType.getLabel() != null)   { @platformType.getLabel() }</td>
  <td>@if(platformType.getSuperClassLabel() != null)   { @platformType.getSuperClassLabel() }</td>
  <td>@if(platformType.getComment() != null) { @platformType.getComment() }</td>
  <td>
    <a href=""
       class="btn-xs btn-primary disabled" role="button">View</a> 
  </td>
</tr>
