@(dir        : String,
  fileId     : String,
  da_uri     : String,
  instrument : org.hadatac.entity.pojo.Instrument,
  userName   : String)

@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.metadata._
@import org.hadatac.entity.pojo.DataFile
@import java.net._

@main("View Instrument","",userName) {

<div>
  <h3>Instrument - @instrument.getLabel()</h3>
  <p><b>URI</b>: @instrument.getUri()</p>
  <p><b>Model</b>: @instrument.getTypeLabel() (@instrument.getTypeUri())</p>
  <p><b>Serial Number</b>: @instrument.getSerialNumber()</p>
  <p><b>Image</b>: @instrument.getImage()</p>
  @if(instrument.getImage() != null && !instrument.getImage().isEmpty()) {
  	   @if(instrument.getImage().startsWith("file:///media/")) {
		  <ul>
    	     <img src="@DataFile.getMediaUrl(instrument.getImage())" alt="@instrument.getImage()" width="300">  
    	  </ul>
	   }
  }
</div>

}