@(mode: String, dase : org.hadatac.entity.pojo.DataAcquisitionSchemaEvent)

@import java.net._
@import org.hadatac.utils._

<tr>
   <td>@if(dase != null && dase.getLabel() != null) { <b> @dase.getLabel() </b>}</td> 
   <td>@if(dase != null && dase.getEntityLabel() != null) { @dase.getEntityLabel() }</td> 
   <td>@if(dase != null && dase.getUnitLabel() != null) { @dase.getUnitLabel() }</td> 
   @if(mode == "edit") {
      <td><a href="" class="btn-sm btn-primary" role="button">Edit</a>
          <a href="" class="btn-sm btn-primary" role="button">Delete</a></td>
   }
</tr>
