@(results : List[org.hadatac.entity.pojo.DataAcquisitionSchema])

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.utils._

@main("Semantic Data Dictionary Management") {

   <h3>Semantic Data Dictionary Management</h3>
    
   <hr>

   <h4>Existing Semantic Data Dictionaries</h4>
   
    <div class="container-fluid">
        <table class="table">
            <thead>
                 <tr>
                    <th>Name</th>
		            <th>Version</th>
		            <th>No. Attributes</th>
                    <th>No. Assoc. Object</th>
                    <th>Operations</th>
                 </tr>
            </thead>
            <tbody>
              @for(das <- results){
                  @DAS_entry(das)
              }
            </tbody>
        </table>
 
        @mainButton(false)

    </div>
 

}
