@(mode: String, 
  daso : org.hadatac.entity.pojo.DataAcquisitionSchemaObject)

@import java.net._
@import org.hadatac.utils._

<tr>
   <td>@if(daso != null && daso.getLabel() != null) { <b id="@daso.getLabel()"> @daso.getLabel() </b>}</td> 
   <!-- <td>@if(daso != null && daso.getUri() != null) { @daso.getUriNamespace() }</td> --> 
   <td>@if(daso != null && daso.getEntityLabel() != null) { @daso.getEntityLabel() }</td> 
   <td>@if(daso != null && daso.getRoleLabel() != null) { @daso.getRoleLabel() }</td> 
   <td>@if(daso != null && daso.getRelationLabel() != null) { @daso.getRelationLabel() }</td> 
   <td>@if(daso != null && daso.getInRelationToLabel() != null) { <a href="#@daso.getInRelationToLabel()">@daso.getInRelationToLabel()</a> }</td> 
   <td>@if(daso != null && daso.getWasDerivedFrom() != null) { @daso.getWasDerivedFrom() }</td> 
</tr>
