@(dasa : org.hadatac.entity.pojo.DataAcquisitionSchemaAttribute,
  changedInfo : List[String])

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._
@import org.hadatac.console.controllers.schema._

@main("Change Data Acquisition Schema Attribute") {

    <h2>Change Data Acquisition Schema Attribute</h2>
    
    <h3>Listing below shows new values for Data Acquisition Schema Attribute</h3>

    <div class="container-fluid">
       <ul>
           @if(changedInfo.contains(dasa.getUri())) {
                <li><b>New URI:</b> <b><font color="blue">@dasa.getUri()</font></b></li>
           } else {
                <li><b>Existing URI:</b> @dasa.getUri()</li>
           }
           @if(changedInfo.contains(dasa.getLabel())) {
                <li><b>New Label:</b> <b><font color="blue">@dasa.getLabel()</font></b></li>
           } else {
                <li><b>Existing Label:</b> @dasa.getLabel()</li>
           }
           @if(changedInfo.contains(dasa.getPosition())) {
                <li><b>New Position:</b> <b><font color="blue">@dasa.getPosition()</font></b></li>
           } else {
                <li><b>Existing Position:</b> @dasa.getPosition()</li>
           }
           @if(changedInfo.contains(dasa.getEntity())) {
                <li><b>New Entity:</b> <b><font color="blue">@dasa.getEntityNamespace()</font></b></li>
           } else {
                <li><b>Existing Entity:</b> @dasa.getEntityNamespace()</li>
           }
           @if(changedInfo.contains(dasa.getAttribute())) {
                <li><b>New Attribute:</b> <b><font color="blue">@dasa.getAttributeNamespace()</font></b></li>
           } else {
           	<li><b>Existing Attribute:</b> @dasa.getAttributeNamespace()</li>
           }
           @if(changedInfo.contains(dasa.getUnit())) {
           	<li><b>New Unit:</b> <b><font color="blue">@dasa.getUnitNamespace()</font></b></li>
           } else {
           	<li><b>Existing Unit:</b> @dasa.getUnitNamespace()</li>
           }
           @if(changedInfo.contains(dasa.getObjectUri())) {
           	<li><b>New IsAttributeOf:</b> <b><font color="blue">@dasa.getObjectNamespace()</font></b></li>
           } else {
           	<li><b>Existing IsAttributeOf:</b> @dasa.getObjectNamespace()</li>
           }
           @if(changedInfo.contains(dasa.getEventUri())) {
           	<li><b>New Time:</b> <b><font color="blue">@dasa.getEventNamespace()</font></b></li>
           } else {
           	<li><b>Existing Time:</b> @dasa.getEventNamespace()</li>
           }
       </ul>

       <br>
       <a href="@org.hadatac.console.controllers.schema.routes.EditDAS.index(dasa.getPartOfSchema())" class="btn btn-primary" role="button">Back to DA Schema Editing</a>

    </div>

}
