@(daso : org.hadatac.entity.pojo.DataAcquisitionSchemaObject)

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._
@import org.hadatac.console.controllers.schema._

@main("Change Data Acquisition Schema Attribute") {

    <h2>Create Data Acquisition Schema Object</h2>
    
    <h3>Listing below shows values for new Data Acquisition Schema Object</h3>

    <div class="container-fluid">
       <ul>
         <li><b>URI:</b> @daso.getUri()</li>
         <li><b>Label:</b> @daso.getLabel()</li>
         <li><b>Role:</b> @daso.getRole()</li>
         <li><b>Entity:</b> @daso.getEntityNamespace()</li>
         <li><b>InRelationTo:</b> @daso.getInRelationToNamespace()</li>
         <li><b>Relation:</b> @daso.getRelationNamespace()</li>
       </ul>
       
       <br>
       <a href="@org.hadatac.console.controllers.schema.routes.EditDAS.index(daso.getPartOfSchema())" class="btn btn-primary" role="button">Back to DA Schema Editing</a>
       
    </div>
    
    }
    
