@(dase : org.hadatac.entity.pojo.DataAcquisitionSchemaEvent)

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._
@import org.hadatac.console.controllers.schema._

@main("Change Data Acquisition Schema Event") {

    <h2>Create Data Acquisition Schema Event</h2>
    
    <h3>Listing below shows values for new Data Acquisition Schema Event</h3>

    <div class="container-fluid">
       <ul>
         <li><b>URI:</b> @dase.getUri()</li>
         <li><b>Label:</b> @dase.getLabel()</li>
         <li><b>Entity:</b> @dase.getEntityNamespace()</li>
         <li><b>Unit:</b> @dase.getUnitNamespace()</li>
       </ul>
       
       <br>
       <a href="@org.hadatac.console.controllers.schema.routes.EditDAS.index(dase.getPartOfSchema())" class="btn btn-primary" role="button">Back to DA Schema Editing</a>
       
    </div>
    
    }
    
