@(pv : org.hadatac.entity.pojo.PossibleValue)

@import java.net._
@import org.hadatac.utils._
@import org.hadatac.entity.pojo.DataAcquisitionSchema
@import org.hadatac.metadata.loader.URIUtils

<tr>
   <td>@if(pv != null && pv.getHasVariable() != null) { @pv.getHasVariable() }</td> 
   <td>@if(pv != null && pv.getHasCode() != null) { @pv.getHasCode() }</td> 
   <td>@if(pv != null && pv.getHasCodeLabel() != null) { @pv.getHasCodeLabel() }</td> 
   <td>@if(pv != null && pv.getHasClass() != null) { @pv.getHasClass() }</td> 
   <td>@if(pv != null && pv.getHasResource() != null) { @pv.getHasResource() }</td> 
</tr>
