@(dir                : String,
  dd_name            : String,
  dirFile            : org.hadatac.entity.pojo.DataFile,
  headerSheetColumn  : String,
  commentSheetColumn : String,
  sdd_id             : String
)

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.views.html.schema._
@import org.hadatac.console.controllers.schema._
@import org.hadatac.console.controllers._
@import org.hadatac.entity.pojo._

@main("Add File Headers into SDD") {
<h1>@headerSheetColumn,@commentSheetColumn,@sdd_id</h1> 
<script type="text/javascript">
	   function checkform() {
	      var cansubmit = true;

	      if (document.getElementById('targetFile').value.length == 0) {
	          cansubmit = false;
	      }

	      if (cansubmit) {
	          document.getElementById('submitbutton1').disabled = false;
	          document.getElementById('submitbutton2').disabled = false;
	      } else {
	          document.getElementById('submitbutton1').disabled = 'disabled';
	          document.getElementById('submitbutton2').disabled = 'disabled';
	      }
	   }
	</script>
   <style>
      ul.tree li {
        list-style-type: none;
        position: relative;
      }

      ul.tree li ul {
        display: none;
      }

      ul.tree li.open > ul {
        display: block;
      }

      ul.tree li a {
        color: black;
        text-decoration: none;
      }

      ul.tree li a:before {
        height: 1em;
        padding:0 .1em;
        font-size: .8em;
        display: block;
        position: absolute;
        left: -1.3em;
        top: .2em;
      }

      ul.tree li > a:not(:last-child):before {
        content: '+';
      }

      ul.tree li.open > a:not(:last-child):before {
        content: '-';
      }
   </style>
  <div class="container">

    <form class="form-horizontal" name="newDAS" method="post">

      <div class="form-group">
         <h3>Add File Headers into SDD</h3>
         
	     <p><b>!!!THIS OPTION IS NOT FUNCTIONAL YET!!!</b></p>
	     <p>This option extract column headers from data dictionary (DD) files and add them into a give Semantic Data Dictionary (SDD).</p>
	  </div>

      <div class="form-group">
		<label>SDD:</label> This is the Data Dictionary file providing the column headers and comments to be added into an SDD.
 		<input type="text" class="form-control col-sm-6" name="label" id="label" readonly  value=@dd_name >
      </div>

      <div class="form-group">
		<label>Selected File:</label> The SDD file receiving the DD information needs to be selected. If the SDD is already on working files, use the option
		below to expand the directories and select the target SDD.
	      <ul class="tree">
            @if(dirFile != null) {
		   		@tree_node_generic(DataFile.getHierarchy("/","",false),"targetFile", "", false)
			}
          </ul>

      </div>

      @defining("") { labels =>
      	  <div class="form-group" class="col-sm-6 col-offset-3" id="form_group">
        	  <input class="btn btn-success" role="button" type="submit" id="submitbutton1" value="Copy Column Headers" disabled="disabled"/>
            <div id="donemsg"></div>
      	  </div>
      }
      <script> 
      
       document.getElementById("submitbutton1").onclick = function() {
          var msg="Copied Successfully";
          document.getElementById("donemsg").innerHTML=msg;

          setTimeout(function(){
              document.getElementById("donemsg").innerHTML = '';
          }, 7000);
          
      }
      </script>
      <a href="@org.hadatac.console.controllers.fileviewer.routes.SDDEditorV2.index(sdd_id, true,headerSheetColumn,commentSheetColumn)" 
      class="btn btn-xs btn-primary" role="button" id="togoback" style="margin-bottom: 8pt"> <span class="glyphicon glyphicon-circle-arrow-left"></span>  Back to SDD</a>
      <div class="form-group" class="col-sm-6 col-offset-3">
	     <a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.index(dir, ".")" class="btn btn-primary" role="button">Back to Working Files</a>
      </div>

    </form>
  </div>
  <div id="lg"></div>
 	<script>
     $( "input" ).on( "click", function() {
       alert(( "input:checked" ).val());
      //$( "#lg" ).html( $( "input:checked" ).val() + " is checked!" );
    });
       function typechange() {
          var newType = $("input[name=newStudyType]:checked").val();
          
     $('#currentType').val(newType);
          checkform();
       };

       var tree = document.querySelectorAll('ul.tree a:not(:last-child)');
       for(var i = 0; i < tree.length; i++){
          tree[i].addEventListener('click', function(e) {
           
          var parent = e.target.parentElement;
          var classList = parent.classList;
          
          if(classList.contains("open")) {
            classList.remove('open');
            var opensubs = parent.querySelectorAll(':scope .open');
            for(var i = 0; i < opensubs.length; i++){
                opensubs[i].classList.remove('open');
            }
          } else {
            classList.add('open');
          }
         });
       }
       </script>


  }
