@(fileTypes     : List[org.hadatac.console.models.FileType],
  templateTypes : List[String],
  dir           : String, userName : String)

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._
@import org.hadatac.metadata.loader.URIUtils;


@main("New Metadata File","",userName) {

<script type="text/javascript">
	   function checkform() {
	      var cansubmit = true;

	      if (document.getElementById('newType').value.length == 0) {
              cansubmit = false;
          }

	      if (document.getElementById('newTemplate').value.length == 0) {
              cansubmit = false;
          }

	      if (document.getElementById('newName').value.length == 0) {
	          cansubmit = false;
	      }

	      if (cansubmit) {
	          document.getElementById('submitbutton').disabled = false;
	      } else {
	          document.getElementById('submitbutton').disabled = 'disabled';
	      }
	   }
	</script>

<div class="container">
	<h3>New Metadata File</h3>

	<form class="form-horizontal" name="newFile" method="post"
		action="@org.hadatac.console.controllers.workingfiles.routes.NewFile.processForm(dir)">

		<div class="form-group">
			<label>File Type</label> <select class="form-control col-sm-6"
				id="newType" name="newType" onchange="checkform()">
				@for(ft <- fileTypes) {
				  <option value="@ft.getName()">@ft.getName() - @ft.getLongName()</option>
				}
			</select>

		</div>

		<div class="form-group">
			<label>Template</label> <select class="form-control col-sm-6"
				id="newTemplate" name="newTemplate" onchange="checkform()">
				@for(tp <- templateTypes) {
				  <option value="@tp">@tp</option>
				}
			</select> (select "GENERIC" if your project is not using specialized forms)

		</div>

		<div class="form-group">
			<label>File Name (with no prefix)</label> <input type="text"
				class="form-control col-sm-6" name="newName" id="newName"
				onchange="checkform()">
		</div>

		<div class="form-group" class="col-sm-6 col-offset-3">
			<input class="btn btn-primary" role="button" id="submitbutton"
				type="submit" value="Create New Metadata File"/> 
			<a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.index(dir, ".")"
				class="btn btn-primary" role="button">Cancel</a>
		</div>
	</form>
</div>
}
