@(dir              : String,
  folders          : List[String],
  workingFiles     : List[org.hadatac.entity.pojo.DataFile],
  bAdmin           : Boolean)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.views.html.fileviewer._
@import org.hadatac.console.controllers.annotator._
@import org.hadatac.console.controllers.fileviewer._
@import org.hadatac.entity.pojo._
@import org.hadatac.utils._
@import org.hadatac.metadata.loader._
@import java.net._

@main("Working Files Management") {
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/resumable.js")"></script>

    <div class="container-fluid">

	<a href="@org.hadatac.console.controllers.workingfiles.routes.NewFile.index(dir)" class="btn btn-primary" role="button">Blank Metadata File</a>
	<a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.downloadTemplates(dir)" class="btn btn-primary" role="button">Download Templates</a>
	<a href="@org.hadatac.console.controllers.workingfiles.routes.Folder.index(dir)" class="btn btn-primary" role="button">Create Folder</a>
	<a href="" class="btn btn-primary" role="button" disabled>Delete Current Folder</a>

	<div id="frame">
    <div class="resumable-error">
      Your browser, unfortunately, is not supported by Resumable.js.
    </div>

    <div class="resumable-drop" ondragenter="jQuery(this).addClass('resumable-dragover');" ondragend="jQuery(this).removeClass('resumable-dragover');" ondrop="jQuery(this).removeClass('resumable-dragover');">
      <h4>Working File Uploader</h4>
      Drop data files here to preview or <a class="resumable-browse"><u>select from your computer</u></a>
    </div>

    <br>
    <div class="resumable-progress">
      <table>
        <tr>
          <td width="100%"><div class="progress-container"><div class="progress-bar"></div></div></td>
          <td class="progress-text" nowrap="nowrap"></td>
          <td class="progress-pause" nowrap="nowrap">
            <a href="#" onclick="r.upload(); return(false);" class="progress-resume-link"><img src="@controllers.routes.Assets.versioned("images/resume.png")" title="Resume upload" /></a>
            <a href="#" onclick="r.pause(); return(false);" class="progress-pause-link"><img src="@controllers.routes.Assets.versioned("images/pause.png")" title="Pause upload" /></a>
          </td>
        </tr>
      </table>
    </div>

    <ul class="resumable-list"></ul>
    </div>

    <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/uploadWorking.js")"></script>
    <script>
        r.opts["resumableRelativePath"] = "@dir";
    </script>
    <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/upload.js")"></script>

    <h4>Current Working Files Folder: <font color="Green">@dir</font></h4>

    <form id="fileListForm" method="post">
    @if(!workingFiles.isEmpty()) {
        <label><input type="checkbox" id="select_all"> Select All</label>
        <button class="btn btn-primary btn-sm" id="move_selection" style="display:none;">Move Selection</button>
        <button class="btn btn-primary btn-sm" id="delete_selection" style="display:none;" onclick="return confirm('Are you sure to delete?')">Delete Selection</button>
        <!-- <button class="btn btn-primary btn-sm" id="download_selection" role="button" style="display:none;">Download Selection</button> -->   
    }
 	<table class="table">
    <thead>
         <tr>
            <th><font color="Green">Working Files</font></th>
            @if(bAdmin) {
                <th>Owner Email</th>
            }
            <th>Time Uploaded</th>
            <th>View/Edit Operations</th>
            <th>File Operations</th>
            <th>Semantic Operations</th>
            <th>Logs</th>
         </tr>
    </thead>
    <tbody>
        @for(folder <- folders) {
            <tr name="working">
              <td><a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.index(dir, folder)">@folder</a></td>
              @if(bAdmin) {
                 <th></th>
              }
              <td></td>
              <td></td>
              <td>
              @if(folder != "..") {
              	<a href="@org.hadatac.console.controllers.workingfiles.routes.Folder.delete(dir, folder)" class="btn btn-xs btn-primary" role="button">Delete</a>
			  }
              </td>
              <td></td>
              <td></td>
            </tr>
        }
        @for(file <- workingFiles) {
            <tr name="working">
                @if(file.getLog().contains("[ERROR]")) {
                    <td bgcolor="#FF9999" name="file_name"><input type="checkbox" id="@file.getId()"> @file.getFileName()</td>
                } else { @if(file.getLog().contains("[WARNING]")) {
                    <td bgcolor="#FFFF99" name="file_name"><input type="checkbox" id="@file.getId()"> @file.getFileName()</td>
                } else {
                    <td name="file_name"><input type="checkbox" id="@file.getId()"> @file.getFileName()</td>
                }}
                @if(bAdmin) {
                    <td>@file.getOwnerEmail()</td>
                }
                <td>@file.getSubmissionTime()</td>
                <td>
                @if(file.getFileName().endsWith(".xlsx") || file.getFileName().endsWith(".xls") || file.getFileName().endsWith(".csv")) {
                    <a href="@org.hadatac.console.controllers.fileviewer.routes.ExcelPreview.index(file.getId(), false)" class="btn btn-xs btn-primary" role="button">Preview File</a>
                    @if(((file.getFileName().endsWith(".xlsx"))&&(!file.getFileName().startsWith("SDD")))){
                        <a href="@org.hadatac.console.controllers.fileviewer.routes.ExcelPreview.index(file.getId(), true)" class="btn btn-xs btn-primary" role="button" id="edit">Edit</a>
                    }
                }
                @if(file.getFileName().startsWith("DD") || file.getFileName().startsWith("dd")){
                    <a href="@org.hadatac.console.controllers.fileviewer.routes.DDEditor.index(file.getId(), true, dir)" class="btn btn-xs btn-primary" role="button" id="edit">Edit DD</a>
                }
                @if(file.getFileName().startsWith("SDD") || file.getFileName().startsWith("sdd")) {
                    <a href="@org.hadatac.console.controllers.fileviewer.routes.SDDEditorV2.index(file.getId(), true,0)" class="btn btn-xs btn-primary" role="button" id="edit">Edit SDD</a>
                }
                </td>
                <td>
                <a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.renameDataFile(dir, file.getId())" class="btn btn-xs btn-primary" role="button" id="rename">Rename</a>
                <a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.moveDataFile(dir, file.getId())" class="btn btn-xs btn-primary" role="button" id="move">Move</a>
                <a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.deleteDataFile(dir, file.getId())" class="btn btn-xs btn-primary" role="button" id="delete" onclick="return confirm('Are you sure to delete?')">Delete</a>
                <a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.getLinkForSharing(dir, file.getId())" class="btn btn-xs btn-primary" role="button" id="share">Share</a>

				@*
                @if(bAdmin) {
                    <a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.assignFileOwner(dir, file.getOwnerEmail(), file.getId())" class="btn btn-xs btn-primary" role="button">Assign Owner</a>
                }
                *@

                <a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.downloadDataFile(file.getId())" class="btn btn-xs btn-primary" role="button">Download</a>
                </td>
                <td>
                @if(file.getFileName().startsWith("DPL-") || file.getFileName().startsWith("STD-") ||
                    file.getFileName().startsWith("SSD-") || file.getFileName().startsWith("SDD-") ||
                    file.getFileName().startsWith("OAS-") || file.getFileName().startsWith("DA-")) {
                	<a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.ingestDataFile(file.getId())" class="btn btn-xs btn-primary" role="button" id="ingest" onclick="return confirm('Are you sure to submit it to auto-annotator?')">Ingest</a>
				}
                @if(file.getFileName().startsWith("SSD-") || file.getFileName().startsWith("SDD-")) {
                	<a href="" class="btn btn-xs btn-primary disabled" role="button" id="draft">Draft</a>
                }
                @*
                @if(file.getFileName().startsWith("SDD-")) {
                    @defining("") { fileId =>
                	    <a href="@org.hadatac.console.controllers.workingfiles.routes.FileHeadersIntoSDD.createHeaders(dir, file.getId(),null,null)" class="btn btn-xs btn-primary" role="button" id="headers">Add Headers</a>
					}
				}
				*@
                @if(file.getFileName().startsWith("DPL-") || file.getFileName().startsWith("STD-") ||
                    file.getFileName().startsWith("SSD-") || file.getFileName().startsWith("SDD-") ||
                    file.getFileName().startsWith("OAS-")) {
                	<a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.verifyDataFile(file.getId())" class="btn btn-xs btn-primary" role="button" id="verify">Verify</a>
                }
                </td>
                <td>
	                <a href="@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.checkAnnotationLog(dir, file.getId())" class="btn btn-xs btn-primary" role="button">Logs</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
    @if(workingFiles.isEmpty() && (folders.size() == 0 && dir == "/" || folders.size() == 1 && dir != "/")) {
        <p>No working files</p>
    }
    </form>

    <br><br>
    <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-primary" role="button">Back to Main Page</a>
	</div>

	<script type="text/javascript">
	$("#select_all").change(function() {
        $("tr input:checkbox").not(this).prop("checked", this.checked);
    });
    
    $("#move_selection").click(function() {
        $("#fileListForm").attr("action", "@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.moveDataFiles(dir)");
    });
    
    $("#delete_selection").click(function() {
        $("#fileListForm").attr("action", "@org.hadatac.console.controllers.workingfiles.routes.WorkingFiles.deleteDataFiles(dir)");
    });
	
	$("#fileListForm").submit(function(eventObj) {
	   var fileIds = [];
	   $("td input:checkbox").each(function () {
	       if ($(this).attr("checked")) {
	           fileIds.push($(this).attr("id"));
	       }
       });
	   
	   $('<input />').attr('type', 'hidden')
               .attr("name", "fileIds")
               .attr("value", fileIds)
               .appendTo(this);
       return true;
    });
    
    $("input:checkbox").change(function() {
        var numSelected = 0;
        $("td input:checkbox").each(function () {
            if ($(this).attr("checked")) {
                numSelected++;
            }
        });
       
        if (numSelected > 0) {
            $('#move_selection').show();
            $('#delete_selection').show();
        } else {
            $('#move_selection').hide();
            $('#delete_selection').hide();
        }
        return true;
    });
	
    var options = [];

    $('#study-filter a').on('click', function(event) {

       var $target = $( event.currentTarget ),
           val = $target.attr( 'data-value' ),
           $inp = $target.find( 'input' ),
           idx;

       if ( ( idx = options.indexOf( val ) ) > -1 ) {
          options.splice( idx, 1 );
          setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
       } else {
          options.push( val );
          setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
       }

       $( event.target ).blur();

       if (options.length > 0) {
    	   $("tbody tr[name='processed']").each(function(index) {
               if (options.indexOf($(this).attr("data-value")) > -1
                       || $(this).find("[name='file_name']").text().startsWith("SDD-")) {
                   $(this).show();
               } else {
                   $(this).hide();
               }
           });
       } else {
    	   $("tbody tr[name='processed']").each(function(index) {
        	   $(this).show();
           });
       }

       return false;
    });
    </script>
}
