@(log : String,
  postAction : String,
  dataFile: org.hadatac.entity.pojo.DataFile)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.annotator._


@import org.hadatac.console.views.html.annotator._
@import org.hadatac.console.controllers.annotator._
@import java.net._

@main("Annotation Log") {
	
	<div class="container-fluid">
   	<div id="end-process-box" style="display:none;">
		<h4>Annotation Logs: </h4>
  	</div>
	
	<p style='font-family: "Lucida Console", Monaco, monospace;' id='msgarea'></p>
	<script src="@controllers.routes.Assets.versioned("sheetjs/js/sddValidation.js")"></script>
	<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
	<script>
		var msg = '@log';
		var msg2 = decodeURIComponent(msg);
       	$('#msgarea').html(msg2.replace(/&amp;lt;br&amp;gt;/g, '<br>').replace(/&amp;lt;/g, '&lt;').replace(/&amp;gt;/g, '&gt;'));
		  document.getElementById('end-process-box').style.display = 'inline';
		  
		var url2="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadDataFile(dataFile.getId())".replace(/&amp;/g, '&') ;
		openSDD(url2);
	// 	console.log(url2);
	//    var url="@dataFile.getId()";
	//    console.log(url);
	// 	getURL("/hadatac/annotator/downloadfile?file_id="+"@dataFile.getId()");
	
	</script>
	<div id="found" style="font-family: 'Courier New', Courier, monospace" style="font-size: 16pt"></div>
	<div id="notfound" style="font-family: 'Courier New', Courier, monospace" style="font-size: 16pt"></div>
	
	
    <br><br>
    <a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.checkErrorDictionary()" class="btn btn-primary" role="button">Error Dictionary</a>
    <a href="@postAction" class="btn btn-primary" role="button">Back</a>
	</div>
}
