@(assignOwnerForm : Form[org.hadatac.console.models.AssignOwnerForm],
  ownerOptions : List[String],
  action : play.mvc.Call, 
  targetType : String,
  targetValue : String)

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.views.html.triplestore._
@import org.hadatac.console.controllers.triplestore._
@import org.hadatac.console.controllers._

@main("Assign Owner") {

<script type="text/javascript">
   function checkform() {
      var f = document.forms["assignOwner"].elements;
      var cansubmit = true;

      if (document.getElementById('user').value.length == 0) {
         cansubmit = false;
      }
         
      if (cansubmit) {
          document.getElementById('submitbutton').disabled = false;
      } else {
          document.getElementById('submitbutton').disabled = 'disabled';
      }
   }
</script>

  <div class="container">
    <h2>Assign Owner</h2>

    <form class="form-horizontal" name="assignOwner" method="post" action="@action">

    <div class="form-group">
		 <label>@targetType</label> <br>
		 @targetValue <br>
		 <br>
         <label>New Owner</label> 
         <select class="form-control col-sm-6" id="user" name="user" onchange="checkform()" >
            <option value=""></option>         

            @for(opt <- ownerOptions) {
                <option value="@opt">@opt</option>
            }
         </select>
     </div>
          
      <div class="form-group" class="col-sm-6 col-offset-3">
          <input class="btn btn-success" role="button" id="submitbutton" type="submit" value="Assign Owner" disabled="disabled" />
      </div>
      
   </form>    
</div>

}
