@(unprocessedFiles : List[String], 
  processedFiles : List[String],
  bStarted : Boolean)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.annotator._
@import org.hadatac.metadata.loader._
@import java.net._

@main("Automatic CCSV Generation") {
	
	<script type="text/javascript">
        function start() {
        	var msg = "@org.hadatac.console.controllers.annotator.AutoAnnotator.toggleAutoAnnotator()";
            alert("Auto-Annotator has been started");
            document.getElementById("start").disabled = true;
        	document.getElementById("stop").disabled = false;
	    }
        function stop() {
        	var msg = "@org.hadatac.console.controllers.annotator.AutoAnnotator.toggleAutoAnnotator()";
            alert("Auto-Annotator has been stopped");
            document.getElementById("start").disabled = false;
        	document.getElementById("stop").disabled = true;
	    }
     </script>
	
	@if(bStarted){
		<button type="button" class="btn btn-primary" disabled=true id="start" onclick="start()">Start Auto-Annotator</button>
		<button type="button" class="btn btn-primary" id="stop" onclick="stop()">Stop Auto-Annotator</button>
	}else{
		<button type="button" class="btn btn-primary" id="start" onclick="start()">Start Auto-Annotator</button>
		<button type="button" class="btn btn-primary" disabled=true id="stop" onclick="stop()">Stop Auto-Annotator</button>
	}
	
	<div class="container-fluid">
		<h4>Processed CSV Files:</h4>
		<select multiple disabled size="5">
			@for(file_name <- processedFiles){
				<option>@file_name</option>	
			}
		</select>
		
		<h4>Unprocessed CSV Files:</h4>
		<select multiple disabled size="5">
			@for(file_name <- unprocessedFiles){
				<option>@file_name</option>	
			}
		</select>
    </div>
    
    <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-warning" role="button">Back to Main Page</a>
}
