@(unprocessedFiles : List[org.hadatac.entity.pojo.DataFile], 
  processedFiles : List[org.hadatac.entity.pojo.DataFile],
  studyURIs : List[String],
  bStarted : Boolean,
  bAdmin : Boolean)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.views.html.fileviewer._
@import org.hadatac.console.controllers.annotator._
@import org.hadatac.console.controllers.fileviewer._
@import org.hadatac.metadata.loader._
@import java.net._

@main("Automatic Annotator") {
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/resumable.js")"></script>
    
    <div class="container-fluid">
	
	@if(bAdmin) {
	@if(bStarted){
		<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.toggleAutoAnnotator()" class="btn btn-primary disabled" role="button">Start Auto-Annotator</a>
		<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.toggleAutoAnnotator()" class="btn btn-primary" role="button">Stop Auto-Annotator</a>
	}else{
		<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.toggleAutoAnnotator()" class="btn btn-primary" role="button">Start Auto-Annotator</a>
		<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.toggleAutoAnnotator()" class="btn btn-primary disabled" role="button">Stop Auto-Annotator</a>		
	}
	<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.setLabKeyCredentials()" class="btn btn-primary" role="button">Set LabKey Credentials for Background Process</a>
	}
	<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadTemplates()" class="btn btn-primary" role="button">Download Templates</a>
    
	<div id="frame">
    <div class="resumable-error">
      Your browser, unfortunately, is not supported by Resumable.js.
    </div>
    
    <div class="resumable-drop" ondragenter="jQuery(this).addClass('resumable-dragover');" ondragend="jQuery(this).removeClass('resumable-dragover');" ondrop="jQuery(this).removeClass('resumable-dragover');">
      <h4>Data File Uploader</h4>
      Drop data files here to preview or <a class="resumable-browse"><u>select from your computer</u></a>
    </div>
    
    <br>
    <div class="resumable-progress">
      <table>
        <tr>
          <td width="100%"><div class="progress-container"><div class="progress-bar"></div></div></td>
          <td class="progress-text" nowrap="nowrap"></td>
          <td class="progress-pause" nowrap="nowrap">
            <a href="#" onclick="r.upload(); return(false);" class="progress-resume-link"><img src="@controllers.routes.Assets.versioned("images/resume.png")" title="Resume upload" /></a>
            <a href="#" onclick="r.pause(); return(false);" class="progress-pause-link"><img src="@controllers.routes.Assets.versioned("images/pause.png")" title="Pause upload" /></a>
          </td>
        </tr>
      </table>
    </div>
    
    <ul class="resumable-list"></ul>
    </div>

    <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/upload.js")"></script>
    
    <div class="container">
    <div class="col-lg-12">
        <div class="button-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>Filter by Study<span class="caret"></span></button>
            <ul class="dropdown-menu">
                @for(study <- studyURIs){
                    <li><a href="#" class="small" data-value="@study" tabIndex="-1"><input type="checkbox"/>&nbsp;@study</a></li>
                }
            </ul>
        </div>
    </div>
    </div>
	
	<div class="container-fluid">
	<table class="table">
	<thead>
         <tr>
            <th>Processed Data Files</th>
            @if(bAdmin) {
            	<th>Owner Email</th>
            }
            <th>Assigned Data Acquisition</th>
            <th>Time Uploaded</th>
            <th>Time Processed</th>
            <th>Operations</th>
         </tr>
    </thead>
    <tbody>
    	@for(file <- processedFiles){
    		<tr name="processed" data-value="@file.getStudyUri()">
    		    @if(AnnotationLog.create(file.getFileName()).getLog().contains("[ERROR]")) {
                    <td bgcolor="#FF9999" name="file_name">@file.getFileName()</td>
                } else { @if(AnnotationLog.create(file.getFileName()).getLog().contains("[WARNING]")) {
                    <td bgcolor="#FFFF99" name="file_name">@file.getFileName()</td>
                } else {
                    <td name="file_name">@file.getFileName()</td>
                }}
    			@if(bAdmin) {
    				<td>@file.getOwnerEmail()</td>
    			}
    			<td>@file.getDataAcquisitionUri()</td>
    			<td>@file.getSubmissionTime()</td>
    			<td>@file.getCompletionTime()</td>
    			<td>@if(file.getFileName().endsWith(".csv")) {
                        @defining("") { da_uri =>  @defining("") { oc_uri => 
    			    <a href="@org.hadatac.console.controllers.fileviewer.routes.CSVPreview.getCSVPreview("proc", file.getFileName(), da_uri, oc_uri, 10)" 
			       class="btn-xs btn-primary" role="button">Preview File</a>
                        }}}
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.moveDataFile(file.getFileName())" 
			   class="btn-xs btn-primary" role="button" onclick="return confirm('Are you sure to move? If so, the ingested data from this file will be deleted as well!')" >Move to Unprocessed Folder</a>
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.deleteDataFile(file.getFileName(), true)" 
			   class="btn-xs btn-primary" role="button" id="delete" onclick="return confirm('Are you sure to delete? If so, the ingested data from this file will be deleted as well!')">Delete</a>
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.assignDataAcquisition(file.getDataAcquisitionUri(), file.getFileName())" 
			   class="btn-xs btn-primary" role="button">Assign Acquisition</a>
    			@if(bAdmin) {
    				<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.assignFileOwner(file.getOwnerEmail(), file.getFileName())" 
				   class="btn-xs btn-primary" role="button">Assign Owner</a>
    			}
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.checkAnnotationLog(file.getFileName())" 
			   class="btn-xs btn-primary" role="button">Logs</a>
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadDataFile(file.getFileName(), true)" 
			   class="btn-xs btn-primary" role="button">Download</a>
    			</td>
    		</tr>
    	}
    </tbody>
    </table>
    @if(processedFiles.isEmpty()) {
    	<p>No records for processed files</p>
    }
    
    <br>
    
	<table class="table">
	<thead>
         <tr>
            <th>Unprocessed Data Files</th>
            @if(bAdmin) {
            	<th>Owner Email</th>
            }
            <th>Assigned Data Acquisition</th>
            <th>Time Uploaded</th>
            <th>Operations</th>
         </tr>
    </thead>
    <tbody>
    	@for(file <- unprocessedFiles) {
    	    <tr name="unprocessed">
    			@if(AnnotationLog.create(file.getFileName()).getLog().contains("[ERROR]")) {
                    <td bgcolor="#FF9999" name="file_name">@file.getFileName()</td>
                } else { @if(AnnotationLog.create(file.getFileName()).getLog().contains("[WARNING]")) {
                    <td bgcolor="#FFFF99" name="file_name">@file.getFileName()</td>
                } else {
                    <td name="file_name">@file.getFileName()</td>
                }}
    			@if(bAdmin) {
    				<td>@file.getOwnerEmail()</td>
    			}
    			<td>@file.getDataAcquisitionUri()</td>
    			<td>@file.getSubmissionTime()</td>
    			<td>
                        @if(file.getFileName().startsWith("DA")) {
    			    <a href="@org.hadatac.console.controllers.annotator.routes.PrepareIngestion.create(file.getFileName(),file.getDataAcquisitionUri())" 
			       class="btn-xs btn-success" role="button">Prepare Ingestion</a>
			}
			@if(file.getFileName().endsWith(".csv")) {
			@defining("") { da_uri => @defining("") { oc_uri => 
    	                     <a href="@org.hadatac.console.controllers.fileviewer.routes.CSVPreview.getCSVPreview("unproc", file.getFileName(), da_uri, oc_uri, 10)" 
				class="btn-xs btn-primary" role="button">Preview File</a>
                        }}}
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.deleteDataFile(file.getFileName(), false)" class="btn-xs btn-primary" role="button" id="delete" onclick="return confirm('Are you sure to delete?')">Delete</a>
    			@if(bAdmin) {
    				<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.assignFileOwner(file.getOwnerEmail(), file.getFileName())" class="btn-xs btn-primary" role="button">Assign Owner</a>
    			}
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.checkAnnotationLog(file.getFileName())" class="btn-xs btn-primary" role="button">Logs</a>
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadDataFile(file.getFileName(), false)" class="btn-xs btn-primary" role="button">Download</a>
    			</td>	
    		</tr>
    	}
    </tbody>
    </table>
    @if(unprocessedFiles.isEmpty()) {
    	<p>No unprocessed files</p>
    }
    </div>
	
    <br><br>
    <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-primary" role="button">Back to Main Page</a>
	</div>
	
	<script type="text/javascript">
    var options = [];

    $('.dropdown-menu a').on('click', function(event) {

       var $target = $( event.currentTarget ),
           val = $target.attr( 'data-value' ),
           $inp = $target.find( 'input' ),
           idx;

       if ( ( idx = options.indexOf( val ) ) > -1 ) {
          options.splice( idx, 1 );
          setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
       } else {
          options.push( val );
          setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
       }

       $( event.target ).blur();

       if (options.length > 0) {
    	   $("tbody tr[name='processed']").each(function(index) {
               if (options.indexOf($(this).attr("data-value")) > -1 
                       || $(this).find("[name='file_name']").text().startsWith("SDD-")) {
                   console.log("hello: " + $(this).find("td[name='file_name']").text().startsWith("SDD-"));
                   $(this).show();
               } else {
                   $(this).hide();
               }
           });
       } else {
    	   $("tbody tr[name='processed']").each(function(index) {
        	   $(this).show();
           });
       }
       
       return false;
    });
    </script>
}
