@(handler: org.hadatac.console.models.CSVAnnotationHandler,
  theUnits : org.hadatac.console.models.SparqlQueryResults)

@import helper._
@import org.hadatac.console.views.html._
@import java.net._

@main("CSV Annotator") {

    <h2>CSV Annotator</h2>
    
    <h3>Selected Deployment</h3>
        <ul>
          <li><b>Deployment URI</b>: @handler.getDeploymentUri()</li>
          <li><b>Platform</b>: @handler.getDeploymentPlatform()</li>
          <li><b>Instrument</b>:@handler.getDeploymentInstrument()</li>
        </ul>
    
    <h3>Uploaded CSV</h3>
        <ul>
          <li><b>Name</b>: @handler.getDatasetName()</li>
          <li><b>Upload date/time</b>: @handler.getDatasetUploadDatetime()</li>
        </ul>
    
    <h3>Step 3 of 3: Select Measurements' Characteristics and Units:</h3>
   
    <form name="FullAnnotatorForm" method="POST" enctype="text/plain" action="@org.hadatac.console.controllers.annotator.routes.Downloads.genPreamble(URLEncoder.encode(handler.toJSON(),"UTF-8"))">

        <div class="container-fluid">
            <table class="table">
                 <thead>
                    <tr>
                       <th>Measurement</th>
                       <th>Characteristic</th>
                       <th>Unit</th>
                    </tr>
                 </thead>
                 <tbody>
                    @for((field, index) <- handler.getFields.zipWithIndex){
                        @field_option(index, field, handler.getDeploymentCharacteristics(), theUnits)
                    } 
                 </tbody>
            </table>
        </div>
 
        <h3>CCSV Options</h3>

        <div class="container-fluid">
           <div class="row">
              <div class="navbar-collapse collapse navbar-secondary">
                 <input type="submit" class="btn btn-primary" value="Upload CCSV">
                 <input type="submit" class="btn btn-primary" value="Download CCSV">
                 <input type="submit" class="btn btn-primary" value="Download Preamble">
                 <input type="submit" class="btn btn-danger" value="Cancel">
              </div>
          </div>
        </div>

    </form>

}
