@(filename : String, da : org.hadatac.entity.pojo.DataAcquisition, message : String)

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.views.html.schema._
@import org.hadatac.console.controllers.schema._
@import org.hadatac.console.controllers._
@import org.hadatac.metadata.loader.ValueCellProcessing;

@main("Prepare Data Ingestion") {

  <style>
    .paddin0 {
        padding:10px !important
    }
    .margin0{
        margin:0px; !important
    }
  </style>

  <div>
    <input type="text" class="form-control col-sm-2" id="message" name="message" value="Message: @message" readonly>
  </div> 

  <div class="container col-md-1">
  </div>

  <form class="form-horizontal" name="prepareIngestion" method="post">

  <div class="container col-md-9">
    <h3>Prepare Data Ingestion</h3>

    <div id="rcorners" class="paddin0 margin0" style="background-color: #DCF7FE">
      <center><input type="submit" class="btn btn-primary btn-sm" role="button" id="selectDA" value="Select Complete Data Acquisition"
		     formaction="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.assignDataAcquisition(filename, da.getUri())"></input>
    </div>

    <center><b>OR</b></center>

    <div id="rcorners" style="background-color: #DCF7FE" class="paddin0 margin0" >
      
      <center><b>Incomplete Data Acquisition to be completed : </b>@ValueCellProcessing.replaceNameSpaceEx(da.getUri()) 
	       <input type="submit" class="btn btn-default btn-sm" role="button" id="viewDA" value="View"></input> 
	       <input type="submit" class="btn btn-default btn-sm" role="button" id="editDA" value="Edit"></input> 
               <input type="submit" class="btn btn-success btn-sm" role="button" id="completeDA" value="Confirm Complete" 
	       @if(da.getStudyUri() == null || da.getStudyUri().equals("") || 
		   da.getDeploymentUri() == null || da.getDeploymentUri().equals("") ||
		   da.getSchemaUri() == null || da.getSchemaUri().equals("")) {
	       disabled
	       }
               ></input></center>

      </center><br>

      <center><div id="rcorners"   style="background-color: #B9E1EB" class="paddin0 margin0" >

	 @if(da.getStudyUri() == null || da.getStudyUri().equals("")) {
	  <div class="col-md-2">
	     <input type="submit" class="btn btn-primary btn-sm" role="button"  id="selectSTD" value="Select Full Study"
		    formaction="@org.hadatac.console.controllers.annotator.routes.PrepareIngestion.selectStudy(filename, da.getUri())">
             </input>
	  </div>

	  <div class="col-md-1">
	     <b>OR</b>
	  </div>

	  <div id="rcorners" class="col-md-8 paddin0 margin0"   style="background-color: #90D0DF">

	     <input type="submit" class="btn btn-primary btn-sm" role="button" id="createSTD" value="Create Basic Study"></input>

	     <b>AND</b>

	     <input type="submit" class="btn btn-primary btn-sm" role="button" id="createPID" value="Register Subjects"></input>

	     <b>AND</b>

	     <input type="submit" class="btn btn-primary btn-sm" role="button" id="createSID" value="Register Samples"></input>

	  </div>

          <br><br><br>
         } else {

	       <center><b>Associated study : </b>@ValueCellProcessing.replaceNameSpaceEx(da.getStudyUri())
	       <input type="submit" class="btn btn-default btn-sm" role="button" id="viewSTD" value="View">
	       <input type="submit" class="btn btn-default btn-sm" role="button" id="editSTD" value="Edit">
	       <input type="submit" class="btn btn-default btn-sm" role="button" id="removeSTD" value="Remove Association"
		      formaction="@org.hadatac.console.controllers.annotator.routes.PrepareIngestion.removeAssociation(filename, da.getUri(), "Study")"></input> </center>

	 }

      </div></center>

      <div>
	<center><b>AND</b></center>
      </div>

      <div id="rcorners"   style="background-color: #B9E1EB" class="paddin0 margin0" >

	 @if(da.getDeploymentUri() == null || da.getDeploymentUri().equals("")) {
	  <div class="col-md-2">
	    <input type="submit" class="btn btn-primary btn-sm" role="button" id="selectDPL" value="Select Full Deployment"
		   formaction="@org.hadatac.console.controllers.annotator.routes.PrepareIngestion.selectDeployment(filename, da.getUri())">
	    </input>
          </div>

	  <div class="col-md-1">
	    <center><b>OR</b></center>
	  </div>

	  <div id="rcorners" class="col-md-8 paddin0 margin0"  style="background-color: #90D0DF">
	    <center>
	     <input type="submit" class="btn btn-primary btn-sm" role="button" id="createDPL" value="Create Basic Deployment"></input>
	    </center>


	    <center><div>
	       <b>AND</b>
	    </div></center>

   	     <center><div id="rcorners"  style="background-color: #73B9CA" class="paddin0 margin0" >

	       <input type="submit" class="btn btn-primary btn-sm" role="button" id="selectPLT" value="Select Platform"></input>

	       <b>OR</b>

	       <input type="submit" class="btn btn-primary btn-sm" role="button" id="createPLT" value="Create Platform"></input>

             </div></center>

	     <center><b>AND</b></center>

	     <center><div id="rcorners"   style="background-color: #73B9CA" class="paddin0 margin0" >

	       <input type="submit" class="btn btn-primary btn-sm" role="button" id="selectINS" value="Select Instrument"></input>

	       <b>OR</b>

	       <input type="submit" class="btn btn-primary btn-sm" role="button" id="createINS" value="Create Instrument"></input>

             </div></center>

          </div>

          <br><br><br><br><br><br><br><br><br><br>
	  } else {
      
	       <center><b>Associated deployment : </b>@ValueCellProcessing.replaceNameSpaceEx(da.getDeploymentUri())
	       <input type="submit" class="btn btn-default btn-sm" role="button" id="viewDPL" value="View">
	       <input type="submit" class="btn btn-default btn-sm" role="button" id="editDPL" value="Edit">
	       <input type="submit" class="btn btn-default btn-sm" role="button" id="removeDPL" value="Remove Association"
		      formaction="@org.hadatac.console.controllers.annotator.routes.PrepareIngestion.removeAssociation(filename, da.getUri(), "Deployment")"></input> </center>

      	  }

      </div>


      <div>
	<center><b>AND</b></center>
      </div>

      <center><div id="rcorners"  style="background-color: #B9E1EB" class="paddin0 margin0" >

        @if(da.getSchemaUri() == null || da.getSchemaUri().equals("")) {

	  <input type="submit" class="btn btn-primary btn-sm" role="button" id="selectDAS" value="Select Schema"
		 formaction="@org.hadatac.console.controllers.annotator.routes.PrepareIngestion.selectSchema(filename, da.getUri())">
          </input>

	  <b>OR</b>

	  <input type="submit" class="btn btn-primary btn-sm" role="button"  id="createDAS"
		 formaction="@org.hadatac.console.controllers.schema.routes.NewDAS.index()" 
		 value="Create Schema from Scratch"></input>

	  <b>OR</b>

	  <input type="submit" class="btn btn-primary btn-sm" role="button"  id="createDASFromFile"
		 formaction="@org.hadatac.console.controllers.annotator.routes.SchemaFromFile.create(filename)" 
		 value="Create Schema from Data File"></input>

       } else {

	       <center><b>Associated schema : </b>@ValueCellProcessing.replaceNameSpaceEx(da.getSchemaUri())
	       <input type="submit" class="btn btn-default btn-sm" role="button" id="viewDAS" value="View">
	       <input type="submit" class="btn btn-default btn-sm" role="button" id="editDAS" value="Edit">
	       <input type="submit" class="btn btn-default btn-sm" role="button" id="removeDAS" value="Remove Association"
		      formaction="@org.hadatac.console.controllers.annotator.routes.PrepareIngestion.removeAssociation(filename, da.getUri(), "Schema")">
	       <input type="submit" class="btn btn-default btn-sm" role="button" id="testDAS" value="Test Schema"></input>

       }
      </div></center>

    </div>

    <br>
    <a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.index()" class="btn btn-primary" role="button">Back to Manage CSV Annotation</a>

  </div>
  </form>
  
  }
