@(headers: List[String], preview: ArrayList[ArrayList[String]])

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.views.html.annotator._
@import org.hadatac.console.controllers.annotator._
@import org.hadatac.metadata.loader._
@import java.net._

@main("CSV Preview"){
		<script>
			
		</script>

		<div id="csv-preview"; style="height:250px; overflow:auto; padding-right: 50px; padding-left: 50px;">
			@render_table(headers,preview)
		</div>
}

@render_table(headers: List[String], preview: ArrayList[ArrayList[String]]) = {
	@if(headers==null || preview==null || headers.size()<=0 || preview.size()<=0) {
		<p>No preview to display</p>
	} else {
		<table class="table">
			<tr>
			@for((colHead) <- headers){
				<th>@colHead</th>
			}
			</tr>
	
			@for((prevRow) <- preview){
			<tr>
			@for((entry) <- prevRow){
				<td>@entry</td>
			}
		  </tr>
			}    
		</table>
	}
}
