@(dataFile : org.hadatac.entity.pojo.DataFile,
dd_dataFile: org.hadatac.entity.pojo.DataFile,
bSavable : Boolean,
loadedList : List[String],
testClass: org.hadatac.console.controllers.fileviewer.SDDEditorV2,
userName:String
)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.views.html.annotator._
@import org.hadatac.console.controllers.annotator._
@import org.hadatac.metadata.loader._
@import org.hadatac.utils._
@import org.hadatac.entity.pojo.DataFile


@import java.net._

@main("SDD Editor Version 2","",userName){
   <script src="@controllers.routes.Assets.versioned("sheetjs/vendor/alertify.js")"></script>
   <script src="@controllers.routes.Assets.versioned("sheetjs/js/canvas-datagrid.js")"></script>
   <script src="@controllers.routes.Assets.versioned("javascripts/vendor/jquery/3.5.0/jquery-3.5.0.min.js")"></script>
   <script src="@controllers.routes.Assets.versioned("javascripts/vendor/split/1.5.11/Split.js")"></script>

   <link rel="stylesheet" href="@controllers.routes.Assets.versioned("sheetjs/css/sheetjs.css")">
   <link rel="stylesheet" href="@controllers.routes.Assets.versioned("sheetjs/css/sheet2js.css")">
   <link rel="stylesheet" href="@controllers.routes.Assets.versioned("sheetjs/css/setDDForm.css")">
   <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("sheetjs/vendor/alertify.css")">

   <script src="@controllers.routes.Assets.versioned("javascripts/jQueryFileExplorer/jQueryFileExplorer.js")"></script>
   <link rel="stylesheet" href="@controllers.routes.Assets.versioned("javascripts/jQueryFileExplorer/jQueryFileExplorer.css")">

   <div id="rcorners" >

      <h4>@dataFile.getFileName()</h4>
      <div class="col-md-12 col-sm-12" style="margin-bottom:0px;">
      @if(bSavable) {

         <input class="btn btn-primary" type="button" id="upload" role="button" value="Save">
      }
      <a  href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadDataFile(dataFile.getId())" class="btn btn-primary" role="button">
         <span class="glyphicon glyphicon-download-alt"> </span> Download</a>

      <!-- <button class="btn btn-primary" type="button" role="button" id="populatesdd" style="display: inline-block" onclick="populateSDD()">
         <span class="glyphicon glyphicon-pencil"> </span> Populate</button> -->

      <script>

         var durl="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadDataFile(dd_dataFile.getId())".replace(/&amp;/g, '&') ;
         durl_=durl;
      </script>
      <!-- This is not implemented properly for multiple users in  server setup so has been removed to prevent data leaks -->
      <!--
      <div class="undo-edit">

         <button class="btn btn-primary" type="button" role="button" style="display: inline-block" onclick="undoEdit()">
               <span class="glyphicon glyphicon-circle-arrow-left">   </span> Undo </button>
      </div>
      <div class="undo-edit">
         <button class="btn btn-primary" type="button" role="button" style="display: inline-block" onclick="reundoEdit()">
               <span class="glyphicon glyphicon-circle-arrow-right"> </span> Redo </button>
      </div>
      -->
      <div class="changeView" style="display:inline-block;">
            <button class="changeViewLabel" id="showThis"> <span class="glyphicon glyphicon-list-alt"> </span> Show Labels</button>
               <button class="changeViewIri" id="hideThis">  Show Original Sheet</button>

      </div>

      <button type="button" class="btn btn-primary" role="button" id="set_DD">
         <span class="glyphicon glyphicon-book"> </span>
         Set Data Dictionary
      </button>


      <!-- <div class= shopbutton>
         <button class="cart" >

            <span class="glyphicon glyphicon-globe"> </span> Browse Ontologies</button>

            <ul id="myDropdown" class="ontologydrop-content">

               @for(loadedFile <- loadedList) {

                  <li class=eachOntology><a href="/hadatac/metadata/graph?oper=ent&className=@loadedFile">@loadedFile</a></li>
               }

            </ul>
         </div> -->

         <script>

            var fid="@dataFile.getId()";
            var email="@userName";

            $.ajax({
               type : 'GET',
               url : '/hadatac/sddeditor_v2/getfile_ID',
               // url : 'http://localhost:9000/hadatac/sddeditor_v2/getfile_ID',
               data : {
                  fileid: fid
               },
               success : function(data) {
                  //console.log(data);
               }
            });

         </script>
         <div class="cartbutton" id="f">
            <button type="button" class="addtocart" role="button" id="add_to_cart" style="display: inline-block; "  >

               <span class="glyphicon glyphicon-picture"> </span>
               View Terms
            </button>
            <ul id="seecart" class="cart-content">
               <li class="cartitem" id="cart_item">Cart Items: </span></li>
            </ul>
         </div>

<!--
            <button id="vsdd" onclick="verifySDD()" > <span class="glyphicon glyphicon-check"> </span> Verify SDD</button>
         -->
            <button id="everify" onclick="external()"><span class="glyphicon glyphicon-transfer"> </span> External Verify</button>


         <button class="main-nav" id="show"> <span class="glyphicon glyphicon-eye-open"> </span> </button>
            <button class="Close" id="hide"> <span class="glyphicon glyphicon-eye-close"> </span> </button>
         </div>
      <div class="mobile-nav">
            <button id="returnView" onclick="returnToView()" style="justify-content:center; margin:0 auto; margin-bottom:2px">Return To View</button>
         <button type="button" class="recommended" role="button" id="recommendedterms" style="display: block;">
            <img src="@controllers.routes.Assets.versioned("icons/light-bulb.png")"
            width="36" height="30" alt=""/> Recommended Terms </button>
            <select class="menuoptions" id="menulist" size=5 onchange="chooseItem(this)">
               <option value="Choose from Below">Choose from Below</option>
            </select>

            <button type="button" class="recommendedcol" role="button" id="recommendedcolumn" style="display: block;" >
               <img src="@controllers.routes.Assets.versioned("icons/vr-icon.png")"
               width="40" height="32" alt=""/>Recommended Columns</button>
               <select class="virtualoptions" id="virtuallist" size=5 onchange="chooseItem(this)">
                  <option value="Choose from Below">Choose from Below</option>
               </select>

               <!-- <div id="editRowsAdd">
                  <button class="insertrowbtn" onclick="insertRowAbove()">Insert Row Above</button>
                  <button class="insertrowbtn" onclick="insertRowBelow()">Insert Row Below</button>
                  <button class="removerowbtn" onclick="removeRow()">Remove Row</button>
                  <button class="undo-remove-row" onclick="revertRow()"><img src="@controllers.routes.Assets.versioned("icons/undo-back.png")" width="15" height="18" alt=""/> </button>
               </div> -->

               <script>
                  function external(){
                     var f_id="@dataFile.getId()";
                     externalValidate(f_id);
                  }
               </script>
               <div id="loadingmsg"></div>
               <div id="irifound" style="overflow-y:auto;"></div>
               <div id="searchForTerm" class="input-container" style="width:70%;margin-left: 5px;">
                  <input type="text" id="termToSearch" class="input-field" placeholder="Search For Term        " />
                  <button type="button"  role="button" id="searchOnt" class="input-button" >
                     <span class="glyphicon glyphicon-search">   </span>
                  </button>
                  </div>

                  <select id="numToSearch" onchange="showTop()" style="font-size:20px;">
                     <option value="5" selected="selected">5</option>
                     <option value="10">10</option>
                     <option value="50">50</option>
                     <option value="All">All</option>
                  </select>



               <div id="numberResults"></div>
               <div id="pagekey" style=" margin:0 auto; left:150px; text-align: center">
                  <a href="javascript:prevPage()" id="btn_prev">Prev</a>
                  <a href="javascript:nextPage()" id="btn_next">Next</a>
                  page:<span id="page"></span>
                  </div>
               <div id="listingTable" style="overflow-y:scroll; width:100%; height:100%;word-wrap: break-word;
               word-break: keep-all;margin-bottom:5px;margin-left:5px;margin-right:5px;"></div>



            </div>
                     <ul class="custom-cm">
                        <li class="custom-cm__item" id="thisitem"><img src="@controllers.routes.Assets.versioned("icons/cartsil.png")" width="25px" height="20px"/> Add to Cart</a> </li>
                        <!-- <div class="custom-cm__item" style="background-image: https://www.shareicon.net/data/512x512/2015/12/12/686440_tool_512x512.png">Add to Cart</div> -->

                    </ul>
                    <div class="text-area" >
                     Cell Value: <input type="text" style="width:35%" id="cellText" value=""/>


                     <div id="suggestion-box" style="float: right;">
                        Suggestion Service: <div id="spinnerContainer" class="spinner" style="width:20px; height:20px; display: inline-block;">
                           <img src="@controllers.routes.Assets.versioned("sheetjs/img/success.png")" id="imageStatus" style="width:20px; height:20px;"/>
                     </div>
                  </div>
                  </div>

                  <div class="text-area2">
                     Column Description : <input type="text" id="varDescription" style="width:35%" value="" input disabled="disabled"/>

                     <div id="suggestion-box" style="float: right;">
                        Refresh Suggestion: <button class="refresh-suggest" onclick="getSuggestion()"><img src="@controllers.routes.Assets.versioned("icons/undo-forward.png")" width="15" height="18" alt=""/> </button>
                  </div>

               </div>


                     <div><a id="error_msg"></a></div>

                     <div class = "setDDForm">
                        <form id="regForm" action="">


                        <div class="ddtab">Select Data Dictionary File:
                          <div class="ddfile" id="fileexplorer"></div>

                          <p><input placeholder="Data Dictionary..." oninput="this.className = ''" class="ddInput" id="dd_path_field" disabled></p>
                        </div>

                        <div class="ddtab">Select Data Dictionary Sheet (SheetName ["header1", "header2", ...]):
                          <div id="sheetexplorer" class="headtab"></div>
                        </div>

                        <div class="ddtab">Select Header Column:
                          <div id="headerexplorer" class="headtab"></div>
                        </div>

                        <div class="ddtab">Select Description Column:
                          <div id="descriptionexplorer" class="headtab"></div>
                          <input type="checkbox" id="importDD" name="importDD" value="true">
                          <label for="importDD">Import missing columns</label><br>
                        </div>

                        <div style="overflow:auto;">
                          <div style="float:right;">
                            <button type="button" id="prevBtn" class="btn btn-primary" onclick="nextPrev(-1)">Previous</button>
                            <button type="button" id="nextBtn" class="btn btn-primary" onclick="nextPrev(1)">Next</button>
                          </div>
                        </div>


                        <div style="text-align:center;margin-top:40px;">
                          <span class="step"></span>
                          <span class="step"></span>
                          <span class="step"></span>
                          <span class="step"></span>
                        </div>

                        </form>
                     </div>

                     <div id="grid"></div>

                     <div id="gridcopy"></div>
                     <div id="footnote"></div>
                     <div id="buttons"></div>
                  </div>

                  <script src="@controllers.routes.Assets.versioned("sheetjs/vendor/spin.js")"></script>
                  <script src="@controllers.routes.Assets.versioned("sheetjs/js/shim.js")"></script>

                  <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
                  <script src="@controllers.routes.Assets.versioned("sheetjs/js/dropsheet.js")"></script>
                  <script src="@controllers.routes.Assets.versioned("sheetjs/js/prefixesHandler.js")"></script>
                  <script src="@controllers.routes.Assets.versioned("sheetjs/js/loadDD.js")"></script>
                  <script src="@controllers.routes.Assets.versioned("sheetjs/js/load_from_server.js")"></script>
                  <script src="@controllers.routes.Assets.versioned("sheetjs/js/load_from_server2.js")"></script>
                  <script src="@controllers.routes.Assets.versioned("sheetjs/js/setDDForm.js")"></script>
                  <script src="@controllers.routes.Assets.versioned("sheetjs/js/sddValidation.js")"></script>
                  <script src="@controllers.routes.Assets.versioned("sheetjs/js/label-iri-view.js")"></script>
                  <script src="@controllers.routes.Assets.versioned("sheetjs/js/searchTerm.js")"></script>
                  <script src="@controllers.routes.Assets.versioned("sheetjs/js/hideshow.js")"></script>
                  <script src="/hadatac/assets/javascripts/d3.v3.min.js"></script>

                  <script type="text/javascript">
                     /* set up async GET request */
                     var url = "@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadDataFile(dataFile.getId())".replace(/&amp;/g, '&');
                     var runDDinit = true;
                     var workbook;
                     var _formData = JSON.stringify({"fileId": "@dataFile.getId()"});
                     var _upload_url = "@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.saveDataFile()";
                     var _filetype = "@dataFile.getFileExtention()";
                     var _onWb = function(wb, sheet){
                        workbook = wb;
                        // Load up DD if we have a valid one and if we havn't loaded 1 before
                        if(runDDinit){
                           runDDinit = false;
                           initDataDictionary();
                           getSuggestion();
                        }
                     };

                     // var _upload = document.getElementById('upload');
                     var _onreponse = function() {

                        $("#error_msg").html(decodeURIComponent(this.responseText));
                        setTimeout(function() {
                           $("#error_msg").html("");
                        }, 3000);
                     };

                     var req = new XMLHttpRequest();
                     req.open("GET", url, true);
                     req.responseType = "arraybuffer";

                     req.onload = function(e) {
                        var data = new Uint8Array(req.response);

                        // var workbook = XLSX.read(data, {type:"array"});
                        // console.log("SheetNames: " + workbook.SheetNames);

                        DropSheet({
                           data: data,
                           file: _file,
                           filetype: _filetype,
                           drop: _target,
                           // upload: _upload,
                           upload_url: _upload_url,
                           formdata: _formData,
                           reponse_action: _onreponse,
                           on: {
                              workstart: _workstart,
                              workend: _workend,
                              sheet: _onsheet,
                              foo: 'bar',
                              wb: _onWb
                           },
                           errors: {
                              badfile: _badfile,
                              pending: _pending,
                              failed: _failed,
                              large: _large,
                              foo: 'bar'
                           }
                        });
                     }
                     req.send();
                  </script>
                  <script>
                     var sdd_url="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadDataFile(dataFile.getId())".replace(/&amp;/g, '&');
                     getSDDUrl(sdd_url);
                     // This is old depricated code use to trigger suggestion off of DDs passed as page arguments
                     // This suggestion trigger is now set on initDataDictionary

                     // if("@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadDataFile(dd_dataFile.getFileName())" == "" ){
                     //    alert("Please upload a valid Data Dictionary")
                     // }
                     // else{
                     //    if("@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadDataFile(dd_dataFile.getFileName())"=="" ){
                     //       alert("Could not find a Data Dictionary")
                     //    }
                     //    else{
                     //       var url="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadDataFile(dd_dataFile.getId())".replace(/&amp;/g, '&') ;
                     //
                     //       //getSDDURL()
                     //       getURL(url);
                     //    }
                     // }
                  </script>




               }
