@(files  : List[org.hadatac.entity.pojo.DataFile], 
  bAdmin : Boolean)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.views.html.annotator._
@import org.hadatac.console.controllers.annotator._
@import org.hadatac.metadata.loader._
@import java.net._

@main("SDD Editor"){
    <script src="@controllers.routes.Assets.versioned("sheetjs/vendor/alertify.js")"></script>
    <script src="https://unpkg.com/canvas-datagrid/dist/canvas-datagrid.js"></script>

    <link rel="stylesheet" href="@controllers.routes.Assets.versioned("sheetjs/css/sheetjs.css")">
    <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("sheetjs/vendor/alertify.css")">
    
<style>
#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Safari */
@@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

    <div>
        <h3>Upload Data Dictionary Files for Automatic Annotation</h3>
        <form name="fileUploadForm" id='upload_form_dd' method="POST" enctype="multipart/form-data" 
        action="@org.hadatac.console.controllers.fileviewer.routes.DataDictionaryAnnotator.uploadDataDictionaryFile()">
            <input type="file" id="dd_file" value="" name="file"/>
            <input class="btn btn-primary" type="submit" id="upload_dd" value="Upload" disabled/>
        </form>
    </div>

    <div class="container-fluid">
    <table class="table" id="data_dictionary_files">
    <thead>
         <tr>
            <th>Data Dictionary Files</th>
            @if(bAdmin) {
                <th>Owner Email</th>
            }
            <th>Submission Time</th>
            <th>Completion Time</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Operations</th>
         </tr>
    </thead>
    <tbody>
        @for(file <- files){
            <tr>
                <td>@file.getFileName()</td>
                @if(bAdmin) {
                    <td>@file.getOwnerEmail()</td>
                }
                <td>@file.getSubmissionTime()</td>
                <td>@file.getCompletionTime()</td>
                <td>@file.getCompletionPercentage().toInt%</td>
                <td>@file.getStatus()</td>
                <td>
                    <a href="@org.hadatac.console.controllers.dataacquisitionsearch.routes.Downloader.downloadDataFile(file.getFileName())" 
                   class="btn btn-xs btn-primary" name="download" role="button">Download</a>
                    <a href="@org.hadatac.console.controllers.dataacquisitionsearch.routes.Downloader.deleteDataFile(file.getFileName())" 
                   class="btn btn-xs btn-primary" name="delete" role="button" id="delete" onclick="return confirm('Are you sure to delete? If so, the ingested data from this file will be deleted as well!')">Delete</a>
                    @if(bAdmin) {
                        <a href="@org.hadatac.console.controllers.dataacquisitionsearch.routes.Downloader.assignFileOwner(file.getOwnerEmail(), file.getFileName())" 
                       class="btn btn-xs btn-primary" name="assign_owner" role="button">Assign Owner</a>
                    }
                    <a href="@org.hadatac.console.controllers.dataacquisitionsearch.routes.Downloader.checkAnnotationLog(file.getFileName())" 
                   class="btn btn-xs btn-primary" name="logs" role="button">Logs</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
    
    @if(files.isEmpty()) {
        <p>No records for uploaded files</p>
    }

    <div id="loader" style="display:none;"></div>
    <div id="body">
      <div>
        <h3>SDD Editor</h3>
        <div id="drop">Drop a file here</div>
        <input type="file" id="sdd_file" value=""/>
        <input class="btn btn-primary" type="button" id="upload" value="Submit" disabled/>
        <a class="btn btn-primary" role="button" id="download" disabled>Download</a>
      </div>
      
      <div id="end-process-box" style="display:none;">
        <h4>File Ingestion Results: </h4>
        <p style='font-family: "Lucida Console", Monaco, monospace;' id='msgarea'></p>
      </div>
      
      <div>
        <div id="grid"></div>
        <div id="buttons"></div>
        <div id="footnote"></div>
      </div>
    </div>
    
    <script src="@controllers.routes.Assets.versioned("sheetjs/js/shim.js")"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="@controllers.routes.Assets.versioned("sheetjs/js/dropsheet.js")"></script>
    <script src="@controllers.routes.Assets.versioned("sheetjs/js/main.js")"></script>
    <script src="@controllers.routes.Assets.versioned("sheetjs/vendor/spin.js")"></script>
    
    <script>
    var _upload = document.getElementById('upload');
    var _download = document.getElementById('download');
    var _onupload = function(e) {
        $("#loader").show();
        $("#upload").attr("disabled", "disabled");
        $("#download").attr("disabled", "disabled");
    };
    
    var _ondownload = function(e) {
        return $("input:file").val().replace(/.*(\/|\\)/, '');
    };
    
    var _onreponse = function() {
        if (this.readyState == 4 && this.status == 200) {
            $("#loader").hide();
            var msg2 = decodeURIComponent(this.responseText);
            $('#msgarea').html(msg2.replace(/&amp;lt;br&amp;gt;/g, '<br>').replace(/&amp;lt;/g, '&lt;').replace(/&amp;gt;/g, '&gt;'));
            document.getElementById('end-process-box').style.display = 'inline';
            
            $("#upload").removeAttr("disabled");
            $("#download").removeAttr("disabled");
        }
    };

    DropSheet({
      file: _file,
      drop: _target,
      download: _download,
      upload: _upload,
      upload_url: "@org.hadatac.console.controllers.fileviewer.routes.SDDEditor.uploadSDDFile()",
      reponse_action: _onreponse,
      on: {
        workstart: _workstart,
        workend: _workend,
        sheet: _onsheet,
        upload: _onupload,
        download: _ondownload,
        foo: 'bar'
      },
      errors: {
        badfile: _badfile,
        pending: _pending,
        failed: _failed,
        large: _large,
        foo: 'bar'
      }
    });
    
    $("#sdd_file").change(function () {
        var fileName = $(this).val();
        if (fileName.length > 0) {
            $("#upload").removeAttr("disabled");
            $("#download").removeAttr("disabled");
        }
    });
    
    $("#dd_file").change(function () {
    	console.log("hello");
        var fileName = $(this).val();
        if (fileName.length > 0) {
            $("#upload_dd").removeAttr("disabled");
        }
    });
    </script>
}
