@(dataFile : org.hadatac.entity.pojo.DataFile,
  bSavable : Boolean)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.views.html.annotator._
@import org.hadatac.console.controllers.annotator._
@import org.hadatac.metadata.loader._
@import java.net._

@main("SDD Editor Version 2"){
    <script src="@controllers.routes.Assets.versioned("sheetjs/vendor/alertify.js")"></script>
    <script src="https://unpkg.com/canvas-datagrid/dist/canvas-datagrid.js"></script>

    <link rel="stylesheet" href="@controllers.routes.Assets.versioned("sheetjs/css/sheetjs.css")">
    <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("sheetjs/vendor/alertify.css")">

    <div id="rcorners">
    <h4>@dataFile.getFileName()</h4>
    @if(bSavable) {
        <input class="btn btn-primary" type="button" id="upload" value="Save"/>
    }
    <a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadDataFile(dataFile.getId())" class="btn btn-primary" role="button">Download</a>



    <button class="main-nav" id="show">Show Options</button>
    <button class="Close" id="hide">Hide Options</button>





     <div class="mobile-nav">
        <p id="effect">These are ontologies displayed below:</p>

          <select class="menuoptions" id="menulist" size=5 onchange="chooseItem(this)">
             <option value="Choose from Below">Choose from Below</option>
          </select>
          <div id="editRowsAdd">

            <div class="dropdown">
                <button class="insertrowbtn">Insert Row Above</button>
                <div class="dropdown-child">
                  <input  type="text" id="textInput1" value=" " />
                </div>
            </div>

            <script>
            document.getElementById('textInput1').onkeypress=function(e){
             if(e.keyCode==13){
                  rowEnteredAdd();
             }
            }
            </script>
          </div>


          <div id=editRowsRemove>
          <div class="dropdown">
             <button class="removerowbtn">Remove Row</button>
             <div class="dropdown-child">
                <input  type="text" id="textInput2" value=" " />
             </div>
          </div>
          <script>
             document.getElementById('textInput2').onkeypress=function(e){
                if(e.keyCode==13){
                    rowEnteredRemove();
                }
             }
          </script>
          </div>


    <div><a id="error_msg"></a></div>
    <div id="grid"></div>
    <div id="footnote"></div>
    <div id="buttons"></div>
    </div>

    <script src="@controllers.routes.Assets.versioned("sheetjs/js/shim.js")"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="@controllers.routes.Assets.versioned("sheetjs/js/dropsheet.js")"></script>
    <script src="@controllers.routes.Assets.versioned("sheetjs/js/load_from_server.js")"></script>
    <script src="@controllers.routes.Assets.versioned("sheetjs/vendor/spin.js")"></script>

    <script type="text/javascript">
    /* set up async GET request */
    var url = "@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadDataFile(dataFile.getId())".replace(/&amp;/g, '&');
    var _upload = document.getElementById('upload');
    var _onreponse = function() {
    	$("#error_msg").html(decodeURIComponent(this.responseText));
    	setTimeout(function() {
    		$("#error_msg").html("");
    	}, 3000);
    };

    var req = new XMLHttpRequest();
    req.open("GET", url, true);
    req.responseType = "arraybuffer";

    req.onload = function(e) {
      var data = new Uint8Array(req.response);

      // var workbook = XLSX.read(data, {type:"array"});
      // console.log("SheetNames: " + workbook.SheetNames);

      DropSheet({
        data: data,
        file: _file,
        filetype: "@dataFile.getFileExtention()",
        drop: _target,
        upload: _upload,
        upload_url: "@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.saveDataFile()",
        formdata: JSON.stringify({"fileId": "@dataFile.getId()"}),
        reponse_action: _onreponse,
        on: {
            workstart: _workstart,
            workend: _workend,
            sheet: _onsheet,
            foo: 'bar'
        },
        errors: {
            badfile: _badfile,
            pending: _pending,
            failed: _failed,
            large: _large,
            foo: 'bar'
        }
      });
    }
    req.send();
    </script>
}
