 @(selection : String)
 
   <div class="navbar-collapse collapse navbar-secondary hidden-print">
       <div class="col-md-1">
       	   <button type="button" class="btn btn-link btn-block"><b>Computational<br>Infrastructure</b></button>
       </div>
	   @if(selection == "ComputerClasses") {
             <div class="col-md-1">
          	    <a href="" class="btn-xs btn-block btn-warning disabled" role="button">Computer<br>Class<br>Hierarchy</a>
       	     </div>
       } else {
             <div class="col-md-1">
                <a href="" class="btn-xs btn-block btn-primary disabled" role="button">Computer<br>Class<br>Hierarchy</a>
       	     </div>
       }
	   @if(selection == "Computers") {
             <div class="col-md-1">
       		    <a href="" class="btn-xs btn-block btn-warning disabled" role="button">Computer<br>List<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		    <a href="" class="btn-xs btn-block btn-primary disabled" role="button">Computer<br>List<br>&nbsp;</a>
       	     </div>
       }
	   @if(selection == "ComputationModels") {
             <div class="col-md-1">
       		    <a href="" class="btn-xs btn-block btn-warning disabled" role="button">Computation<br>Model<br>Hierarchy</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		    <a href="" class="btn-xs btn-block btn-primary disabled" role="button">Computation<br>Model<br>Hierarchy</a>
       	     </div>
       }
	   @if(selection == "ModelLicenses") {
             <div class="col-md-1">
       		    <a href="" class="btn-xs btn-block btn-warning disabled" role="button">Computation<br>Model<br>License List</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		    <a href="" class="btn-xs btn-block btn-primary disabled" role="button">Computation<br>Model<br>License List</a>
       	     </div>
       }
    </div>
