@(study  : org.hadatac.entity.pojo.Study,
  scList : List[org.hadatac.entity.pojo.SampleCollection])

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.utils._

@main("Sample Management") {

  <div class="container-fluid">
    <h3>Sample Management for Study @study.getLabel()</h3>
    
    <h4>Management options</h4>

    <div class="container-fluid">
      <div class="row">
         <div class="navbar-collapse collapse navbar-secondary">
           <a href="@org.hadatac.console.controllers.samplecollections.routes.NewSC.index(study.getUri())" class="btn btn-primary" role="button">Create Sample Collection</a>
         </div>
      </div>
   </div>

   <hr>

   <h4>Sample Collections</h4>
   
    <div class="container-fluid">
        <table class="table">
            <thead>
              <tr>
                <!--  <th>Study URI</th>  -->
                <th>Sample Collection Name</th>
                <th>Type</th>
                <th>Description</th>
		<th># Samples</th>
                <th>Operations</th>
              </tr>
            </thead>
            <tbody>
	      @if(scList != null) {
                 @for(sc <- scList){
	            @sc_entry(study,sc)
                 }
              }
            </tbody>
        </table>
	
	<a href="@org.hadatac.console.controllers.studies.routes.StudyManagement.index()" class="btn btn-primary" role="button">Back to Study Management</a>
	
    </div>
 
  </div>

}
