@(message   : String, 
  study_uri : String, 
  sc        : org.hadatac.entity.pojo.SampleCollection)

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.studies._
@import org.hadatac.metadata.loader.ValueCellProcessing

@main(message) {
    <div class="container">
       <h4>@message</h4>

        @if(sc == null) {
            [ERROR] No valid object to delete. 
            <br>
        } else  {
            <ul>
              <li><b>URI:</b> @ValueCellProcessing.replaceNameSpaceEx(sc.getUri())</li>
              <li><b>Type:</b> @ValueCellProcessing.replaceNameSpaceEx(sc.getType())</li>
              <li><b>Short Name:</b> @sc.getLabel()</li>
              <li><b>Description:</b> @sc.getComment()</li>
              <li><b>Study URI:</b> @if(sc.getStudy() != null) { @sc.getStudy().getLabel() }</li>
           </ul>
        }
        <a href="@org.hadatac.console.controllers.samplecollections.routes.SCManagement.index(study_uri)" 
           class="btn btn-primary" role="button">Back to Sample Collection Management</a>
    </div>
}

    
