@(emailForm: Form[org.hadatac.console.providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@import org.hadatac.console.views.html._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("playauthenticate.password.forgot.title")) {

	<div class="container-fluid">
	<h1>@Messages("playauthenticate.password.forgot.title")</h1>
	@form(org.hadatac.console.controllers.routes.Signup.doForgotPassword, 'class -> "form-inline", 'role -> "form") {

            @if(emailForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @emailForm.globalError.message
		     	</p>
            }

	   @_emailPartial(emailForm)

	<br><br>
    <button type="submit" class="btn btn-primary">@Messages("playauthenticate.password.forgot.cta")</button>
	}
	</div>
}
