@(resetForm: Form[org.hadatac.console.controllers.Signup.PasswordReset],token: String)(implicit messagesProvider: MessagesProvider)

 @import helper._
 @import org.hadatac.console.views.html._
 @implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

 @main("Reset password","","") {

	<div class="container-fluid">
	<h1>Reset password</h1>
		@form(org.hadatac.console.controllers.routes.Signup.doResetPassword(token), 'class -> "form-horizontal", 'role -> "form") {

       @if(resetForm.hasGlobalErrors) {

     	<p class="alert alert-danger">
         @resetForm.globalError().get().message()
     	</p>
       }

        @input(
   			resetForm("token"),
   			'_label -> "",
   			'_showConstraints -> false

   		) { (id, name, value, args) =>
		    <input type="hidden" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
		}

	   @_passwordPartial(resetForm)

    <button type="submit" class="btn btn-primary">Reset my password</button>
	}
	</div>
}
