@(documentMap : org.hadatac.console.models.QueryResults)

	<script type="text/javascript">
		onload = function() {
			if (!document.getElementsByTagName || !document.createTextNode) return;
			var rows = document.getElementById('measurementsTable').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
			for (i = 0; i < rows.length; i++) {
				rows[i].onmouseover = function() {
					var row = this.rowIndex - 1;
					for (var field in json.response.docs[row]) {
						document.getElementById('detail_' + field).innerHTML = json.response.docs[row][field]; 
					}
				}
			}
		}
	</script>

    <div class="table-responsive">
        <table class="table table-striped" id="measurementsTable">
            <thead>
              <tr>
                <th>Characteristic</th>
                <th>Value</th>
                <th>Timestamp</th>
                <th>X</th>
                <th>Y</th>
                <th>Z</th>
              </tr>
            </thead>

            <tbody>
                @for(document <- documentMap.the_docs) {
                <tr>
                	<td>@document.fields.get("characteristic")</td>
                	<td>@document.fields.get("value")</td>
                	<td>@document.fields.get("timestamp")</td>
                		@for((field, value) <- document.fields){
                			
                    	}
                </tr>
                }
            </tbody>

        </table>
    </div>


