@(changeForm: Form[org.hadatac.console.controllers.Account.PasswordChange],userName: String)(implicit messagesProvider: MessagesProvider)

 @import helper._
 @import org.hadatac.console.views.html._
 @implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

 @main("Change your password here","",userName){

	<h1>"Change your password here"</h1>
	<p>
	@form(org.hadatac.console.controllers.routes.Account.doChangePassword, 'class -> "form-inline", 'role -> "form") {

       @if(changeForm.hasGlobalErrors) {
        <p class="alert alert-danger">
          @changeForm.globalError().get().message()
     	</p>
       }

	   @_passwordPartial(changeForm)

    <button type="submit" class="btn btn-default">"Change my password"</button>
	}
	</p>
}
