@(dir      : String,
  filename : String,
  da_uri   : String,
  page     : Integer,
  stream   : org.hadatac.entity.pojo.MessageStream)

@import java.net._
@import org.hadatac.utils._

	<tr>
	  <td>@stream.getLabel()</td>
	  <td>@stream.getIP()</td>
	  <td>@stream.getPort()</td> 
	  <td>@stream.getStatus()</td> 
	  <td>@stream.getProtocol()</td> 
      <td>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.start(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))"
            class="btn-xs btn-primary" role="button">turn on</a>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.start(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))"
            class="btn-xs btn-primary" role="button">turn off</a>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.start(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))"
            class="btn-xs btn-primary" role="button">topics</a>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageRawData.index(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))"
            class="btn-xs btn-primary" role="button">raw data</a>
      </td>
	</tr>
