@(dir      : String,
  filename : String,
  da_uri   : String,
  page     : Integer,
  studies  : List[String],
  stream   : org.hadatac.entity.pojo.MessageStream)

@import java.net._
@import org.hadatac.utils._

	<tr>
	  <td>@stream.getName()</td>
	  <td>@stream.getIP()</td>
	  <td>@stream.getPort()</td> 
	  <td>@stream.getStatus()</td> 
	  <td>@stream.getProtocol()</td>
	  <td>@if(stream != null && stream.getStudy() != null) {
	          @stream.getStudy().getId()
	      }
	  </td> 
	  <td>@stream.getTotalMessages()</td> 
	  <td>@stream.getIngestedMessages()</td> 
      <td>
         @if(stream.getStatus().equals("CLOSED")) {
          <form name="form@stream.getLabel()" method="post"
                action="@org.hadatac.console.controllers.messages.routes.MessageManagement.initiate(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))">
    	     <div>
                <input class="btn-xs btn-primary" role="button" id="submitbutton" type="submit" value="Initiate" />
                @if(studies != null) {
                  <select
		            id="field" name="field">
		            <option value=""></option> 
			        @for(study <- studies) {
			           <option value="@study">@study</option>
		            }
		          </select>
     		    }
             </div>
          </form>
			 <!--
             <a href="org.hadatac.console.controllers.messages.routes.MessageManagement.initiate(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))"
               class="btn-xs btn-primary" role="button">Initiate</a>
             -->
		 }
         @if(stream.getStatus().equals("INITIATED")) {
		    <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.subscribe(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))"
               class="btn-xs btn-primary" role="button">Subscribe</a>
	        <!-- 
    		    <a href=" org.hadatac.console.controllers.messages.routes.MessageManagement.deleteData(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))"
                   class="btn-xs btn-primary" role="button">Delete Data</a>
            -->
         }
         <!-- 
         @if(stream.getStatus().equals("ACTIVE")) {
            <a href=" org.hadatac.console.controllers.messages.routes.MessageManagement.unsubscribe(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))"
               class="btn-xs btn-primary" role="button">Unsubscribe</a>
         }
         -->
         @if(!stream.getStatus().equals("CLOSED")) {
            <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.stop(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))"
               class="btn-xs btn-primary" role="button">Close</a>
         }
      </td>
      <td>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.testConnection(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))"
            class="btn-xs btn-primary" role="button">Test Connection</a>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.listTopics(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))"
            class="btn-xs btn-primary" role="button">Browse Topics</a>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.testTopics(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))"
            class="btn-xs btn-primary" role="button">Test Topics</a>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageRawData.index(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"), null, null)"
            class="btn-xs btn-primary" role="button">Raw Data</a>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.checkAnnotationLog(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"))" 
            class="btn-xs btn-primary" role="button">Logs</a>
      </td>
	</tr>
