@(dir      : String,
  filename : String,
  da_uri   : String,
  page     : Integer,
  studies  : List[String],
  stream   : org.hadatac.entity.pojo.STR,
  show     : Boolean)

@import java.net._
@import org.hadatac.utils._
@import org.hadatac.entity.pojo._
@import org.hadatac.console.controllers.metadata._
@import org.hadatac.console.controllers.metadata.DynamicFunctions
@import org.hadatac.utils._
@import com.typesafe.config.ConfigFactory

	<tr>
	  <td>@stream.getLabel()</td>
	  <td>@stream.getMessageIP()</td>
	  <td>@stream.getMessagePort()</td> 
	  <td>@stream.getMessageStatus()</td> 
	  <td>@stream.getMessageProtocol()</td>
	  <td>@if(stream != null && stream.getStudy() != null) {
          <a href="@ConfigFactory.load().getString("hadatac.console.host_deploy")/hadatac/studies/view?study_uri=@DynamicFunctions.replaceURLWithPrefix(stream.getStudy().getUri())"> 
	          @stream.getStudy().getId()
	      </a>
	  }
	  </td> 
	  <td>@if(stream != null && stream.getSchema() != null) {
	      <a href="@org.hadatac.console.controllers.schema.routes.ViewDAS.index(URLEncoder.encode(stream.getSchema().getUri(),"UTF-8"))">
	          @stream.getSchema().getLabel()
	      </a>
	  }
	  </td> 
      <td>@if(stream.getHeaders() == null) {
            0 
          } else {
            @stream.getHeaders().size()
          }
	  </td>
	  <td>@stream.getTotalMessages()</td> 
	  <td>@stream.getIngestedMessages()</td> 
      <td>
         @if(stream.getMessageStatus().equals(STR.ACTIVE)) {
		    <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.unsubscribe(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"), show)"
               class="btn-xs btn-primary" role="button">Suspend</a>
         }  
         @if(stream.getMessageStatus().equals(STR.SUSPENDED)) {
		    <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.subscribe(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"), show)"
               class="btn-xs btn-primary" role="button">Activate</a>
         }  
	     <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.close(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"), show)"
            class="btn-xs btn-primary" role="button">Close</a>
      </td>
      <td>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.testConnection(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"), show)"
            class="btn-xs btn-primary" role="button">Test Connection</a>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.testTopics(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"), show)"
            class="btn-xs btn-primary" role="button">Test Topics</a>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageRawData.index(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"), null, null, show)"
            class="btn-xs btn-primary" role="button">Live Raw Data</a>
         <a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.checkAnnotationLog(dir, filename, da_uri, page, URLEncoder.encode(stream.getUri(), "UTF-8"), show)" 
            class="btn-xs btn-primary" role="button">Logs</a>
      </td>
	</tr>

	@if(show) {
	    <tr>
   		   @topicManagement(dir, filename, da_uri, page, stream, "", show);
    	</tr>
    }
    