@(dir           : String,
  filename      : String,
  da_uri        : String,
  page          : Integer,
  stream        : org.hadatac.entity.pojo.STR,
  currentAction : String, 
  show          : Boolean)

@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._

<div class="collapse" id="@stream.getLabel().replace("/","")">
	<table class="table table-striped">
	    <thead>
	         <tr>
	            <th>Topic Name</th>
	            <th>Deployment</th>
	            <th>Study Object</th>
	            <th>SOC</th>
	            <th>Operations</th>
	         </tr>
	    </thead>
	    <tbody>
	      @for(topic <- stream.getTopicsList()) {
	         @topic_entry(dir, filename, da_uri, page, stream, topic, currentAction, show)
	      }
	    </tbody>
	</table>
</div>
