@(dir           : String,
  filename      : String,
  da_uri        : String,
  page          : Integer,
  stream        : org.hadatac.entity.pojo.MessageStream,
  topics        : List[org.hadatac.entity.pojo.MessageTopic],
  currentAction : String)

@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._

@main("Message Ingestion by Stream Topic") {

    <h2>Message Ingestion by Stream @stream.getName()</h2>
    
    <div class="container-fluid">
        <table class="table">
            <thead>
                 <tr>
                    <th>Topic Name</th>
                    <th>Deployment</th>
                    <th>Semantic Data Dictionary</th>
                    <th>#labels</th>
                    <th>Status</th>
                    <th>Operations</th>
                 </tr>
            </thead>
            <tbody>
              @for(topic <- topics) {
                  @defining(topic.getStreamSpec()) { streamSpec => 
                     @if(streamSpec != null) {
                         @topic_entry(dir, filename, da_uri, page, stream, topic, topic.getDeployment(), streamSpec.getSchema(), currentAction)
                     } else {
                         @topic_entry(dir, filename, da_uri, page, stream, topic, topic.getDeployment(), null, currentAction)
                     }
                  }
              }
            </tbody>
        </table>
      	<a href="@org.hadatac.console.controllers.messages.routes.MessageManagement.index(dir, filename, da_uri, page)" 
	       class="btn btn-primary" role="button">Back to Message Ingestion</a>
    </div>
}
