 @(selection : String)

 @import org.hadatac.console.controllers._
 
   <div class="navbar-collapse collapse navbar-secondary hidden-print">
       <div class="col-md-1">
       	   <button type="button" class="btn btn-link"><b>Analytes</b></button>
       </div>
	   @if(selection == "Analytes") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadata.analytes.routes.Analytes.index()" class="btn-xs btn-block btn-warning" role="button">Analytes<br>&nbsp;<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadata.analytes.routes.Analytes.index()" class="btn-xs btn-block btn-primary" role="button">Analytes<br>&nbsp;<br>&nbsp;</a>
       	     </div>
       }
          
       @if(selection == "Alkaloids") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadata.analytes.routes.Alkaloids.index()" class="btn-xs btn-block btn-warning" role="button">Alkaloids<br>&nbsp;<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadata.analytes.routes.Alkaloids.index()" class="btn-xs btn-block btn-primary" role="button">Alkaloids<br>&nbsp;<br>&nbsp;</a>
       	     </div>
       }
       
       @if(selection == "Arsenic") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadata.analytes.routes.Arsenic.index()" class="btn-xs btn-block btn-warning" role="button">Arsenic<br>Species<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadata.analytes.routes.Arsenic.index()" class="btn-xs btn-block btn-primary" role="button">Arsenic<br>Species<br>&nbsp;</a>
       	     </div>
       }
       
       @if(selection == "Elements") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadata.analytes.routes.Elements.index()" class="btn-xs btn-block btn-warning" role="button">Elements<br>&nbsp;<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadata.analytes.routes.Elements.index()" class="btn-xs btn-block btn-primary" role="button">Elements<br>&nbsp;<br>&nbsp;</a>
       	     </div>
       }
       
       @if(selection == "OrganicAromatic") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadata.analytes.routes.OrganicAromatic.index()" class="btn-xs btn-block btn-warning" role="button">Organic Aromatic<br>Compound<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadata.analytes.routes.OrganicAromatic.index()" class="btn-xs btn-block btn-primary" role="button">Organic Aromatic<br>Compound<br>&nbsp;</a>
       	     </div>
       }
                  
    </div>
    
    
        <script type="text/javascript">
        $( document ).ready(function() {
          var hasUser = ("@AuthApplication.getLocalUser(session())" != "");
          if (hasUser) {
              $('#metadatafacet').attr( 'class', 'btn btn-primary btn-block' );
              $('#dataacquisitionfacet').attr( 'class', 'btn btn-primary btn-block' );
          } else {
              $('#metadatafacet').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#dataacquisitionfacet').attr( 'class', 'btn btn-primary btn-block disabled' );
          }
        });
    </script>
