@(selection : String)

@import org.hadatac.console.controllers._

    <div class="navbar-collapse collapse navbar-secondary hidden-print">
        <div class="col-md-1.5">
            <button type="button" class="btn btn-link"><b>Agent Indicator</b></button>
        </div>
        @if(selection == "Organization") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Organization<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("Organization")" class="btn-xs btn-block btn-primary" role="button">Organization<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "Person") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Person<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("Person")" class="btn-xs btn-block btn-primary" role="button">Person<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
    </div>
