@(oper       : String,
  graphName : String,
  hierarchy   : org.hadatac.console.models.OtMSparqlQueryResults,
  cacheList : List[String])

@import org.hadatac.console.views.html._
@import org.hadatac.entity.pojo.DataAcquisitionSchema
@import org.hadatac.utils._
@import org.hadatac.metadata.loader.URIUtils

@main("Browse Loaded Ontologies") {

<style>

     .node rect {
         cursor: pointer;
         fill: #fff;
         fill-opacity: .5;
         stroke: #3182bd;
         stroke-width: 1.5px;
      }

      .node text {
         font: 10px sans-serif;
          pointer-events: none;
      }

      path.link {
          fill: none;
          stroke: #9ecae1;
          stroke-width: 1.5px;
      }

      .tab-content {
         border-left: 1px solid #ddd;
         border-right: 1px solid #ddd;
         padding: 10px;
      }

</style>

<script type="text/javascript">
  function checkform() {

      alert(lasClikedD)
      var cansubmit = true;
  
      if (lastClickD == null) {
          cansubmit = false;
      }
  
      if (cansubmit) {
          document.getElementById('copyvalue').disabled = false;
      } else {
          document.getElementById('copyvalue').disabled = 'disabled';
      }

  }

</script>


   <div class="container-fluid">

      <h2>Browse Loaded Ontologies</h2>
      <div class="col-md-12 col-sm-12" style="margin-bottom:0px;">
            <form class="form-horizontal" name="editForm" method="post" action="" onkeypress="return event.keyCode != 13;" style="float:right;margin-right:15px;">
                <div class="form-group">
                    <div style="display: inline-block;">
                        <input type="text"  id="searchValue" name="searchValue" value="">
                        <button type="button" class="btn btn-info btn-sm" role="button" type="findTerm" id="findTerm">    
                            <span class="glyphicon glyphicon-search">   </span> Find Term
                        </button> 
                    </div>
                    <button type="button" class="btn btn-info btn-sm" role="button" type="expand" id="expand" style="display: inline-block;">
                        <span class="glyphicon glyphicon-zoom-in">  </span> Expand All
                    </button>
                    <button type="button" class="btn btn-info btn-sm" role="button" type="collapse" id="collapse" style="display: inline-block;">    
                        <span class="glyphicon glyphicon-zoom-out"> </span> Collapse All
                    </button>
                    <button type="button" class="btn btn-info btn-sm" role="button" type="reset" id="reset" style="display: inline-block;">       
                        <span class="glyphicon glyphicon-refresh">  </span> Reset
                    </button>
                    
                </div>
    
                <div class="form-group" style="display:none">
                    <input type="hidden" class="form-control col-sm-6" id="newEntity" name="newEntity" value="" readonly>
                </div> 
                
                <div class="form-group" style="display:none">
                    <input type="hidden" class="form-control col-sm-6" id="newAttribute" name="newAttribute" value="" readonly>
                </div>
            
            
                <div class="form-group" style="display:none">
                    <input type="hidden" class="form-control col-sm-6" id="newUnit" name="newUnit" value="" readonly>
                </div>
            
                <div class="form-group" style="display:none">
                    <input class="btn btn-success btn-sm" role="button" type="hidden" id="submit" value="Update DASA" />
                    <input class="btn btn-success btn-sm" role="button" type="hidden" id="copyvalue" value="Copy Selected Value" /> <br>
                </div> 
        
            </form>
      </div>
      <div class="col-md-2 col-xs-2">
        <h4>Cached Ontologies</h4>
        @for(cachedFile <- cacheList) {
            <a href="/hadatac/metadata/graph?oper=ent&className=@cachedFile"><button class="btn btn-info btn-md" style="display:block;margin-bottom:10px">@cachedFile</button></a>
        }
      </div>
      <div class="col-md-10 col-xs-6">

            <ul class="nav nav-tabs">
	       @if(oper.equals("ent")) {
                    <li class="active"><a class="entitytab" href="#entity_tab" data-toggle="tab">Entity Hierachy</a></li>
                    <li><a class="attributetab" href="#attribute_tab" data-toggle="tab">Attribute Hierarchy</a></li>
		} else {
                    <li><a class="unittab" href="#unit_tab" data-toggle="tab">Unit Hierarchy</a></li> 
		}
            </ul>
            <div class="tab-content">
                <treecontent></treecontent>
	       @if(oper.equals("ent")) {
                    <div class="tab-pane" id="entity_tab">
               <div id="entityquery" data-results="@hierarchy.treeResults"></div>
                    </div>
                    <div class="tab-pane" id="attribute_tab">
		       <div id="attributequery" data-results="@hierarchy.treeResults"></div>
                    </div>
                } else {
                    <div class="tab-pane" id="unit_tab">
		       <div id="unitquery" data-results="@hierarchy.treeResults"></div>
                    </div>
                }
            </div>

            <script src="/hadatac/assets/javascripts/jquery.min.js"></script>
            <script src="/hadatac/assets/javascripts/d3.v3.min.js"></script>
            <script src="/hadatac/assets/javascripts/bootstrap.min.js"></script>

	    @if(oper.equals("ent")) {
                <script>
                   $.ajaxSetup ({
                      // Disable caching of AJAX responses
                      // Used when debugging
                      cache: false
                   });

                   $.getScript("/hadatac/assets/javascripts/treeEntity.js");
                   $(".entitytab").click(function() {
                       $.getScript("/hadatac/assets/javascripts/treeEntity.js");
                   })
                </script>
                <script>
                   $(".attributetab").click(function() {
                       $.getScript("/hadatac/assets/javascripts/treeAttribute.js");
                   })
                </script>
	    } else {
                <script>
                   $.ajaxSetup ({
                       // Disable caching of AJAX responses
                       // Used when debugging
                       cache: false
                   });

                   $.getScript("/hadatac/assets/javascripts/treeUnit.js");
                   $(".unittab").click(function() {
                        $.getScript("/hadatac/assets/javascripts/treeUnit.js");
                   })
                </script>
	    }

            <script>
	      function dasachange() {
	         var x = document.getElementById("metadasaselect").value;
	         $('#newEntity').val("");
	         $('#newAttribute').val(x.substring(x.indexOf(":") + 1) + " [" + x + "]" );
	         $('#newUnit').val("");
	         initialize(root);
	         update(root);
	      };

              document.getElementById("clearEntity").onclick = function() {
                 $('#newEntity').val("");
                 initialize(root);
                 update(root);
              };

              document.getElementById("clearAttribute").onclick = function() {
                 $('#newAttribute').val("");
                 initialize(root);
                 update(root);
              };

              document.getElementById("clearUnit").onclick = function() {
                 $('#newUnit').val("");
                 initialize(root);
                 update(root);
              };

           </script>

      </div>

   </div>
	 
}