@(selection : String)

@import org.hadatac.console.controllers._

    <div class="navbar-collapse collapse navbar-secondary hidden-print">
        <div class="col-md-1.5">
            <button type="button" class="btn btn-link"><b>Data Acquisition Indicator</b></button>
        </div>
        @if(selection == "Deployments") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Deployments<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("Deployments")" class="btn-xs btn-block btn-primary" role="button">Deployments<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "Instrument") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Instrument<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("Instrument")" class="btn-xs btn-block btn-primary" role="button">Instrument<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "Detector") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Detector<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("Detector")" class="btn-xs btn-block btn-primary" role="button">Detector<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "SensingPerspective") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Sensing Perspective<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("SensingPerspective")" class="btn-xs btn-block btn-primary" role="button">Sensing Perspective<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "Platform") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Platform<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("Platform")" class="btn-xs btn-block btn-primary" role="button">Platform<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
    </div>
