@(studyResult : Map[String, List[String]],
  subjectResult	: Map[String, List[String]],
  indicatorResult : Map[String, Map[String, String]])

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.metadata._
@import helper._
@import org.hadatac.console.controllers._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import play.api.Play

@main("Dynamic Page Generator") {
    <link rel="stylesheet" href="http://openlayers.org/en/v3.9.0/css/ol.css">
    <script type="text/javascript" charset="utf-8" src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" charset="utf-8" src="@controllers.routes.Assets.versioned("javascripts/openLayersFunctions.js")"></script>
        
    <div class="row">
        <div class="col-md-6">
            <h1>Dynamic Page Generator</h1>
                
             <h2>Study Indicators</h2>
				<ul>        		
					@for(key <- studyResult.keySet()){
						<li>@key.toString
							<ul>
							@for(s <- studyResult.get(key)) {
							<li>@s.toString</li>
							}
							</ul>
							<ul>
							@for(indKey <- indicatorResult.keySet()) {
							@if(indKey.toString == key.toString){
								<li>Indicators</li>
									<ul>
									@for(r <- indicatorResult.get(indKey)){
									<li>@r.toString.replaceFirst(",",":")</li>
									}
									</ul>
								}
							}
							</ul>
						</li>
					}
				</ul>
				
			<h3>Subject List</h3>
				<ul>        		
					@for(key <- subjectResult.keySet()){
						<li>@key.toString
							<ul>
							@for(s <- subjectResult.get(key)) {
							<li>@s.toString</li>
							}
							</ul>
						</li>
					}
				</ul>
    	</div>
    </div>
}