 @(selection : String, showLabel : Boolean)
 
   <div class="navbar-collapse collapse navbar-secondary hidden-print">
       @if(showLabel) {
           <B>Options</B>: 
       } else {
             <div class="col-md-1">
       	          <button type="button" class="btn btn-block btn-link"><b>Empirical<br>Infrastructure</b></button>
       	     </div>
       }
	   @if(selection == "PlatformModels") {
             <div class="col-md-1">
          	     <a href="@org.hadatac.console.controllers.routes.Platform.index()" class="btn-xs btn-block btn-warning" role="button">Platform<br>Model<br>Hierarchy</a>
       	     </div>
       } else {
             <div class="col-md-1">
          	     <a href="@org.hadatac.console.controllers.routes.Platform.index()" class="btn-xs btn-block btn-primary" role="button">Platform<br>Model<br>Hierarchy</a>
       	     </div>
       }
	   @if(selection == "Platforms") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.routes.PlatformList.index()" class="btn-xs btn-block btn-warning" role="button">Platform<br>List<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.routes.PlatformList.index()" class="btn-xs btn-block btn-primary" role="button">Platform<br>List<br>&nbsp;</a>
       	     </div>
       }
	   @if(selection == "InstrumentModels") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.routes.Instrument.index()" class="btn-xs btn-block btn-warning" role="button">Instrument<br>Model<br>Hierarchy</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.routes.Instrument.index()" class="btn-xs btn-block btn-primary" role="button">Instrument<br>Model<br>Hierarchy</a>
       	     </div>
       }
	   @if(selection == "Instruments") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.routes.InstrumentList.index()" class="btn-xs btn-block btn-warning" role="button">Instrument<br>List<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.routes.InstrumentList.index()" class="btn-xs btn-block btn-primary" role="button">Instrument<br>List<br>&nbsp;</a>
       	     </div>
       }
	   @if(selection == "DetectorModels") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.routes.Detector.index()" class="btn-xs btn-block btn-warning" role="button">Detector Model<br>Hierarchy<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.routes.Detector.index()" class="btn-xs btn-block btn-primary" role="button">Detector Model<br>Hierarchy<br>&nbsp;</a>
       	     </div>
       }
	   @if(selection == "Detectors") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.routes.DetectorList.index()" class="btn-xs btn-block btn-warning" role="button">Detector<br>List<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.routes.DetectorList.index()" class="btn-xs btn-block btn-primary" role="button">Detector<br>List<br>&nbsp;</a>
       	     </div>
       }
    </div>
