@(selection : String,
indicatorMap : Map[String,List[String]],
key : String)


@import org.hadatac.console.controllers._

    <div class="navbar-collapse collapse navbar-secondary hidden-print">
        <div class="col-md-1.5">
            <button type="button" class="btn btn-link"><b>@key</b></button>
        </div>
        @for((indicators,index) <- indicatorMap.get(key).zipWithIndex){
        	@if(selection == indicators.replace(" ","").replace(",","")) {
        		<div class="col-md-1">
        		 	<a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(indicators.replace(" ","").replace(",",""))" class="btn-xs btn-block btn-warning" role="button">@indicators<br>&nbsp;<br>&nbsp;</a>
	        	</div>
	        } else {
            	<div class="col-md-1">
                	<a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(indicators.replace(" ","").replace(",",""))" class="btn-xs btn-block btn-primary" role="button">@indicators<br>&nbsp;<br>&nbsp;</a>
            	</div>
        	}
        	@if(((index+1)%7)==0){
        		<br /><br /><br /><br /><br /><br />
        	}
        }
    </div>
