@(indicatorMap : Map[String,List[String]])

@import helper._
@import org.hadatac.console.views.html._

@main("Browse Metadata") {
    <div class="container-fluid">
    
        <h3>Browse Ontologies</h3>
        <div id="rcorners">  
           ADD ONTOLOGY LIST HERE
        </div>

        <h3>Browse Metadata</h3>
        
        @for(indicatorKey <- indicatorMap.keySet()){
        <div id="rcorners">  
            <div class="row">
               @indicator_navigation("",indicatorMap,indicatorKey)
            </div>
        </div>
        <hr>
        }

        <br><br><br>
        @mainButton(false)
    </div>
}
