@( results : org.hadatac.console.models.OtMSparqlQueryResults, category : String, indicatorMap : Map[String,List[String]])

@*****************************
    public TreeMap<String,OtMTripleDocument> results.sparqlResults;
    public TreeMap<String,ArrayList<String>> results.sparqlResults.item;
    public String results.treeResults;
    public String json;
*****************************@

@import helper._
@import org.hadatac.console.views.html._

@main("Hierarchies") {

	@for(indicatorKey <- indicatorMap.keySet()){
		@for(indicators <- indicatorMap.get(indicatorKey)) {
			@if(category == indicators.replace(" ","").replace(",","")){
				@indicator_navigation(category,indicatorMap,indicatorKey)
			}
		}
	}

    <div class="container-fluid container-spaced">
      <div class="row">
        <div class="col-sm-9 col-md-9 main">
            <ul class="nav nav-tabs hidden-print">
                @if(results.treeResults != ""){
                    <li class="active" onclick="info_on('info')"><a data-toggle="tab" href="#tree">
                        <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span> View as Hierarchy</a></li>
                    <li onclick="info_off('info')"><a data-toggle="tab" href="#table">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> View as Table</a></li>
                } else {
                    <li class="active"><a data-toggle="tab" href="#table">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> View as Table</a></li>
                }
            </ul>
            <div class = "tab-content">
            <div id="table" class="hidden-print tab-pane fade in">
                <div><p>(click for more information)</p></div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                        @for((k, triple) <- results.sparqlResults){
        	            	@metadata_entry(triple)
            	        }
                        </div>
                    </div>
            </div>

            @if(results.treeResults != ""){
                <div id="tree" class="hidden-print tab-pane fade in active">
                    <div id="query" data-results="@results.treeResults"></div>
                    <div id="body"></div>
                        <script type="text/javascript" src="/hadatac/assets/javascripts/d3.js"></script>
                        <script type="text/javascript" src="/hadatac/assets/javascripts/d3.layout.js"></script>
                        <script type="text/javascript" src="/hadatac/assets/javascripts/treeRenderer.js"></script>
                        <script type="text/javascript">
                        	d3.selectAll(".node")
                                .on('mouseover', function (d,i){
                                    var item = d.name.replace(/\W/g, '');
                                    var stuff = document.getElementById(item).innerHTML;
                                    var infobox = document.getElementById('info');
                                    infobox.innerHTML = stuff;
                                });
			            </script>
                    <link type="text/css" rel="stylesheet" href="/hadatac/assets/stylesheets/treeRenderer.css"/>
                </div>
            }
          </div>
    </div>
    <div class="col-md-3 col-sm-3 hidden-print">
        <div class="tab-spacer"></div>
        <div id="info" class="infobox" style="display:block"></div>
    </div>
    <script type="text/javascript" src="/hadatac/assets/javascripts/extra.js"></script> 

    <div class="visible-print-block">
        <table>
        	@for((k, triple) <- results.sparqlResults){
            	@print_metadata_entry(triple)
            }
        </table>
    </div>
}