@()

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.views.html.metadata.concepts._
@import org.hadatac.console.views.html.metadata.activities._
@import org.hadatac.console.views.html.metadata.empirical._
@import org.hadatac.console.views.html.metadata.computational._

@main("Browse Metadata") {
    <div class="container-fluid">
     
     <h2>Browse Metadata</h2>
     
      <div class="row">
		  @science_navigation("")
      </div>

      <hr>
      
      <div class="row">
		  @empirical_activity_navigation("")
      </div>

      <hr>
      
      <div class="row">
		  @empirical_navigation("")
      </div>

      <hr>
      
      <div class="row">
		  @computational_navigation("")
      </div>

      <br><br><br>
      @mainButton(false)

    </div>

}
