@(selection : String)

@import org.hadatac.console.controllers._

    <div class="navbar-collapse collapse navbar-secondary hidden-print">
        <div class="col-md-1.5">
            <button type="button" class="btn btn-link"><b>Sample Indicator</b></button>
        </div>
        @if(selection == "PregnancySample") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Pregnancy Sample<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("PregnancySample")" class="btn-xs btn-block btn-primary" role="button">Pregnancy Sample<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "Cell") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Cell<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("Cell")" class="btn-xs btn-block btn-primary" role="button">Cell<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "cell") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">cell<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("cell")" class="btn-xs btn-block btn-primary" role="button">cell<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "tissue") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">tissue<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("tissue")" class="btn-xs btn-block btn-primary" role="button">tissue<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "Tissue") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Tissue<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("Tissue")" class="btn-xs btn-block btn-primary" role="button">Tissue<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
    </div>
