 @(selection : String, showLabel : Boolean)
 
   <div class="navbar-collapse collapse navbar-secondary hidden-print">
       @if(showLabel) {
           <B>Options</B>:
       } 
	   @if(selection == "Entities") {
       		<a href="@org.hadatac.console.controllers.routes.Entity.index()" class="btn btn-warning" role="button">Entity<br>Hierarchy</a>
       } else {
       		<a href="@org.hadatac.console.controllers.routes.Entity.index()" class="btn btn-primary" role="button">Entity<br>Hierarchy</a>
       }
       @if(selection == "EntityCharacteristics") {
       		<a href="@org.hadatac.console.controllers.routes.EntityCharacteristic.index()" class="btn btn-warning" role="button">Entity-Characteristic<br>Table</a>
       } else {
       		<a href="@org.hadatac.console.controllers.routes.EntityCharacteristic.index()" class="btn btn-primary" role="button">Entity-Characteristic<br>Table</a>
       }
	   @if(selection == "Characteristics") {
       		<a href="@org.hadatac.console.controllers.routes.Characteristic.index()" class="btn btn-warning" role="button">Characteristic<br>Hierarchy</a>
       } else {
       		<a href="@org.hadatac.console.controllers.routes.Characteristic.index()" class="btn btn-primary" role="button">Characteristic<br>Hierarchy</a>
       }
	   @if(selection == "Units") {
       		<a href="@org.hadatac.console.controllers.routes.Unit.index()" class="btn btn-warning" role="button">Unit<br>Hierarchy</a>
       } else {
       		<a href="@org.hadatac.console.controllers.routes.Unit.index()" class="btn btn-primary" role="button">Unit<br>Hierarchy</a>
       }
	   @if(selection == "Agents") {
       		<a href="@org.hadatac.console.controllers.routes.Agent.index()" class="btn btn-warning" role="button">Agent<br>Network</a>
       } else {
       		<a href="@org.hadatac.console.controllers.routes.Agent.index()" class="btn btn-primary" role="button">Agent<br>Network</a>
       }
    </div>
