@(selection : String)

@import org.hadatac.console.controllers._

    <div class="navbar-collapse collapse navbar-secondary hidden-print">
        <div class="col-md-1.5">
            <button type="button" class="btn btn-link"><b>Targeted Analyte</b></button>
        </div>
        @if(selection == "VolatileOrganicCompound") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Volatile Organic Compound<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("VolatileOrganicCompound")" class="btn-xs btn-block btn-primary" role="button">Volatile Organic Compound<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "TobaccoMetabolite") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Tobacco Metabolite<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("TobaccoMetabolite")" class="btn-xs btn-block btn-primary" role="button">Tobacco Metabolite<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "PolybrominatedDiphenylEther") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Polybrominated Diphenyl Ether<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("PolybrominatedDiphenylEther")" class="btn-xs btn-block btn-primary" role="button">Polybrominated Diphenyl Ether<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "Element") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Element<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("Element")" class="btn-xs btn-block btn-primary" role="button">Element<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "Creatinine") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Creatinine<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("Creatinine")" class="btn-xs btn-block btn-primary" role="button">Creatinine<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "Paraben") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Paraben<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("Paraben")" class="btn-xs btn-block btn-primary" role="button">Paraben<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "Phthalate") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Phthalate<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("Phthalate")" class="btn-xs btn-block btn-primary" role="button">Phthalate<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        <br /><br /><br /><br /><br />
        @if(selection == "ArsenicSpecies") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Arsenic Species<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("ArsenicSpecies")" class="btn-xs btn-block btn-primary" role="button">Arsenic Species<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "PFC") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">PFC<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("PFC")" class="btn-xs btn-block btn-primary" role="button">PFC<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "MercurySpecies") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Mercury Species<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("MercurySpecies")" class="btn-xs btn-block btn-primary" role="button">Mercury Species<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "EnvironmentalPhenol") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Environmental Phenol<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("EnvironmentalPhenol")" class="btn-xs btn-block btn-primary" role="button">Environmental Phenol<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
        @if(selection == "AlkylPhosphatePesticideMetabolite") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Alkyl Phosphate Pesticide Meta<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("AlkylPhosphatePesticideMetabolite")" class="btn-xs btn-block btn-primary" role="button">Alkyl Phosphate Pesticide Meta<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
    </div>
