@(selection : String)

@import org.hadatac.console.controllers._

    <div class="navbar-collapse collapse navbar-secondary hidden-print">
        <div class="col-md-1.5">
            <button type="button" class="btn btn-link"><b>Variable Indicator</b></button>
        </div>
        @if(selection == "DataAcquisitionSchemaAttribute") {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index(selection)" class="btn-xs btn-block btn-warning" role="button">Data Acquisition Schema Attrib<br>&nbsp;<br>&nbsp;</a>
            </div>
        } else {
            <div class="col-md-1">
                <a href="@org.hadatac.console.controllers.metadata.routes.MetadataEntry.index("DataAcquisitionSchemaAttribute")" class="btn-xs btn-block btn-primary" role="button">Data Acquisition Schema Attrib<br>&nbsp;<br>&nbsp;</a>
            </div>
        }
    </div>
