@(state : org.hadatac.utils.State, 
  results : List[org.hadatac.entity.pojo.DataAcquisition],
  bAdmin : Boolean)

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._

@main("Data Acquisition Management") {

    <h2>Data Acquisition Management</h2>
    
    <h3>Management Options</h3>

    <div class="container-fluid">
      <div class="row">
         <div class="navbar-collapse collapse navbar-secondary">
        	@if(state.getCurrent() == State.ACTIVE) {
            	<a href='@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DataAcquisitionManagement.index(State.ACTIVE)' class="btn-sm btn-warning disabled" role="button">Active Acquisitions</a>
            } else {
            	<a href='@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DataAcquisitionManagement.index(State.ACTIVE)' class="btn-sm btn-primary" role="button">Active Acquisitions</a>
            }
            @if(state.getCurrent() == State.CHANGED) {
            	<a href='@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DataAcquisitionManagement.index(State.CHANGED)' class="btn-sm btn-warning disabled" role="button">Changed Acquisitions</a>
            } else {
            	<a href='@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DataAcquisitionManagement.index(State.CHANGED)' class="btn-sm btn-primary" role="button">Changed Acquisitions</a>
            }
        	@if(state.getCurrent() == State.CLOSED) {
             	<a href='@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DataAcquisitionManagement.index(State.CLOSED)' class="btn-sm btn-warning disabled" role="button">Closed Acquisitions</a>
            } else {
             	<a href='@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DataAcquisitionManagement.index(State.CLOSED)' class="btn-sm btn-primary" role="button">Closed Acquisitions</a>
            }
        	@if(state.getCurrent() == State.ALL) {
             	<a href='@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DataAcquisitionManagement.index(State.ALL)' class="btn-sm btn-warning disabled" role="button">All Acquisitions</a>
            } else {
             	<a href='@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DataAcquisitionManagement.index(State.ALL)' class="btn-sm btn-primary" role="button">All Acquisitions</a>
            }
            <a href='@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DataAcquisitionManagement.newDataAcquisition()' class="btn-sm btn-primary" role="button">Create New Acquisition</a>
         </div>
      </div>
   </div>

   <hr>
   
   @if(state.getCurrent() == State.ACTIVE) {
        <h3>@AuthApplication.getLocalUser(session()).getName()'s Active Data Acquisitions</h3>
   } 
   @if(state.getCurrent() == State.CLOSED) {
        <h3>@AuthApplication.getLocalUser(session()).getName()'s Closed Data Acquisitions</h3>
   } 
   @if(state.getCurrent() == State.ALL) {
        <h3>@AuthApplication.getLocalUser(session()).getName()'s Active and Closed Data Acquisitions</h3>
   } 

   
    <div class="container-fluid">
        <table class="table">
            <thead>
                 <tr>
                    <th>Triggering Event</th>
                    <th>Name</th>
                    <th>Platform</th>
                    <th>Instrument</th>
                    <th>Start Date/Time</th>
                    @if(state.getCurrent() != State.ACTIVE) {
                        <th>End Date/Time</th>
                    }
                    <th># of Data Points</th>
                    <th>Schema</th>
                    @if(bAdmin) {
                    	<th>Owner</th>
                    }
                    <th>Permission</th>
                    <th>Operations</th>
                 </tr>
            </thead>
            <tbody>
              @for(dataCollection <- results){
                  @dataacquisition_entry(state, dataCollection, bAdmin)
              }
            </tbody>
        </table>
        @mainButton(false)
    </div>
}
