@(state: org.hadatac.utils.State, dc : org.hadatac.entity.pojo.DataAcquisition)

@import java.net._
@import org.hadatac.utils._

    <tr>
       <td>@dc.getTriggeringEventName()</td> 
       <td>@dc.getPlatformName()</td> 
       <td>@dc.getInstrumentModel()</td>
       <td>@dc.getStartedAt()</td>
       @if(state.getCurrent() != State.ACTIVE) {
    	   @if(dc.getEndedAt().startsWith("9999")){
    		   <td></td>
    	   }else{
    		   <td>@dc.getEndedAt()</td>
    	   }
       }
       <td>@dc.getNumberDataPoints()</td>
       <td>
          <a href="@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DeleteDataAcquisition.index("init", URLEncoder.encode(dc.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Delete</a>
          <a href="@org.hadatac.console.controllers.dataacquisitionmanagement.routes.SetAccessPermission.index(URLEncoder.encode(dc.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Permission</a>
       </td>
    </tr>
