@(state: org.hadatac.utils.State, 
  dc : org.hadatac.entity.pojo.DataAcquisition, 
  bAdmin : Boolean)

@import java.net._
@import org.hadatac.utils._

	<tr>
	  <td>@dc.getTriggeringEventName()</td>
	  <td>@dc.getUri().substring(dc.getUri().indexOf("DA"))</td>
	  <td>@dc.getPlatformName()</td> 
	  <td>@dc.getInstrumentModel()</td>
	  <td>@dc.getStartedAt()</td>
	  @if(state.getCurrent() != State.ACTIVE) {
	   @if(dc.getEndedAt().startsWith("9999")){
		   <td></td>
	   }else{
		   <td>@dc.getEndedAt()</td>
	   }
	  }
	  <td>@dc.getNumberDataPoints()</td>
	  <td>@dc.getSchemaUri()</td>
	  @if(bAdmin) {
	  	<td>@dc.getOwnerUri()</td>
	  }
	  <td>@dc.getPermissionUri()</td>
	  <td>
             @defining("") { filename => 
	  	 <a href="@org.hadatac.console.controllers.dataacquisitionmanagement.routes.EditDataAcquisition.index(filename, URLEncoder.encode(dc.getUri(),"UTF-8"), false)" 
		    class="btn-xs btn-primary" role="button">Edit</a>
		 <a href="@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DeleteDataAcquisition.index("init", URLEncoder.encode(dc.getUri(),"UTF-8"))" 
		    class="btn-xs btn-primary" role="button">Delete</a>
		 <a href="@org.hadatac.console.controllers.dataacquisitionmanagement.routes.EditDataAcquisition.index(filename, URLEncoder.encode(dc.getUri(),"UTF-8"), true)" 
		    class="btn-xs btn-primary" role="button">Parameter</a>
		 <a href="@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DeleteDataAcquisition.deleteDataPoints(URLEncoder.encode(dc.getUri(),"UTF-8"), state.getCurrent())" 
		    class="btn-xs btn-primary" role="button">Clear</a>
	     }
	  </td>
	</tr>
