@(dc      : org.hadatac.entity.pojo.DataAcquisition, 
  perms   : Map[String, String])

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._
@import org.hadatac.console.controllers.dataacquisitionmanagement._

@main("Change Data Access Permission") {

    <h2>Change Data Access Permission</h2>
    
    <div class="container-fluid">
       <ul>
           <li><b>URI:</b> @dc.getUri()</li>
           <li><b>Status:</b> @dc.getStatus()</li>
           <li><b>Triggering Event:</b> </li>
           <li><b>Platform:</b> @dc.getPlatformName()</li>
           <li><b>Instrument:</b> @dc.getInstrumentModel()</li>
           <li><b>Start Date/Time:</b> @dc.getStartedAt()</li>
           <li><b>End Date/Time:</b> @dc.getEndedAt()</li>
           <li><b># of Data Points:</b> </li>
           <li><b>Current Permission:</b> @dc.getPermissionUri()</li>
       </ul>

       <form class="form-horizontal" name="newPermission" method="post" action="@org.hadatac.console.controllers.dataacquisitionmanagement.routes.SetAccessPermission.newPermission(dc.getUri())">
       
           <div class="form-group">
              <label>New Permission</label>
              <select class="form-control col-sm-6" id="newPermission" name="newPermission" >
              	 @if(dc.getPermissionUri() != "Public"){
              		<option value="Public">Public</option> 
              	 }         
                 @for((permUri, permName) <- perms){
                    @if(permUri != dc.getPermissionUri()) {
                       <option value="@permUri">@permName</option> 
                    }        
                 }
              </select>
           </div>

           <div id="question-box">
              <br>
              Are your sure you want to change the access permission for this data collection and its data points? 
              <input class="btn btn-success" role="button" type="submit" value="Confirm New Permission" />
           </div>
       </form>

       <br>
       <a href="@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DataAcquisitionManagement.index(State.ACTIVE)" class="btn btn-primary" role="button">Back to Data Acquisition Management</a>

    </div>

}
