@(study      : org.hadatac.entity.pojo.Study,
  sc         : org.hadatac.entity.pojo.SampleCollection,
  spTypeList : List[org.hadatac.entity.pojo.SampleType])

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._
@import org.hadatac.entity.pojo.Agent
@import play._

@main("New Samples") {

  <div class="container">
    <h4>New Samples for Sample Collection @sc.getLabel()</h4>

   <script type="text/javascript">
     function checkform() {
        var cansubmit = true;
	
	if (!document.getElementById('newQuantity').value || 
            document.getElementById('newQuantity').value.length === 0) {
	   cansubmit = false;
	}

	if (cansubmit) {
	  document.getElementById('submit').disabled = false;
	} else {
	  document.getElementById('submit').disabled = 'disabled';
	}
     }

     function replaceAll(str, find, replace) {
        while (str.indexOf(find) > -1) {
            str = str.replace(find, replace);
        }
        return str;
     }
       
   </script>

    <form class="form-horizontal" name="newSamples" method="post" action="@org.hadatac.console.controllers.samples.routes.NewSamplesFromScratch.processForm(study.getUri(),sc.getUri())">
	
	<div class="form-group">
		<label>Study:</label>
		<input type="text" class="form-control col-sm-6" name="newStudyLabel" id="newStudyUri" 
		       value="@study.getLabel()" onchange="checkform()" readonly >
 	</div>
 	<div class="form-group">
		<label>Sample Collection:</label>
 		<input type="text" class="form-control col-sm-6" name="newSampleCollectionLabel" id="newSampleCollectionUri" 
		       value="@sc.getLabel()    [@sc.getSampleCollectionType().getLabel()]" onchange="checkform()" readonly>
 	</div>
	<div class="form-group">
	        <label>Sample Type:</label> 
	        <select id="newType" class="form-control col-sm-2" name="newType" onchange="checkform()" readonly>
		  @if(sc.getType().equals("http://hadatac.org/ont/hasco/SubjectGroup")) {
		     <option value="http://semanticscience.org/resource/Human" selected>Human</option>
		  } else {
                     <option></option>
	             @if(spTypeList != null) {
                        @for(spType <- spTypeList){
 	                   @spType_select_entry(spType,"")
                        }
                     }
                 }
	         </select>
		@if(sc.getType().equals("http://hadatac.org/ont/hasco/SubjectGroup")) {
		   Subject groups are made of humans.<br>
		}
 	</div>
 	<div class="form-group">
		<label>Number of Samples to be Created:</label>
 		<input type="text" class="form-control col-sm-6" name="newQuantity" id="newQuantity" onchange="checkform()" >
 	</div>
     
	<div class="form-group">
	  <label>Updates</label> <br>
	  <input class="btn btn-success btn-sm" role="button" type="submit" id="submit" value="Create Samples" disabled /><br>
	  <a href="@org.hadatac.console.controllers.samples.routes.SampleManagement.index(study.getUri(),sc.getUri())" class="btn btn-primary" role="button">Back to Sample Management</a>
	</div>
     
   </form>
  </div>

}
