@(triple : org.hadatac.console.models.TripleDocument)

@*****************************
  hasURI    | detURI
    | modelName
  rdfs:label    | name
  vstoi:isInstrumentAttachment (label)   | instName
  vstoi:hasSerialNumber    | sn
*****************************@

@defining(triple.get("sn")) {itemID =>
    <div class="panel-heading" role="tab" id="heading@itemID">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@itemID" aria-expanded="false" aria-controls="@itemID">
                @triple.get("name") (SN: @itemID)</a></h4>
    </div>
    <div id="@itemID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@itemID">
        <div class="panel-body">
            <p><b>@triple.get("name") </b> (model name: @triple.get("modelName") )</p>
            <p>serial number @itemID</p>
            @if(triple.has("instName")){
                <p>This Detector is permanently attached to @triple.get("instName") (sn: @triple.get("instSN")).</p>
            }
            @defining(triple.get("detURI")) {theuri =>
            <form>
                <input type="text" size="80" value="@theuri">
            </form>
            }
        </div>
    </div>
}
