@(triple : org.hadatac.console.models.OtMTripleDocument)
  
@*****************************
  hasURI/label    | id (array[0])
  hasCharacteristic    | chara (array)
*****************************@

@defining(triple.get("id").get(0)) {itemID =>
    @defining(itemID.replaceAll("[\\W]|_", "")) {cleanName =>
    <div class="panel-heading" role="tab" id="heading@itemID">
        <h4 class="panel-title">
        
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@cleanName" aria-expanded="false" aria-controls="@cleanName">
                @itemID</a></h4>
            
    </div>
    <div id="@cleanName" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@cleanName">
        <div class="panel-body">
            <h3>@itemID</h3>
        </div>
            <h4>Characteristics of this entity:</h4>
            @for(c <- triple.get("chara")) {
                <p>@c</p>
            }
    </div>
    }
}
