@(  facetForm: Form[org.hadatac.console.views.formdata.FacetFormData],
    fieldFacets: org.hadatac.console.models.FacetsWithCategories,
    queryFacets: org.hadatac.console.models.FacetsWithCategories,
    rangeFacets: org.hadatac.console.models.FacetsWithCategories,
    pivotFacets: org.hadatac.console.models.FacetsWithCategories,
    clusterFacets: org.hadatac.console.models.FacetsWithCategories)

@import org.hadatac.console.views.html.bootstrap3._
@import org.hadatac.console.views.formdata._


<fieldset class="nav nav-sidebar">
    <div id="legend">
        <legend>Facets</legend>
    </div>

    <div>
    @for((facet_type, list_of_facets) <- fieldFacets.facets){
        <div id="field_facets">
        @checkboxes(facetForm(facet_type),
                    label = facet_type,
                    checkboxMap = list_of_facets,
                    help = "")
        </div>
    }
    </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="submit" type="submit" value="Update" class="btn btn-primary">Submit</button>
      <button class="btn" disabled>Download</button>
    </div>
  </div>
</fieldset>
