@(  facetForm: Form[org.hadatac.console.views.formdata.FacetFormData],
    fieldFacets: org.hadatac.console.models.FacetsWithCategories,
    queryFacets: org.hadatac.console.models.FacetsWithCategories,
    rangeFacets: org.hadatac.console.models.FacetsWithCategories,
    pivotFacets: org.hadatac.console.models.FacetsWithCategories,
    clusterFacets: org.hadatac.console.models.FacetsWithCategories,
    documentMap : Map[String, org.hadatac.console.models.SpatialQueryResults],
    documentJson : String,
    final_query : String,
    current_page : Integer,
    max_page : Integer)

@import helper._
@import org.hadatac.console.views.html._

@main("Simple Faceted Search") {
	<div id="query" data-documents="@documentJson"/>
	<script type="text/javascript" src="/hadatac/assets/javascripts/measurement.js"></script>
	
    <div class="container-fluid">
	      <div class="row">
	        <div class="col-md-3 sidebar">
	          @*form(org.hadatac.console.controllers.routes.Application.postIndex()) {
	            @fieldset(facetForm, fieldFacets, queryFacets, rangeFacets, pivotFacets, clusterFacets)
	        }*@
	        <div id="legend">
				<legend>Facet search</legend>
			</div>
			<div width="100%" style="background-color:#dddddd">
				<label class="col-md-offset-1 control-label">Current facets</label>
			</div>
	        <div id="treeCurrentFacetBox" style="width:100%; height:150px; background-color:#f5f5f5; border :1px solid Silver; overflow:auto;"></div>
	        <div width="100%" style="background-color:#dddddd">
				<label class="col-md-offset-1 control-label">Entities and Characteristics</label>
			</div>
	        <div id="treeEntityCharacteristicBox" style="width:100%; height:150px; background-color:#f5f5f5; border :1px solid Silver; overflow:auto;"></div>
	        <div width="100%" style="background-color:#dddddd">
				<label class="col-md-offset-1 control-label">Units</label>
			</div>
	        <div id="treeUnitBox" style="width:100%; height:150px; background-color:#f5f5f5; border :1px solid Silver; overflow:auto;"></div>
	        <div width="100%" style="background-color:#dddddd">
				<label class="col-md-offset-1 control-label">Platforms and Instruments</label>
			</div>
	        <div id="treePlatformInstrumentBox" style="width:100%; height:150px; background-color:#f5f5f5; border :1px solid Silver; overflow:auto;"></div>
	        <script>
	        	function parseSolrFacetPivotToTree(type) {
	        		var i, j, q, jsonTree, fields;
	        		i = 0;
	        		jsonTree = '{ "id": ' + i + ', "item": [ ';
	        		fields = type.split(",");
	        		
		        	for (var i_pivot in json.facet_counts.facet_pivot[type]) {
		        		var field1 = json.facet_counts.facet_pivot[type][i_pivot];
		        		i++;
		        		j = 0;
		        		
		        		jsonTree += '{ "id": ' + i + ', "text": "' + field1.value + ' (' + field1.count + ')"';
		        		jsonTree += ', "item": [ ';
		        		for (var j_pivot in field1.pivot) {
		        			var field2 = field1.pivot[j_pivot];
		        			if (j != 0) {
		        				jsonTree += ' ,';
		        			}
		        			j++;
		        			jsonTree += '{ "id": ' + i + j + ', "text": "' + field2.value + ' (' + field2.count + ')", "tooltip": "' + field2.value + '" , "userdata": [ { "name": "field", "content": "' + fields[1] + '" }, { "name": "value", "content": "' + field2.value + '" } ] } ';
		        		}
		        		jsonTree += '] , "child": ' + j + ', "tooltip": "' + field1.value + '" , "userdata": [ { "name": "field", "content": "' + fields[0] + '" }, { "name": "value", "content": "' + field1.value + '" } ] } ';
		        	}
		        	jsonTree += '] }';
		        	//alert(jsonTree);
		        	return jsonTree;
	        	}
	        	
	        	function parseSolrFacetFieldToTree(type) {
	        		var i;
	        		var flag;
	        		i = 0;
	        		flag = false;
	        		jsonTree = '{ "id": ' + i + ', "item": [ ';
	        		for (var i_field in json.facet_counts.facet_fields[type]) {
	        			var field = json.facet_counts.facet_fields[type][i_field];
	        			flag = !flag;
	        			if (flag == true) {
	        				if (i != 0) {
		        				jsonTree += ' ,';
		        			}
	        				i++;
	        				jsonTree += '{ "id": ' + i + ', "userdata": [ { "name": "field", "content": "' + type + '" }, { "name": "value", "content": "' + field + '" } ], "text": "' + field;
	        			} else {
	        				jsonTree += ' (' + field + ')" } ';
	        			}
	        		}
	        		jsonTree += '] }';
	        		//alert(jsonTree);
	        		return jsonTree;
	        	}
	        	
	        	function loadTree(tree, data) {
					tree.enableCheckBoxes(true, true);
					tree.enableThreeStateCheckboxes(true);
					tree.setImagePath("@controllers.routes.Assets.versioned("lib/dhtmlx/imgs/dhxtree_skyblue/")");
					tree.setDataMode("json");
					tree.attachEvent("onClick",function(id) {
						//alert(tree.getUserData(id,"field") + ':' + tree.getUserData(id,"value"));
						//alert(getURLParameter('q'));
						var url = decodeURI(window.location.href);
						if (getURLParameter('q') == null) {
							if (url.indexOf('?') > 0) {
								url += '&q='
							} else {
								url += '?q=';
							}
							url += tree.getUserData(id,"field") + ':"' + tree.getUserData(id,"value") + '"';
						} else {
							url += ' AND ' + tree.getUserData(id,"field") + ':"' + tree.getUserData(id,"value") + '"';
						}
						window.location.href = encodeURI(url);
						return true;
					});
					tree.parse(dataTree, "json");
					tree.openAllItems(0);
	        	}
	        
	        	var jsonTree, dataTree, tree;
	        	jsonTree = parseSolrFacetPivotToTree("entity,characteristic");
				dataTree = JSON.parse(jsonTree);
				tree = new dhtmlXTreeObject("treeEntityCharacteristicBox","100%","100%",0);
				loadTree(tree, dataTree);
				
				jsonTree = parseSolrFacetPivotToTree("platform_name,instrument_model");
				dataTree = JSON.parse(jsonTree);
				tree = new dhtmlXTreeObject("treePlatformInstrumentBox","100%","100%",0);
				loadTree(tree, dataTree);
				
				jsonTree = parseSolrFacetFieldToTree("unit");
				dataTree = JSON.parse(jsonTree);
				tree = new dhtmlXTreeObject("treeUnitBox","100%","100%",0);
				loadTree(tree, dataTree);
			</script>
	        </div>
	        <div class="col-md-3 main">
	          <div id="legend">
	            <legend>Measurements</legend>
	          </div>
			  <!--h4>@final_query</h4-->
			  <div class="row placeholders"></div>
			  
	          <div class="row placeholders"></div>
	          <div >
	          	@for((collection, query_results) <- documentMap) {
	          			<div id="@collection" class="tab-pane">
	          				@table(query_results)
	          			</div>
	          		
	          	}
	          </div>
	          <div class="container">    
	 			<ul class="pagination">
	 				@if(current_page == 1) {
	 					<li class="disabled"><a href="#">«</a></li>
	 				} else {
						<li><a href="?p=@(current_page-1)">«</a></li>
					}
					<li class="active"><a href="?p=@(current_page)">@(current_page)</a></li>
					@if(current_page == max_page) {
	 					<li class="disabled"><a href="#">»</a></li>
	 				} else {
						<li><a href="?p=@(current_page+1)">»</a></li>
					}
				</ul>
			  </div>
	        </div>
	        <div class="col-md-6">
	          <div class="row">
	          	<div id="legend">
	            	<legend>Measurement details</legend>
	          	</div>
	            	@for((collection, query_results) <- documentMap) {
	          			<div class="tab-pane">
	          				@if(query_results.the_docs.isEmpty) {
	          					<script>alert("You have no measurements.");</script>
							} else {
								@measurement_details(query_results.the_docs(0))
							}
	          			</div>
	          		}
	          </div>
	          <div class="row">
		          <div id="legend">
		            <legend>Metadata details</legend>
		          </div>  
		      </div>
		    </div>
	        </div>
	      </div>
    </div>

}
