@(  facetForm: Form[org.hadatac.console.views.formdata.FacetFormData],
    fieldFacets: org.hadatac.console.models.FacetsWithCategories,
    queryFacets: org.hadatac.console.models.FacetsWithCategories,
    rangeFacets: org.hadatac.console.models.FacetsWithCategories,
    pivotFacets: org.hadatac.console.models.FacetsWithCategories,
    clusterFacets: org.hadatac.console.models.FacetsWithCategories,
    documentMap : Map[String, org.hadatac.console.models.SpatialQueryResults],
    final_query : String)

@import helper._
@import org.hadatac.console.views.html._

@main("Simple Faceted Search") {
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-3 sidebar">
          @form(org.hadatac.console.controllers.routes.Application.postIndex()) {
            @fieldset(facetForm, fieldFacets, queryFacets, rangeFacets, pivotFacets, clusterFacets)
        }
        </div>
        <div class="col-md-2 main">
          <div id="legend">
            <legend>Measurements</legend>
          </div>
		  <!--h4>@final_query</h4-->
		  <div class="row placeholders"></div>
		  
          <div class="row placeholders"></div>
          <div >
          	@for((collection, query_results) <- documentMap) {
          			<div id="@collection" class="tab-pane">
          				@table(query_results)
          			</div>
          		
          	}
          </div>
        </div>
        <div class="col-md-7">
          <div id="legend">
            <legend>Measurement details</legend>
          </div>
            @for((collection, query_results) <- documentMap) {
          		<div class="tab-pane">
          			@measurement_details(query_results.the_docs(0))
          		</div>
          	}
        </div>
      </div>
    </div>

}
