@(  facetForm: Form[org.hadatac.console.views.formdata.FacetFormData],
    fieldFacets: org.hadatac.console.models.FacetsWithCategories,
    queryFacets: org.hadatac.console.models.FacetsWithCategories,
    rangeFacets: org.hadatac.console.models.FacetsWithCategories,
    pivotFacets: org.hadatac.console.models.FacetsWithCategories,
    clusterFacets: org.hadatac.console.models.FacetsWithCategories,
    documentMap : Map[String, org.hadatac.console.models.SpatialQueryResults],
    documentJson : String,
    final_query : String,
    current_page : Integer,
    max_page : Integer)

@import helper._
@import org.hadatac.console.views.html._

@main("Simple Faceted Search") {
	<div id="query" data-documents="@documentJson"/>
	<script type="text/javascript" src="/hadatac/assets/javascripts/measurement.js"></script>
	
    <div class="container-fluid">
	      <div class="row">
	        <div class="col-md-3 sidebar">
	          @form(org.hadatac.console.controllers.routes.Application.postIndex()) {
	            @fieldset(facetForm, fieldFacets, queryFacets, rangeFacets, pivotFacets, clusterFacets)
	        }
	        <div id="treeEntityCharacteristicBox" style="width:100%; height:150px; background-color:#f5f5f5; border :1px solid Silver; overflow:auto;"></div>
	        <div id="treePlatformInstrumentBox" style="width:100%; height:150px; background-color:#f5f5f5; border :1px solid Silver; overflow:auto;"></div>
	        <script>
	        	function parseSolrToTree(type) {
	        		var i, j;
	        		i = 0;
	        		var jsonTree = '{ "id": ' + i + ', "item": [ ';
		        	for (var entityIndex in json.facet_counts.facet_pivot[type]) {
		        		var entity = json.facet_counts.facet_pivot[type][entityIndex];
		        		i++;
		        		j = 0;
		        		jsonTree += '{ "id": ' + i + ', "text": "' + entity.value + ' (' + entity.count + ')", "item": [ ';
		        		for (var characteristicIndex in entity.pivot) {
		        			var characteristic = entity.pivot[characteristicIndex];
		        			if (j != 0) {
		        				jsonTree += ' ,';
		        			}
		        			j++;
		        			jsonTree += '{ "id": ' + i + j + ', "text": "' + characteristic.value + ' (' + characteristic.count + ')" } ';
		        		}
		        		jsonTree += '] , "child": ' + j + ' } ';
		        	}
		        	jsonTree += '] }';
		        	return jsonTree;
	        	}
	        	
	        	function loadTree(tree, data) {
					tree.enableCheckBoxes(true, true);
					tree.enableThreeStateCheckboxes(true);
					tree.setImagePath("@controllers.routes.Assets.versioned("lib/dhtmlx/imgs/dhxtree_skyblue/")");
					tree.setDataMode("json");
					tree.parse(dataTree, "json");
	        	}
	        
	        	var jsonTree, dataTree, tree;
	        	jsonTree = parseSolrToTree("entity,characteristic");
				dataTree = JSON.parse(jsonTree);
				tree = new dhtmlXTreeObject("treeEntityCharacteristicBox","100%","100%",0);
				loadTree(tree, dataTree);

				jsonTree = parseSolrToTree("platform_name,instrument_model");
				dataTree = JSON.parse(jsonTree);
				tree = new dhtmlXTreeObject("treePlatformInstrumentBox","100%","100%",0);
				loadTree(tree, dataTree);
			</script>
	        </div>
	        <div class="col-md-3 main">
	          <div id="legend">
	            <legend>Measurements</legend>
	          </div>
			  <!--h4>@final_query</h4-->
			  <div class="row placeholders"></div>
			  
	          <div class="row placeholders"></div>
	          <div >
	          	@for((collection, query_results) <- documentMap) {
	          			<div id="@collection" class="tab-pane">
	          				@table(query_results)
	          			</div>
	          		
	          	}
	          </div>
	          <div class="container">    
	 			<ul class="pagination">
	 				@if(current_page == 1) {
	 					<li class="disabled"><a href="#">«</a></li>
	 				} else {
						<li><a href="?p=@(current_page-1)">«</a></li>
					}
					<li class="active"><a href="?p=@(current_page)">@(current_page)</a></li>
					@if(current_page == max_page) {
	 					<li class="disabled"><a href="#">»</a></li>
	 				} else {
						<li><a href="?p=@(current_page+1)">»</a></li>
					}
				</ul>
			  </div>
	        </div>
	        <div class="col-md-6">
	          <div class="row">
	          	<div id="legend">
	            	<legend>Measurement details</legend>
	          	</div>
	            	@for((collection, query_results) <- documentMap) {
	          			<div class="tab-pane">
	          				@measurement_details(query_results.the_docs(0))
	          			</div>
	          		}
	          </div>
	          <div class="row">
		          <div id="legend">
		            <legend>Metadata details</legend>
		          </div>  
		      </div>
		    </div>
	        </div>
	      </div>
    </div>

}
