@import org.hadatac.console.models.SignUp
@import org.hadatac.console.providers.MyUsernamePasswordAuthProvider
@import play.mvc.Http.Request
@(widgets: Seq[SignUp], form: Form[MyUsernamePasswordAuthProvider])(implicit request: Request, messages: play.i18n.Messages)

@main("Signup","signUp","") {

    <div class="row">
        <div class="col-xs-6 col-xs-offset-1 col-sm-4">
            <h1>Sign Up</h1>
            <h1></h1>
        </div>
    </div>

    @* Flash shows updates to a page *@
    @request.flash.asScala().data.map { case (name, value) =>
    <div class="@name">@value</div>
    }

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }
    <div id="signup" class="row">
    <div class="col-xs-6 col-xs-offset-1 col-sm-2">
    @helper.form(org.hadatac.console.controllers.routes.Signup.createUser) {
        @helper.inputText(form("name"), '_label->"Your name")

        @helper.inputText(form("email"), '_id -> "test", '_label->"Your e-mail address",'_help -> "Note: You must use the same email address that you used to sign up for the HHEAR Data Center Portal. You may use a different password.")

        @helper.inputPassword(form("password"), '_label->"Password")
        @helper.inputPassword(form("repeatPassword"), '_label->"Repeat Password")

        <button type="submit">Sign up now</button>
    }
    </div></div>
}