@import org.hadatac.console.models.SignUp
@import org.hadatac.console.providers.MyUsernamePasswordAuthProvider
@import play.mvc.Http.Request
@import helper._
@(widgets: Seq[SignUp], form: Form[MyUsernamePasswordAuthProvider])(implicit request: Request, messages: play.i18n.Messages)

@main("Signup","signUp","") {

    <div class="row">
        <div class="col-xs-6 col-xs-offset-1 col-sm-4">
            <h1>Sign Up</h1>
            <h1></h1>
        </div>
    </div>

    @* Flash shows updates to a page *@
    @request.flash.asScala().data.map { case (name, value) =>
        @if(value.contains("match")){
            <div class="@name"><font color="Red">@value</font></div>
            <meta http-equiv="refresh" content="2;url=@org.hadatac.console.controllers.routes.WidgetController.listWidgets()" />
        } else{
            <div class="@name" color><font color="Red">Mandatory field empty or null -  @value.substring(value.indexOf("(")+1,value.indexOf(","))</font></div>
            <meta http-equiv="refresh" content="2;url=@org.hadatac.console.controllers.routes.WidgetController.listWidgets()" />
    }
    }

    <div id="signup" class="row">
    <div class="col-xs-6 col-xs-offset-1 col-sm-4">
    @helper.form(org.hadatac.console.controllers.routes.Signup.createUser) {
        @helper.inputText(form("name"), '_label->"Your name", 'autocomplete -> "off")

        @helper.inputText(form("email"), '_label->"Your e-mail address", 'autocomplete -> "off")

        @helper.inputPassword(form("password"), '_label->"Password", 'autocomplete -> "off")
        @helper.inputPassword(form("repeatPassword"), '_label->"Repeat Password", 'autocomplete -> "off")

        <button type="submit">Sign up now</button>
    }
    </div></div>
}