@()

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import play.api.Play

@main("HADataC: Human-Aware Data Acquisition Framework") {

    <div class="container-fluid">
      <div class="row">
          <div class="col-md-1 col-xs-0"></div>
          <div class="col-md-8 col-xs-0">
             <h3><font color="darkBlue">@Play.current.configuration.getString("hadatac.community.shortname") 's Human-Aware Data Acquisition Framework</font></h3>
             @Play.current.configuration.getString("hadatac.community.description") 
             <hr>
          </div>
          <div class="col-md-1 col-xs-0"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-xs-0"></div>
        <div class="col-md-3 col-xs-2">
           <h4>Data/Metadata Search and Download</h4>
           <a href="@org.hadatac.console.controllers.metadataacquisition.routes.MetadataAcquisition.index()" id="metadatafacet" class="btn btn-primary btn-block disabled" role="button">Search Studies</a>
           <a href="@org.hadatac.console.controllers.metadataacquisition.routes.DataAcquisitionBrowser.index()" id="dataacquisitionfacet" class="btn btn-primary btn-block disabled" role="button">Search Data Acquisitions</a>
           <a href="@org.hadatac.console.controllers.dataacquisitionsearch.routes.DataAcquisitionSearch.index()" id="data" class="btn btn-primary btn-block disabled" role="button">Search Data</a>
           <a href="@org.hadatac.console.controllers.metadataacquisition.routes.SchemaAttribute.index()" id="variables" class="btn btn-primary btn-block disabled" role="button">Search Variables</a>
           <a href="@org.hadatac.console.controllers.metadataacquisition.routes.Analytes.index()" id="analytes" class="btn btn-primary btn-block disabled" role="button">Search Analytes</a>
           <a href="@org.hadatac.console.controllers.metadata.routes.Metadata.index()" class="btn btn-primary btn-block" role="button">Browse Metadata</a>
           <a href="" class="btn btn-primary btn-block disabled" role="button">Infer Semantic Differences</a>
           <a href="" class="btn btn-primary btn-block disabled" role="button">Show Collaboration Insight</a>
        </div>
        <div class="col-md-3 col-xs-2">
           <h4>Metadata Recording and Data Upload</h4>  
	   @defining("") { filename => @defining("") { da_uri => 
                <!-- <a href="" class="btn btn-primary btn-block disabled" role="button">Manage Scientific Activities</a>  -->
		<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.index()" 
		   id="autoannotate" class="btn btn-primary btn-block" role="button">Manage Data Files</a>
		<a href="@org.hadatac.console.controllers.studies.routes.StudyManagement.index()" 
		   id="studies" class="btn btn-primary btn-block" role="button">Manage Studies</a>
		<a href="@org.hadatac.console.controllers.deployments.routes.DeploymentManagement.index(State.ACTIVE, filename, da_uri)" 
		   id="deployments" class="btn btn-primary btn-block" role="button">Manage Deployments (Platforms, Instruments)</a>
		<a href="@org.hadatac.console.controllers.dataacquisitionmanagement.routes.DataAcquisitionManagement.index(State.ACTIVE)"  
		   id="dataacquisitions" class="btn btn-primary btn-block" role="button">Manage Data Acquisitions</a>
		<a href="@org.hadatac.console.controllers.schema.routes.DASManagement.index()" 
		   id="DAS" class="btn btn-primary btn-block" role="button">Manage Data Acquisition Schemas</a>
		<a href="@org.hadatac.console.controllers.indicators.routes.IndicatorManagement.index()" 
		   id="indicators" class="btn btn-primary btn-block" role="button">Manage Indicators</a>
                <!-- <a href="@org.hadatac.console.controllers.annotator.routes.Annotator.selectDeployment()"  
		        id="annotator" class="btn btn-primary btn-block" role="button">Create CCSV from CSV</a>  -->
                <!-- <a href="@org.hadatac.console.controllers.dataacquisitionsearch.routes.LoadCCSV.loadCCSV("init")"  
		        id="csvloader" class="btn btn-primary btn-block" role="button">Upload CCSV</a>  -->
                <!-- <a href="@org.hadatac.console.controllers.dataacquisitionsearch.routes.ImportSDD.importSDD("init")"  
		        id="sddloader" class="btn btn-primary btn-block" role="button">Import SDD</a>  -->
	   }}
        </div>
        @restrict(roles = anyOf(allOf("data_manager"))) {
        @defining(AuthApplication.getLocalUser(session())) { user =>
        <div class="col-md-3 col-xs-2">
           <h4>Knowledge Management</h4>  
           <a href="@org.hadatac.console.controllers.triplestore.routes.Clean.clean("init")" 
	      class="btn btn-primary btn-block" role="button">Repository Management</a>
	   @*  <a href="@org.hadatac.console.controllers.triplestore.routes.CleanStudy.clean("init")" 
		  class="btn btn-primary btn-block" role="button">Study Management</a> *@
           <a href="@org.hadatac.console.controllers.triplestore.routes.LoadOnt.loadOnt("init")" 
	      class="btn btn-primary btn-block" role="button">Upload Supporting Ontologies</a>
           <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.loadKB("init")" 
	      class="btn btn-primary btn-block" role="button">Upload Additional Knowledge</a>
           <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.loadLabkeyKB("init", "ontology")" 
	      class="btn btn-primary btn-block" role="button">Load Ontology from LabKey</a>
           <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.loadLabkeyKB("init", "knowledge")" 
	      class="btn btn-primary btn-block" role="button">Load Knowledge from LabKey</a>
           <a href="@org.hadatac.console.controllers.triplestore.routes.UserManagement.index("init")" 
	      class="btn btn-primary btn-block" role="button">Manage Users</a>
           <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.loadLabkeyKB("init", "diff_tool")" 
	      class="btn btn-primary btn-block" role="button">Diff Tool</a>
        </div>
           }
        } 
        <div class="col-md-1 col-xs-0"></div>
      </div>
      <div class="row">
         <div class="col-md-1 col-xs-0"></div>
         <div class="col-md-8 col-xs-0">
             <hr>
             <h4>Documentation</h4>
         </div>
         <div class="col-md-1 col-xs-0"></div>
      </div>
      <div class="row">
         <div class="col-md-1 col-xs-0"></div>
         <div class="col-md-3 col-xs-0">
             <a href="https://github.com/paulopinheiro1234/hadatac/wiki/HADataC-Tutorial" class="btn btn-warning btn-block" role="button">Get Started</a>
         </div>
         <div class="col-md-3 col-xs-0">
             <a href="https://github.com/paulopinheiro1234/hadatac/wiki/HADataC-User-Guide" class="btn btn-default btn-block" role="button">User Guide</a>
         </div>
         <div class="col-md-2 col-xs-0"></div>
      </div>
      <div class="row">
         <div class="col-md-1 col-xs-0"></div>
         <div class="col-md-8 col-xs-0">
             <hr>
             <h4>Terminology:</h4>
             <ul>
               <li>CCSV: contextualized comma separated value</li>
               <li>CSV: comma separated value</li>
               <li>KB: knowledge base</li>
             </ul>
          </div>
         <div class="col-md-1 col-xs-0"></div>
      </div>
    </div>

    <script type="text/javascript">
        $( document ).ready(function() {
          var hasUser = ("@AuthApplication.getLocalUser(session())" != "");
          if (hasUser) {
              $('#metadatafacet').attr( 'class', 'btn btn-primary btn-block' );
              $('#subjectviewdemo').attr( 'class', 'btn btn-primary btn-block');
              $('#data').attr( 'class', 'btn btn-primary btn-block' );
              $('#variables').attr( 'class', 'btn btn-primary btn-block' );
              $('#analytes').attr( 'class', 'btn btn-primary btn-block' );
              $('#dataacquisitionfacet').attr( 'class', 'btn btn-primary btn-block' );
              $('#autoannotate').attr( 'class', 'btn btn-primary btn-block' );
              $('#studies').attr( 'class', 'btn btn-primary btn-block' );
              $('#indicators').attr( 'class', 'btn btn-primary btn-block' );
              $('#deployments').attr( 'class', 'btn btn-primary btn-block' );
              $('#dataacquisitions').attr( 'class', 'btn btn-primary btn-block' );
              $('#annotator').attr( 'class', 'btn btn-primary btn-block' );
              $('#csvloader').attr( 'class', 'btn btn-primary btn-block' );
              $('#DAS').attr( 'class', 'btn btn-primary btn-block' );
          } else {
              $('#metadatafacet').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#subjectviewdemo').attr( 'class', 'btn btn-primary btn-block disabled');
              $('#dataacquisitionfacet').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#data').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#variables').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#analytes').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#autoannotate').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#studies').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#indicators').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#deployments').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#dataacquisitions').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#annotator').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#csvloader').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#DAS').attr( 'class', 'btn btn-primary btn-block disabled' );
          }
        });
    </script>

}
