@(userName: String)
@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.java.utils.TemplateUtils._
@import play.api.Play
@import com.typesafe.config.ConfigFactory
@main("", "",userName) {
<!DOCTYPE html>
    <div class="text-center"><h1 class="display-4">Welcome</h1><p id='test'></p></div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <div id="result" hidden>
        <form action="/callback?client_name=FormClient" method="POST">
            <b>User Name</b></br>
            <input type="text" id="username" value="" />
            <p /><p />
            <b>Password</b></br>
            <input type="password" id="password" value="" />
            <p />
            <input type="submit" id="submit" value="Login now" />
        </form>
    </div>
    <script type="text/javascript">
            var data1;
            window.addEventListener('click', function (e) {
                var txt = '{"username":"jane", "age":30, "city":"New York", "email": "sheersha.kandwal@@gmail.com", "password": "12345"}'
                var obj = JSON.parse(txt);
                console.log("inside script");
                e.data = "sheersha.kandwal" + "@@" + "mssm.edu"
                console.log(e.data)
                document.getElementById("test").innerHTML = obj.username + "," + obj.email;
                data1 = obj;
                console.log("email :" + data1);
                obj.name = obj.username;
                obj.repeatPassword = obj.password;
                $.ajax({
                    type: 'POST',
                    url: '/hadatac/checkUser/',
                    data: obj,
                    success: function (response) {
                        location.replace(response);
                    },
                });
            }, false);
    </script>
}

