<h1>Receiver Window</h1>
<p>
  This document is on the domain: http://demos.matt-west.com
</p>
<div id="message"></div>
<script type="text/javascript">
		window.onload = function() {
		    // console.log("Inside script");
            // Get a reference to the div on the page that will display the
            // message text.
            const messageEle = document.getElementById('message');
            console.log(messageEle);
            // A function to process messages received by the window.
            function receiveMessage(e) {
                // Check to make sure that this message came from the correct domain.
                // console.log(e.origin);
                if (e.origin !== "https://localhost:44350"){
                    // console.log('here');
                    return;}
                // Update the div element to display the message.
                window.addEventListener('message', receiveMessage);
                // console.log(e.data);
                document.getElementById('message').innerHTML = "Message Received: " + e.data;
            }
            // Setup an event listener that calls receiveMessage() when the window
            // receives a new MessageEvent.
            //window.addEventListener('message', receiveMessage);
        }</script>