@( persp : org.hadatac.console.models.TripleDocument )

@*****************************
  hasURI    | (not used)
  vstoi:perspectiveOf   | modelName
  vstoi:hasPerspectiveCharacteristic    |  chara

  vstoi:hasAccuracyPercentage   | accpercent
  vstoi:hasAccuracyR2   | accrtwo
  vstoi:hasOutputResolution | outputres

  vstoi:hasMaxResponseTime  | maxresponse
  vstoi:hasResponseTimeUnit | timeunit

  vstoi:hasLowRangeValue    | low
  vstoi:hasHighRangeValue   | high 
******************************@ 

<div class="perspective">
    <p><b>Characteristic measured: @persp.get("chara")</b></p>
    @if(persp.has("accpercent")){
        <p>Accuracy Percentage: @persp.get("accpercent")</p>
    }
    @if(persp.has("accrtwo")){
        <p>Accuracy R2: @persp.get("accrtwo")</p>
    }
    @if(persp.has("outputres")){
        <p>Output Resolution: @persp.get("outputres")</p>
    }
    @if(persp.has("maxresponse")){
        <p>Maximum Response Time: @persp.get("maxresponse") @persp.get("timeunit")</p>
    }
    <p>Output value range: @persp.get("low") - @persp.get("high")</p>
</div>
