@(url:String)
signupForm: Form[_])
@import helper._
@import views.html._
@* @implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }*@


 @main("Signup", "signUp","") {
    <div class="row">
        <div class="col-xs-6 col-xs-offset-1 col-sm-4">
            <h1>Sign Up</h1>
            <h1></h1>
        </div>
    </div>

    <div id="login" class="row">

        <div class="col-xs-6 col-xs-offset-1 col-sm-4">
@*            <li><a href="controllers.routes.Signup.hello()"><i class="icon-off"></i> "Sign out"</a></li>*@
            <form action="@url?client_name=FormClient" method="POST">
                <b>User Name</b></br>
                <input type="text" name="username" value="" />
                <p /><p />
                <b>Password</b></br>
                <input type="password" name="password" value="" />
                <p />
                <input type="submit" name="submit" value="Submit" />
            </form>
        </div>
    </div>
}

