@(documentMap : org.hadatac.console.models.QueryResults)

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Characteristic</th>
                <th>Value</th>
                <th>Timestamp</th>
                <th>X</th>
                <th>Y</th>
                <th>Z</th>
              </tr>
            </thead>

            <tbody>
                @for(document <- documentMap.the_docs) {
                <tr>
                	<td>@document.fields.get("characteristic")</td>
                	<td>@document.fields.get("value")</td>
                	<td>@document.fields.get("timestamp")</td>
                		@for((field, value) <- document.fields){
                			
                    	}
                </tr>
                }
            </tbody>

        </table>
    </div>


