@(documentMap : org.hadatac.console.models.QueryResults)

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Timestamp</th>
                <th>Value</th>
              </tr>
            </thead>

            <tbody>
                @for(document <- documentMap.the_docs) {
                <tr>
                		@for((field, value) <- document.fields){
                			@if(field == "timestamp") {
                            	<td>@value</td>
                            }
                            @if(field == "value") {
                            	<td>@value</td>
                            }
                    	}
                </tr>
                }
            </tbody>

        </table>
    </div>


