@(node : org.hadatac.console.models.TreeNode, optionName : String, selected : String)

@import play.Play
@import org.hadatac.console.controllers.metadata._
@import org.hadatac.console.controllers.metadata.DynamicFunctions
@import java.net._
@import org.hadatac.utils._
@import org.hadatac.metadata.loader.URIUtils
@import org.hadatac.entity.pojo.DataFile

@if(node == null) {
   EMPTY
} else {
   @if(!selected.equals("") && node.getName().equals(selected)) {
      <li><a href="#"><input type="radio" name="@optionName" id="@optionName" value="@node.getName()" onchange="typechange()" checked>&nbsp;&nbsp; @DataFile.getFolderLabel(node.getName())</a>
   } else {
      <li><a href="#"><input type="radio" name="@optionName" id="@optionName" value="@node.getName()" onchange="typechange()" >&nbsp;&nbsp; @DataFile.getFolderLabel(node.getName())</a>
   }
   @if(node.getChildren().size() > 0) {
      <ul>
	     @for(child <- node.getChildren()) { 
            @tree_node_generic(child, optionName, selected)
         }
      </ul>
   }
}
</li>
