@(code_version                 : String,
        base_ontology                : String,
        loaded_base_ontology         : String,
        loaded_base_ontology_version : String,
        propfile                     : String)


@import views.html._
@import com.typesafe.config.ConfigFactory

@main("Version","","") {

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <ul>
                    <li><b>Installation short name: <font color="blue">@ConfigFactory.load().getString("hadatac.community.shortname")</font></b></li>
                    <li><b>HADatAc code's version: <font color="blue">@code_version</font></b></li>
                    <li><b>Latest loaded namespace.properties file: <font color="blue">@propfile</font></b></li>
                    <li><b>Base Ontology Prefix: <font color="blue">@base_ontology</font></b></li>
                    <li><b>Loaded Base Ontology: <font color="blue">@loaded_base_ontology</font></b></li>
                    <li><b>Loaded Base Ontology's version: <font color="blue">@loaded_base_ontology_version</font></b></li>
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

}
