@(filename      : String,
  da_uri        : String,
  study         : org.hadatac.entity.pojo.Study,
  studyType     : org.hadatac.entity.pojo.StudyType,
  organizations : List[org.hadatac.entity.pojo.Agent],
  persons       : List[org.hadatac.entity.pojo.Agent]) 

@import helper._
@import play.Play
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._
@import org.hadatac.entity.pojo.StudyType
@import org.hadatac.metadata.loader.ValueCellProcessing

@main("Edit Study") {
   <script type="text/javascript">
     function checkform() {
        var cansubmit = true;
	
        if (document.getElementById('newUri').value.length == 0) {
          cansubmit = false;
	}

	if ($('input[type=radio]:checked').size() === 0) {
	  cansubmit = false;
	}

	if (document.getElementById('newLabel').value.length == 0) {
	  cansubmit = false;
	}

	if (cansubmit) {
	  document.getElementById('submit').disabled = false;
	} else {
	  document.getElementById('submit').disabled = 'disabled';
	}
     }
   </script>
   <style>
      ul.tree li {
        list-style-type: none;
        position: relative;
      }

      ul.tree li ul {
        display: none;
      }

      ul.tree li.open > ul {
        display: block;
      }

      ul.tree li a {
        color: black;
        text-decoration: none;
      }

      ul.tree li a:before {
        height: 1em;
        padding:0 .1em;
        font-size: .8em;
        display: block;
        position: absolute;
        left: -1.3em;
        top: .2em;
      }

      ul.tree li > a:not(:last-child):before {
        content: '+';
      }

      ul.tree li.open > a:not(:last-child):before {
        content: '-';
      }
   </style>
  <div class="container">
    <h2>Edit Study @study.getLabel()</h2>

    <form class="form-horizontal" name="ediStudy" method="post" action="@org.hadatac.console.controllers.studies.routes.EditStudy.processForm(study.getUri())">
	
	<div class="form-group">
		<label>URI:</label>
 		<input type="text" class="form-control col-sm-6" name="newUri" id="newUri" value="@ValueCellProcessing.replaceNameSpaceEx(study.getUri())" onchange="checkform()" readonly >
 	</div>
 	<div class="form-group">
		<label>Short Name:</label>
 		<input type="text" class="form-control col-sm-6" name="newLabel" id="newLabel"  value="@study.getLabel()" onchange="labelchange()" >
 	</div>
	<div class="form-group">
	        <label>Type:</label>
		<input type="text" class="form-control col-sm-6" name="currentType" id="currentType" value="@ValueCellProcessing.replaceNameSpaceEx(study.getType())" 
		       onchange="checkform()" readonly >
		<div>
                   (Use selector below to set/modify study type)
                   <ul class="tree">
		   @tree_node(studyType.getHierarchy(),"newStudyType", study.getType())
                   </ul>
		</div>
 	</div>
 	<div class="form-group">
		<label>Title</label>
 		<input type="text" class="form-control col-sm-6" name="newTitle" id="newTitle"  value="@study.getTitle()" onchange="checkform()" >
 	</div>
 	<div class="form-group">
		<label>Project</label>
 		<input type="text" class="form-control col-sm-6" name="newProject" id="newProject"  value="@study.getProject()" onchange="checkform()" >
 	</div>
 	<div class="form-group">
		<label>Description</label>
 		<input type="text" class="form-control col-sm-6" name="newComment" id="newComment"  value="@study.getComment()" onchange="checkform()" >
 	</div>
 	<div class="form-group">
		<label>External Source</label>
 		<input type="text" class="form-control col-sm-6" name="newExternalSource" id="newExternalSource"  value="@study.getExternalSource()" onchange="checkform()" >
 	</div>
 	<div class="form-group">
	     <label>PI</label> 
	     <select id="newAgent" class="form-control col-sm-6" name="newAgent">
	       <option></option>
	       @if(persons != null) {
                  @for(person <- persons) {
	             @if(study.getAgent() != null) {
 	                @agent_select_entry(person,study.getAgent().getUri())
                     } else {
 	                @agent_select_entry(person,"")
                     }
                  } 
	       }
             </select>
 	</div>
 	<div class="form-group">
	     <label>Institution</label>
	     <select id="newInstitution" class="form-control col-sm-6" name="newInstitution">
	       <option></option>
	       @if(organizations != null) {
                  @for(organization <- organizations){
	             @if(study.getInstitution() != null) {
 	                 @agent_select_entry(organization,study.getInstitution().getUri())
                     } else {
 	                 @agent_select_entry(organization,"")
                     }
                  }
               }
             </select>
 	</div>
     
	<div class="form-group">
	  <label>Updates</label> <br>
	  <input class="btn btn-success btn-sm" role="button" type="submit" id="submit" value="Save Study" /><br>
          @if(filename == null || filename.equals("") || da_uri == null || da_uri.equals("")) {
	      <a href="@org.hadatac.console.controllers.studies.routes.StudyManagement.index()" class="btn btn-primary" role="button">Back to Study Management</a>
          } else {
    	    <a href="@org.hadatac.console.controllers.annotator.routes.PrepareIngestion.create(filename,da_uri)" 
	       class="btn btn-primary" role="button">Back to Prepare Ingestion</a>
          }
	</div>
     
	<script>
        function replaceAll(str, find, replace) {
         while (str.indexOf(find) > -1) {
           str = str.replace(find, replace);
         }
         return str;
       }
       
       function labelchange() {
          var newUri = "@Play.application().configuration().getString("hadatac.community.ont_prefix")" + "-kb:STD-" + document.getElementById("newLabel").value;
          newUri = replaceAll(newUri," ","-");
	  newUri = replaceAll(newUri,"<","");
          newUri = replaceAll(newUri,">","");
          newUri = replaceAll(newUri,"?","");
	  $('#newUri').val(newUri);
          checkform();
       };

       function typechange() {
          var newType = $("input[name=newStudyType]:checked").val();
 	  $('#currentType').val(newType);
          checkform();
       };

       var tree = document.querySelectorAll('ul.tree a:not(:last-child)');
       for(var i = 0; i < tree.length; i++){
          tree[i].addEventListener('click', function(e) {
          var parent = e.target.parentElement;
          var classList = parent.classList;
          if(classList.contains("open")) {
            classList.remove('open');
            var opensubs = parent.querySelectorAll(':scope .open');
            for(var i = 0; i < opensubs.length; i++){
                opensubs[i].classList.remove('open');
            }
          } else {
            classList.add('open');
          }
         });
       }
       </script>
		   

   </form>
  </div>


}
