@(documentMap     : String,
        study           : org.hadatac.entity.pojo.Study,
        agent           : org.hadatac.entity.pojo.Agent,
        institution     : org.hadatac.entity.pojo.Agent,
        oc              : org.hadatac.entity.pojo.ObjectCollection,
        objList         : List[org.hadatac.entity.pojo.StudyObject],
        page            : Integer,
        total           : Integer,
        userName        : String,
        source        : String,
        studyIds       : String,
        shinyAppUrl     : String
)

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.metadataacquisition._
@import org.hadatac.console.controllers.studies.StudyView
@import helper._; var current = (page + 1); var next = (page + 1); var prev = (page - 1); var last = (total / StudyView.PAGESIZE); var lastpage = (last + 1)
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.java.utils.TemplateUtils._
@import play.api.Play._
@import java.net.URLEncoder

@main("Study View","",userName) {
    <head>

        <script type="text/javascript" src="/hadatac/assets/javascripts/datasearch.js"></script>
    </head>
    <body>

        <div class="container-fluid">
            <div id="revamp-new">
                <div style="display:none">
                    <form id="alignmentDialogForm" method="post" action="@org.hadatac.console.controllers.dataacquisitionsearch.routes.DataAcquisitionSearch.downloadAlignment()">
                        <label for="selObjectType">Alignment type:</label>
                        <select class="form-control" name="selObjectType" id="selObjectType">
                            <option value="SUBJECT" selected>BY SUBJECT</option>
                        </select>
                        <label for="selCatValue">Categorical Values:</label>
                        <select class="form-control" name="selCatValue" id="selCatValue">
                            <option value="withCodeBook" selected>Use Codes and Generate Code Book</option>
                            <option value="withCodes">Use Codes Without Generating Code Book</option>
                            <option value="withValues">Use Values</option>
                        </select>
                        <label for="selTimeRes">Time Resolution (for time alignment):</label>
                        <select class="form-control" name="selTimeRes" id="selTimeRes">
                            <option value="yyyy-MM-dd HH:mm:ss.SSS" selected>yyyy-MM-dd HH:mm:ss.SSS</option>
                            <option value="yyyy-MM-dd HH:mm:ss.SS">yyyy-MM-dd HH:mm:ss.SS</option>
                            <option value="yyyy-MM-dd HH:mm:ss.S">yyyy-MM-dd HH:mm:ss.S</option>
                            <option value="yyyy-MM-dd HH:mm:ss">yyyy-MM-dd HH:mm:ss</option>
                        </select>
                        <label for="selDupOpt">For duplicated values:</label>
                        <label for="selDupOpt">For duplicated values:</label>
                        <select class="form-control" name="selDupOpt" id="selDupOpt">
                            <option value="eliminateDuplication" selected>Eliminate Duplicated Values</option>
                            <option value="keepDuplication">Keep Duplicated Values</option>
                        </select>
                        <br>
                        <input type="hidden" id="downloadSrc" name="downloadSrc" value="studypage" />
                        <input type="hidden" id="source" name="source" value="@{source}" />
                        <input type="hidden" id="studyIds" name="studyIds" value="@{studyIds}" />
                        <input type="hidden" id="renameFiles" name="renameFiles" value="true" />
                        <input type="hidden" id="studyId" name="studyId" value="@{study.getId()}" />
                        <input class="btn btn-info" type="submit" id="submitAlignment" value="Confirm" />
                    </form>
                    <script type="text/javascript">

                            $("#alignmentDialogForm").submit(function(eventObj) {
                                 $('<input />').attr('type', 'hidden')
                                        .attr('name', "facets")
                                        .attr('value', null)
                                        .appendTo(this);
                                return true;
                            });
                    </script>
                </div>

                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        @if(source == "studypage") {
                            <div class="card border-secondary w-95 pt-4">
                                <div class="card-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="@shinyAppUrl" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                        }
                    </div>
                    <div class="col-lg-1">
                    </div>
                </div>

                <br>
                <div class="row" style="display:none">
                    <div class="col-lg-12">
                        <div class="card border-secondary w-75">
                            <div class="card-header">Metadata</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="metadata">
                                        <caption>Study Metadata</caption>
                                <thead>
                                    <tr>
                                                <th scope="col">Ref</th>
                                                <th scope="col">Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                            <tr>
                                                <th scope="row">http:\\</th>
                                                <td>Some Data</td>
                                            </tr>
                                </tbody>
                            </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div  class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-7 border-end  d-flex justify-content-center align-items-start">
                        @if(source == "studypage") {
                            <button type="button" class="btn btn-primary" id="dataGeneration">Dataset Generation</button>
                <a href="@org.hadatac.console.controllers.metadataacquisition.routes.MetadataAcquisition.index()" class="btn btn-primary"
                role="button">Back to Search Studies</a>
                        }
                        @if(source == "generateDataSet") {
                            <div style="display:none">
                                <button type="button" class="btn btn-primary" id="dataGeneration">Dataset Generation</button>
                                <a href="@org.hadatac.console.controllers.metadataacquisition.routes.MetadataAcquisition.index()" class="btn btn-primary"
                                role="button">Back to Search Studies</a>
                            </div>
                        }
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>

            <div id="revamp-old" style="display:none">
                <h4>Study View of @study.getId()</h4>

                <div class="row">
                    <div class="col-lg-12">
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

                        <style>
                                table.google-visualization-orgchart-table {
                                    border-collapse: separate !important;
                                }
                        </style>

                        <h5>SOC Structure</h5> (select nodes to browse their objects)
                        <div id="chart_div" style="width: 100%;
                            height: 250px;">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5 left">
                        <h5>Info</h5>
                        <ul>
                                <!--  <li><b>Code</b>: @study.getId()</li> ---->
                            <li><b>Title</b>: @study.getLabel()</li>
                                <!--  <li><b>Full Tile</b>: @study.getTitle()</li> ---->
                            <li><b>Description</b>: @study.getComment()</li>
                            <li><b>Agent(s)</b>: @if(agent != null) {
                                @agent.getLabel()
                            }</li>
                            <li><b>Institution</b>: @if(institution != null) {
                                @institution.getLabel()
                            }</li>
                        </ul>
                    </div>

                    <div class="col-lg-7 right">
                        <h5>SOC Content</h5>

                        @if(oc != null && objList != null) {

                            @if(prev >= 0) {
                                <a href="@org.hadatac.console.controllers.studies.routes.StudyView.index(URLEncoder.encode(study.getUri(), "UTF-8"), URLEncoder.encode(oc.getUri(), "UTF-8"), 0)" class="btn-xs btn-primary"
                                role="button">&lt;&lt;</a>

                                <a href="@org.hadatac.console.controllers.studies.routes.StudyView.index(URLEncoder.encode(study.getUri(), "UTF-8"), URLEncoder.encode(oc.getUri(), "UTF-8"), prev)" class="btn-xs btn-primary"
                                role="button">&lt;</a>
                            } else {
                                <a href="@org.hadatac.console.controllers.studies.routes.StudyView.index(URLEncoder.encode(study.getUri(), "UTF-8"), URLEncoder.encode(oc.getUri(), "UTF-8"), 0)" class="btn-xs btn-primary disabled"
                                role="button">&lt;&lt;</a>

                                <a href="@org.hadatac.console.controllers.studies.routes.StudyView.index(URLEncoder.encode(study.getUri(), "UTF-8"), URLEncoder.encode(oc.getUri(), "UTF-8"), prev)" class="btn-xs btn-primary disabled"
                                role="button">&lt;</a>
                            }

                            @current of @lastpage

                            @if(next < last) {
                                <a href="@org.hadatac.console.controllers.studies.routes.StudyView.index(URLEncoder.encode(study.getUri(), "UTF-8"), URLEncoder.encode(oc.getUri(), "UTF-8"), next)" class="btn-xs btn-primary"
                                role="button">&gt;</a>

                                <a href="@org.hadatac.console.controllers.studies.routes.StudyView.index(URLEncoder.encode(study.getUri(), "UTF-8"), URLEncoder.encode(oc.getUri(), "UTF-8"), last)" class="btn-xs btn-primary"
                                role="button">&gt;&gt;</a>

                            } else {
                                <a href="@org.hadatac.console.controllers.studies.routes.StudyView.index(URLEncoder.encode(study.getUri(), "UTF-8"), URLEncoder.encode(oc.getUri(), "UTF-8"), next)" class="btn-xs btn-primary disabled"
                                role="button">&gt;</a>

                                <a href="@org.hadatac.console.controllers.studies.routes.StudyView.index(URLEncoder.encode(study.getUri(), "UTF-8"), URLEncoder.encode(oc.getUri(), "UTF-8"), last)" class="btn-xs btn-primary disabled"
                                role="button">&gt;&gt;</a>
                            }

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Original ID</th>
                                        @if(objList.size() > 0) {
                                            @for(scope <- objList.get(0).getScopeUris()) {
                                                <th>hasScope</th>
                                            }
                                            @for(timeScope <- objList.get(0).getTimeScopeUris()) {
                                                <th>hasTimeScope</th>
                                            }
                                            @for(spaceScope <- objList.get(0).getSpaceScopeUris()) {
                                                <th>hasSpaceScope</th>
                                            }
                                        }
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(obj <- objList) {
                                    @obj_view_entry(study, oc, obj)
                                }
                                </tbody>
                            </table>
                        }

                    </div>
                </div>

                <a href="@org.hadatac.console.controllers.metadataacquisition.routes.MetadataAcquisition.index()" class="btn btn-primary"
                role="button">Back to Search Studies</a>

            </div>
        </div>

        <script>
                $( document ).ready(function() {
                    $("#dataGeneration").click(function(){
                        $("#submitAlignment").trigger("click");
                    });

                    var source = $('#source').val();
                    if(source=='generateDataSet')
                    {
                        $('#dataGeneration').trigger('click');
                    }
                    else {
                        $("#revamp-new").hide();
                        $("#revamp-old").show();
                    }
                });
        </script>

        <script>
                google.charts.load('current', {packages: ["orgchart"]});
                google.charts.setOnLoadCallback(drawChart);

                function getOCParam() {
                    var url = window.location.href;
                    var regexS = "[\\?&]oc_uri=([^&#]*)";
                    var regex = new RegExp(regexS);
                    var params = regex.exec(url);
                    return params == null ? null : params[1].replace("%23", "#");
                }

                function removeOCParam() {
                    var url = window.location.href.split('?')[0] + '?';
                    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                            sURLVariables = sPageURL.split('&'),
                            sParameterName,
                            i;

                    for (i = 0; i < sURLVariables.length; i++) {
                        sParameterName = sURLVariables[i].split('=');
                        if (sParameterName[0] != 'oc_uri') {
                            url = url + sParameterName[0] + '=' + sParameterName[1] + '&'
                        }
                    }
                    return url.substring(0, url.length - 1);
                }

                function drawChart() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Name');
                    data.addColumn('string', 'Manager');
                    data.addColumn('string', 'ToolTip');

                    // For each orgchart box, provide the name, manager, and tooltip to show.
                    var encodedDataStr = '@documentMap';
                    var dataStr = '[' + encodedDataStr.replace(/&#x27;/g, "'") + ']';
                    //alert(dataStr);
                    var arrays = eval(dataStr);
                    data.addRows(arrays);

                    // Create the chart.
                    var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));

                    // Draw the chart, setting the allowHtml option to true for the tooltips.
                    chart.draw(data, {allowHtml: true});

                    var oc_param = decodeURIComponent(decodeURIComponent(getOCParam()));
                    //alert(oc_param);
                    for (var i = 0; i < data.getNumberOfRows(); i++) {
                        if (oc_param == data.wg[i].c[2].v) {
                            //alert("selected index is " + i + " for " + data.wg[i].c[2].v);
                            chart.setSelection([{'row': i, 'column': null}]);
                        }
                    }

                    // The selection handler.
                    // Loop through all items in the selection and concatenate
                    // a single message from all of them.
                    function selectHandler() {
                        var selection = chart.getSelection();
                        var message = '';
                        for (var i = 0; i < selection.length; i++) {
                            var item = selection[i];
                            if (item.row != null) {
                                var new_oc_uri = data.getValue(item.row, 0);
                                message += '{row:' + item.row + ', column:none} = ' + new_oc_uri + '\n';
                                var newUrl = removeOCParam().replace("#", "%23") + '&oc_uri=' + new_oc_uri.replace("#", "%23");
                                //alert(message + ' ' + newUrl);
                                location.replace(newUrl);
                            }
                        }
                        if (message == '') {
                            message = 'nothing';
                        }
                        //alert('You selected ' + message);
                    }

                    // Add our selection handler.
                    google.visualization.events.addListener(chart, 'select', selectHandler);

                }
        </script>
    </body>
}
