@import play.api.routing.Router.empty.routes
@import org.hadatac.utils._
@(documentMap     : String,
        study           : org.hadatac.entity.pojo.Study,
        agent           : org.hadatac.entity.pojo.Agent,
        institution     : org.hadatac.entity.pojo.Agent,
        oc              : org.hadatac.entity.pojo.ObjectCollection,
        objList         : List[org.hadatac.entity.pojo.StudyObject],
        page            : Integer,
        total           : Integer,
        userName        : String,
        source        : String,
        facets       : String,
        shinyAppUrl     : String
)

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.metadataacquisition._
@import org.hadatac.console.controllers.studies.StudyView
@import helper._; var current = (page + 1); var next = (page + 1); var prev = (page - 1); var last = (total / StudyView.PAGESIZE); var lastpage = (last + 1)
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.java.utils.TemplateUtils._
@import play.api.Play._
@import java.net.URLEncoder

@main("Study View","",userName) {
    <head>

        <script type="text/javascript" src="/hadatac/assets/javascripts/datasearch.js"></script>
    </head>
    <body>

        <div class="container-fluid">
            <div style="display:none">
                <form id="alignmentDialogForm" method="post" action="@org.hadatac.console.controllers.dataacquisitionsearch.routes.DataAcquisitionSearch.downloadAlignment()">
                    <label for="selObjectType">Alignment type:</label>
                    <select class="form-control" name="selObjectType" id="selObjectType">
                        <option value="SUBJECT" selected>BY SUBJECT</option>
                    </select>
                    <label for="selCatValue">Categorical Values:</label>
                    <select class="form-control" name="selCatValue" id="selCatValue">
                        <option value="withCodeBook" selected>Use Codes and Generate Code Book</option>
                        <option value="withCodes">Use Codes Without Generating Code Book</option>
                        <option value="withValues">Use Values</option>
                    </select>
                    <label for="selTimeRes">Time Resolution (for time alignment):</label>
                    <select class="form-control" name="selTimeRes" id="selTimeRes">
                        <option value="yyyy-MM-dd HH:mm:ss.SSS" selected>yyyy-MM-dd HH:mm:ss.SSS</option>
                        <option value="yyyy-MM-dd HH:mm:ss.SS">yyyy-MM-dd HH:mm:ss.SS</option>
                        <option value="yyyy-MM-dd HH:mm:ss.S">yyyy-MM-dd HH:mm:ss.S</option>
                        <option value="yyyy-MM-dd HH:mm:ss">yyyy-MM-dd HH:mm:ss</option>
                    </select>
                    <label for="selDupOpt">For duplicated values:</label>
                    <label for="selDupOpt">For duplicated values:</label>
                    <select class="form-control" name="selDupOpt" id="selDupOpt">
                        <option value="eliminateDuplication" selected>Eliminate Duplicated Values</option>
                        <option value="keepDuplication">Keep Duplicated Values</option>
                    </select>
                    <br>
                    <input type="hidden" id="downloadSrc" name="downloadSrc" value="studypage" />
                    <input type="hidden" id="source" name="source" value="@{source}" />
                    <input type="hidden" id="facets" name="facets" value="@{facets}" />
                    <input type="hidden" id="renameFiles" name="renameFiles" value="true" />
                    <input type="hidden" id="studyId" name="studyId" value="@{study.getId()}" />
                    <input class="btn btn-info" type="submit" id="submitAlignment" value="Confirm" />
                </form>
                <script type="text/javascript">

                        $("#alignmentDialogForm").submit(function(eventObj) {
                             $('<input />').attr('type', 'hidden')
                                    .attr('name', "facets")
                                    .attr('value', null)
                                    .appendTo(this);
                            return true;
                        });
                </script>
            </div>

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    @if(source == "studypage") {
                        <div class="card border-secondary w-95 pt-4">
                            <div class="card-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="@shinyAppUrl" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-1">
                </div>
            </div>

            <br>
            <div class="row" style="display:none">
                <div class="col-lg-12">
                    <div class="card border-secondary w-75">
                        <div class="card-header">Metadata</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" id="metadata">
                                    <caption>Study Metadata</caption>
                                    <thead>
                                        <tr>
                                            <th scope="col">Ref</th>
                                            <th scope="col">Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">http:\\</th>
                                            <td>Some Data</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div  class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-7 border-end  d-flex justify-content-center align-items-start">
                    @if(source == "studypage") {
                        <button type="button" class="btn btn-primary" id="dataGeneration">Dataset Generation</button>
                        <a href="@org.hadatac.console.controllers.metadataacquisition.routes.MetadataAcquisition.index()" class="btn btn-primary"
                        role="button">Back to Search Studies</a>
                    }
                    @if(source == "generateDataSet") {
                        <div style="display:none">
                            <button type="button" class="btn btn-primary" id="dataGeneration">Dataset Generation</button>
                            <a href="@org.hadatac.console.controllers.metadataacquisition.routes.MetadataAcquisition.index()" class="btn btn-primary"
                            role="button">Back to Search Studies</a>
                        </div>
                    }
                </div>
                <div class="col-lg-3"></div>
            </div>

        </div>

        <script>
                $( document ).ready(function() {
                    $("#dataGeneration").click(function(){
                        $("#submitAlignment").trigger("click");
                    });

                    var source = $('#source').val();
                    //alert("source="+source);
                    if(source=='generateDataSet')
                    {
                        $('#dataGeneration').trigger('click');
                    }
                });



        </script>
    </body>
}
