@(study : org.hadatac.entity.pojo.Study)

@import play.Play
@import org.hadatac.console.controllers.metadata._
@import org.hadatac.console.controllers.metadata.DynamicFunctions
@import java.net._
@import org.hadatac.utils._

<tr>
  <td>@if(study.getLabel() != null) { @study.getLabel() }</td>
  <td>@if(study.getComment() != null) { @study.getComment() }</td>
  <td>@if(study.getStartedAt() != null) { @study.getStartedAt() }</td>
  <td>@if(study.getEndedAt() != null) { @study.getEndedAt() }</td>
  <td>@if(study.getDataAcquisitionUris() != null) { @study.getDataAcquisitionUris().size() }</td>
  <td>@if(study.getObjectCollectionUris() != null) { @study.getObjectCollectionUris().size() }</td>
  <td>
    <a href="@Play.application().configuration().getString("hadatac.console.host_deploy")/hadatac/metadataacquisitions/viewStudy?study_uri=@DynamicFunctions.replaceURLWithPrefix(study.getUri())" 
       class="btn-xs btn-primary" role="button">View</a> 
    @defining("") { filename => @defining("") { da_uri => 
         <a href="@org.hadatac.console.controllers.studies.routes.EditStudy.index(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"))"
            class="btn-xs btn-primary" role="button">Edit</a>
         <a href="@org.hadatac.console.controllers.objectcollections.routes.OCManagement.index(filename, da_uri, URLEncoder.encode(study.getUri(),"UTF-8"))" 
            class="btn-xs btn-primary" role="button">Objects</a>
    }}
    <a href="@org.hadatac.console.controllers.studies.routes.RefreshStudy.index(URLEncoder.encode(study.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Refresh</a>
    @if(study.getDataAcquisitionUris() != null && study.getObjectCollectionUris() != null) {
       @if(study.getDataAcquisitionUris().size() == 0 && study.getObjectCollectionUris().size() == 0) {
          <a href="@org.hadatac.console.controllers.studies.routes.DeleteStudy.index(URLEncoder.encode(study.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Delete</a>
       }
    }
  </td>
</tr>
