@(triple : models.TripleDocument)

@*****************************
  hasURI    | detURI
    | modelName
  rdfs:label    | name
  vstoi:isInstrumentAttachment (label)   | inst
  vstoi:hasSerialNumber    | sn
*****************************@

@defining(triple.get("sn")) {itemID =>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading@itemID">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@itemID" aria-expanded="false" aria-controls="@itemID">
                @triple.get("name") (@itemID)</a></h4>
    </div>
    <div id="@itemID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@itemID">
        <div class="panel-body">
            <p><b>@triple.get("name") </b> (type: @triple.get("modelName") )</p>
            @defining(triple.get("detURI")) {theuri =>
            <form>
                <input type="text" value="@theuri">
            </form>
            }
            <p>serial number @itemID</p>
            @if(triple.has("inst")){
                <p>This Detector is permanently attached to @triple.get("inst").</p>
            }
        </div>
    </div>
</div>
}