@(documentMap : String, category : String)

@import helper._

@main("Hierarchies") {
    <div class="container-fluid">
      
      <div class="row">
        @*<div class="col-sm-9 col-md-10 main">*@
		  @metadata_navigation(category)
		  <div class="table-responsive">
			 <div id="query" data-results="@documentMap"></div>
			 <div id="body"></div>
    		 @*<link type="text/css" rel="stylesheet" href="http://mbostock.github.io/d3/talk/20111018/style.css"/>*@
			 <script type="text/javascript" src="http://mbostock.github.io/d3/talk/20111018/d3/d3.js"></script>
    		 <script type="text/javascript" src="http://mbostock.github.io/d3/talk/20111018/d3/d3.layout.js"></script>
    		 <script type="text/javascript" src="/assets/javascripts/treeRenderer.js"></script>  					   
    		 <link type="text/css" rel="stylesheet" href="/assets/stylesheets/treeRenderer.css"/>   					   
    	  </div>
      </div>
    </div>

}
