@( documentMap : Map[String,models.SparqlQueryResults],
   documentHierarchy: Map[String,String],
   final_query : String)

@import helper._

@main("Hierarchies") {
    <link rel="stylesheet" type="text/css" href="/hadatac/aassets/stylesheets/main.css">
    
    <div class="container-fluid">
      <div class="row">
        @*<div class="col-sm-9 col-md-10 main">*@
		  @metadata_navigation("")

        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#InstrumentModels">View All Instrument Models</a></li>
            <li><a data-toggle="tab" href="#InstrumentModelsH">View Models as Tree</a></li>
        </ul>
        <div class = "tab-content">
        @for((thingType, query_results) <- documentMap) {
            @thingType match{
                case "InstrumentModels" => { 
                    <div id="InstrumentModels" class="tab-pane fade in">
                        <div><p>(click for more information)</p></div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    @for((k, triple) <- query_results.triples_list){
                                        @instrument_model_entry(triple) 
                                    }
                                </div>
                            </div>
                    </div>
                }
                case _ => {
                }
            }
            <script type="text/javascript">
                $(function () { 
                    $('[data-toggle="popover"]').popover()
                });
            </script>
        }
        @for((thingType, tree_results) <- documentHierarchy){
		  <div class="table-responsive">
			 <div id="query" data-results="@tree_results"></div>
			 <div id="body"></div>
			 <script type="text/javascript" src="/hadatac/assets/javascripts/d3.js"></script>
    		 <script type="text/javascript" src="/hadatac/assets/javascripts/d3.layout.js"></script>
    		 <script type="text/javascript" src="/hadatac/assets/javascripts/treeRenderer.js"></script>  					   
    		 <link type="text/css" rel="stylesheet" href="/hadatac/assets/stylesheets/treeRenderer.css"/>  
        }
        </div>
      </div>
    </div>
    </div>
    </div>
}
