@(triple : models.TripleDocument)
@*****************************
  hasURI    | (not used)
  rdfs:subClassOf   | (not used)
  rdfs:label    | instModelName
  vstoi:hasMaker    | maker
  rdfs:comment  | desc
  hasImage  | *add*
  vstoi:numAttachedDetectors    | numAtt
  vstoi:maxDetachableDetectors    | numDet
  vstoi:maxLoggedMeasurements    | maxLog
  vstoi:minOperatingTemperature    | minTemp
  vstoi:maxOperatingTemperature    | maxTemp
  vstoi:hasOperatingTemperatureUnit    | tempUnit
  vstoi:hasWebDocumentation    | docLink
*****************************@

@defining(triple.generateID()) {itemID =>
<div class="panel-heading" role="tab" id="heading@itemID">
    <h4 class="panel-title">
    @defining(triple.get("modelName").replaceAll("\\s+","")) {cleanName =>
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@cleanName" aria-expanded="false" aria-controls="@itemID">
            @triple.get("modelName")</a></h4>
        
        
</div>
<div id="@cleanName" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@itemID">
    }
    <div class="panel-body">
        <h4>@triple.get("modelName") </h4>
        <img class="thumbnail" src="/hadatac/assets/images/placeholder200.png">
        <div class="table-info">
            <b>Technical Details</b>
            @if(triple.has("minTemp")){
                <p>Operational between @triple.get("minTemp") and @triple.get("maxTemp") @triple.get("tempUnit").</p>
            }
            @if(triple.has("numAtt")){
                <p>Number of attached detectors: @triple.get("numAtt")</p>
            }
            @if(triple.has("numDet")){
                <p>Number of detachable detectors: @triple.get("numDet")</p>
            }
            @if(triple.has("maxLog")){
                <p>Maximum measurements logged: @triple.get("maxLog")</p>
            }
        </div>
        @if(triple.has("maker")){
            <p>manufactured by: <a href="@triple.get("page")" target="_blank">@triple.get("maker")</a></p>
        }</br>
        <p>Description: @triple.get("desc")</p>
        @if(triple.has("docLink")){
            <a href="@triple.get("docLink")" target="_blank">See Online Documentation</a>
        }
    </div>
</div>
}