@(triple : models.TripleDocument)

@defining(triple.generateID()) {itemID =>
<div class="panel-heading" role="tab" id="heading@itemID">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@itemID" aria-expanded="false" aria-controls="@itemID">
            @triple.get("platModelName")</a></h4>
        
</div>
<div id="@itemID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@itemID">
    <div class="panel-body">
        <p><b>@triple.get("platModelName") </b> (manufactured by: @triple.get("maker") )</p>
        <p>Description: @triple.get("desc")</p>
    </div>
</div>
}