@()

@import helper._

@main("HADataC: Human-Aware Data Collection Framework") {
    <div class="container-fluid">
      <h2>HADataC: Human-Aware Data Collection Framework</h2>
      <div class="row" style="width: 350px">
        <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>Main Options:</h3>  
                <a href="" class="btn btn-primary btn-block" role="button">Faceted Search of Data Collections</a>
                <a href="@routes.Application.index()" class="btn btn-primary btn-block" role="button">Faceted Search of Measurements</a>
                <a href="@routes.Spatial.index()" class="btn btn-primary btn-block" role="button">Spatial Search of Measurements</a>
                <a href="@routes.Metadata.index()" class="btn btn-primary btn-block" role="button">Browse Metadata</a>
            </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
}
