@(  facetForm: Form[views.formdata.FacetFormData],
    fieldFacets: models.FacetsWithCategories,
    queryFacets: models.FacetsWithCategories,
    rangeFacets: models.FacetsWithCategories,
    pivotFacets: models.FacetsWithCategories,
    clusterFacets: models.FacetsWithCategories,
    namedLocation: String,
    spatialPredicates: String, 
    documentMap : Map[String, models.SpatialQueryResults],
    final_query : String)


@import helper._

@main("Spatial Faceted Search") {
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          @form(routes.Spatial.postIndex()) {
            @spatial_fieldset(facetForm, fieldFacets, queryFacets, rangeFacets, pivotFacets, clusterFacets, namedLocation, spatialPredicates)
        }
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Faceted Search</h1>
		  <h4>@final_query</h4>
		  <div class="row placeholders"></div>
		  <ul class="nav nav-tabs">
		    @for((collection, query_results) <- documentMap) {
		  		<li><a data-toggle="tab" href="#@collection">@collection</a></li>
		    }
		  </ul>
          <div class="row placeholders"></div>
          <div class = "tab-content">
          	@for((collection, query_results) <- documentMap) {
          		
          			<div id="@collection" class="tab-pane fade in">
          				@table(query_results)
          			</div>
          		
          	}
          </div>
        </div>
      </div>
    </div>

}
