@(deployment_uri : String, deploy: org.hadatac.console.models.DeploymentForm)

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.views.html.deployments._
@import org.hadatac.console.controllers.deployments._

<head> 
    <script type="text/javascript">
       var datefield=document.createElement("input")
       datefield.setAttribute("type", "date")
       if (datefield.   ?dep prov:startedAtTime ?datetime .
       type!="date"){ //if browser doesn't support input type="date", load files for jQuery UI Date Picker
           document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
           document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
           document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n') 
        }
    </script>
 
    <script>
       if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
       jQuery(function($){ //on document.ready
           $('#birthday').datepicker();
           })
       }
    </script>
</head>

@main("Close Deployment") {
  <div class="container">
    <h2>Close Deployment</h2>

    <form class="form-horizontal" method="post" action="@org.hadatac.console.controllers.deployments.routes.CloseDeployment.processForm(deployment_uri)">

    <div class="form-group">
         <label>Platform</label> 
         <select disabled class="form-control col-sm-6" name="platform">
         <option value="platform">@deploy.getPlatform()</option>         
         </select>

     </div>
	 <div class="form-group">
         <label>Instrument</label>
         <select disabled class="form-control col-sm-6" name="instrument">
         <option value="instrument">@deploy.getInstrument()</option>         
         </select>
     </div>
	 <div class="form-group">
         <label>Detector(s)</label>
         <select disabled class="form-control col-sm-6" name="detector">
         <option value="detector">@deploy.getDetectors()</option>         
         </select>
     </div>
	 <div class="form-group">
         <label for="startdate">Start Date/Time</label><br> 
         <input disabled class="col-sm-3" type="text" id="startdate" name="startDateTime" value="@deploy.getStartDateTime()" />
      </div>
      
	 <div class="form-group">
         <label for="enddate">End Date/Time</label><br> 
         <div class="container">
            <div class="row">
               <div class='col-sm-3'>
                 <div class="form-group">
                    <div class='input-group date' id='enddate'>
                       <input type='text' name="endDateTime" class="form-control" />
                       <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                       </span>
                    </div>
                 </div>
               </div>
               <script type="text/javascript">
                 $(function () {
                     $('#enddate').datetimepicker();
                 });
               </script>
            </div>
         </div>
     </div>

     <div class="form-group col-sm-6 col-offset-3">
        <input class="btn btn-success" role="button" type="submit" value="Close" />
     </div>

   </form>    
   @defining("") { filename => @defining("") { da_uri => @deploymentButton(false, filename, da_uri) }}
</div>

}
