@(indent: Boolean)

@import org.hadatac.utils._

@if(indent) {
    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <a href="@org.hadatac.console.controllers.deployments.routes.DeploymentManagement.index(State.ACTIVE)" class="btn btn-warning" role="button">Back to Deployment Management</a>
        </div>
    </div>
} else {
    <a href="@org.hadatac.console.controllers.deployments.routes.DeploymentManagement.index(State.ACTIVE)" class="btn btn-warning" role="button">Back to Deployment Management</a>
}
