@(triple : org.hadatac.console.models.TripleDocument,
  flip : Boolean)
@*****************************
   ?uri
   ?platform 
   ?instrument 
   ?date
*****************************@

@import java.net._

@if(flip){
    <tr>
       <td>@triple.get("platformName")</td> 
       <td>@triple.get("instrumentName")</td>
       <td>@triple.get("date")</td>
       <td>
          <a href="@org.hadatac.console.controllers.deployments.routes.ViewDeployment.index()" class="btn-xs btn-primary" role="button">View</a>
          <a href="@org.hadatac.console.controllers.deployments.routes.CloseDeployment.index(URLEncoder.encode(triple.get("uri"),"UTF-8"))" class="btn-xs btn-primary" role="button">Close</a>
          <a href="@org.hadatac.console.controllers.deployments.routes.DeleteDeployment.index()" class="btn-xs btn-primary" role="button">Delete</a>
       </td>
    </tr>
} else {
    <tr>
        <td>@triple.get("instrumentName")</td> 
        <td>@triple.get("platformName")</td>
        <td>@triple.get("date")</td>
       <td>
          <a href="@org.hadatac.console.controllers.deployments.routes.ViewDeployment.index()" class="btn-xs btn-primary" role="button">View</a>
          <a href="@org.hadatac.console.controllers.deployments.routes.CloseDeployment.index(URLEncoder.encode(triple.get("uri"),"UTF-8"))" class="btn-xs btn-primary" role="button">Close</a>
          <a href="@org.hadatac.console.controllers.deployments.routes.DeleteDeployment.index()" class="btn-xs btn-primary" role="button">Delete</a>
       </td>
    </tr>
}