@(dir              : String,
  filename         : String,
  da_uri           : String,
  coordinates      : String,
  platformNames    : String,
  platformUris     : String,
  platform         : org.hadatac.entity.pojo.Platform,
  dimensions       : String,
  previous_platUri : String)

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.metadataacquisition._
@import org.hadatac.console.controllers.studies.StudyView
@import org.hadatac.console.controllers._
@import org.hadatac.entity.pojo._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.java.utils.TemplateUtils._
@import play.api.Play._
@import java.net.URLEncoder

@main("Deployment Browser") {
	<head>
        <style>
        
			body { font: 12px Arial;}

			path { 
    				stroke: steelblue;
    				stroke-width: 2;
    				fill: none;
			}

			div.tooltip {	
    			position: absolute;			
    			text-align: center;			
    			width: 180px;					
    			height: 56px;					
    			padding: 2px;				
    			font: 12px sans-serif;		
    			background: lightsteelblue;	
    			border: 0px;		
    			border-radius: 8px;			
    			pointer-events: none;			
			}

			.tooltip.in {
				opacity: 1;
	  			filter: alpha(opacity=100);
			}
			.tooltip.top .tooltip-arrow {
  				border-top-color: white;
			}
			.tooltip-inner {
  				border: 2px solid white;
			}
		</style>	
	</head>
    <body>

    <script type="text/javascript" charset="utf-8" src="@controllers.routes.Assets.versioned("javascripts/d3.v3.min.js")"></script>

	<div class="row">
   		<div class="col-md-1">
   		</div>
   		<div class="col-md-11">
        	<h3>Deployment Browser</h3>
        </div>
	</div>

    <div class="container-fluid">
       <div class="row">
    	 <div class="col-md-1">
   		 </div>
    	 <div class="col-md-11">
            <div class="navbar-collapse collapse navbar-secondary">
              <a href="@org.hadatac.console.controllers.deployments.routes.DeploymentBrowser.index("/", "", "", "", "")" class="btn-sm btn-primary" role="button">Back</a>
              <a href="" class="btn-sm btn-primary" role="button">Filter By Instrument Model</a>
              <a href="" class="btn-sm btn-primary" role="button">Visualize Fields of View</a>
              <a href="" class="btn-sm btn-primary" role="button">Visualize Platform Data</a>
            </div>
         </div>
       </div>
    </div>

	<div class="row">
   		<div class="col-md-1">
   		</div>
   		<div class="col-md-11">
            <h4>Reference Platform: @platform.getLabel()</h4>
			<ul>
			  	<p>Dimensions: <b>Width:</b> @platform.getWidth() @platform.getWidthUnitLabel() <b>Depth</b>: @platform.getDepth() @platform.getDepthUnitLabel()</p>
			</ul>
       		<div class="row text-center">
			<svg width="1150" height="500">
  				<defs>
    				<pattern id="Img" width="1100" height="500" patternUnits="userSpaceOnUse">
				    </pattern>
  				</defs>
			</svg>
            <script type="text/javascript">
                var browser_url = '@org.hadatac.console.controllers.deployments.routes.DeploymentBrowser.index(dir, filename, da_uri, "XXXX", previous_platUri)';
		        var coordinates = '@coordinates';
        		var coordinatesStr = coordinates.replace(/&#x27;/g,"'");
	    		var coords = eval(coordinatesStr);
		        var dimensions = '@dimensions';
        		var dimensionsStr = dimensions.replace(/&#x27;/g,"'");
	    		var dims = eval(dimensionsStr);
		        var pltNames = '@platformNames';
        		var namesStr = pltNames.replace(/&#x27;/g,"'").replace(/&quot;/g,"'");
	    		var names = eval(namesStr);
		        var pltUris = '@platformUris';
        		var uriStr = pltUris.replace(/&#x27;/g,"'").replace(/&quot;/g,"'").replace(/#/g,"%23");
	    		var uris = eval(uriStr);

				var svg = d3.select("svg");
    			var imgPattern = d3.select("pattern");
        
			    // create an svg element
			    
			    var widthLayout = dims[0];
			    var heightLayout = dims[1];
			    
			    var widthPixels = 850;
			    var widthOffset = 50;
			    var heightPixels = (heightLayout * widthPixels) /widthLayout;
			    
			    var widthScale = widthPixels / widthLayout;
			    var heightScale = heightPixels / heightLayout;

    			imgPattern.append("image")
    				.attr("x", "0")
    				.attr("y", "0")
    				.attr("width", "850")
    				.attr("height", heightPixels)
        			.attr("xlink:href", function(d) {
          				return "@DataFile.getMediaUrl(platform.getLayout())";
        			});
				  
				// Define the div for the tooltip
				var div = d3.select("body").append("div")	
    						.attr("class", "tooltip")				
    						.style("opacity", 0);    			
    						
				// Define a box that has the background image 
    			svg.selectAll("rect").data([0])
      				.enter().append("rect")
        				.attr("x", "0")
      					.attr("y", "0")
        				.attr("width", "850")
        				.attr("height", heightPixels)
        				.style("stroke", "blue")
        				.style("stroke-width", "3")   
        				.style("fill", "url(#Img)");   
        	   
    			svg.selectAll("circle").data(names)
      				.enter().append("circle")
        				.attr("cx", function(d,i) { return widthOffset + coords[i * 2] * widthScale; })
      					.attr("cy", function(d,i) { return heightPixels - (coords[i * 2 + 1] * heightScale); })
      					.attr("r", 4)
      					.attr("onmousemove", function(d,i) { return "showTooltip(evt, '" + names[i] + "');"; })
      					.attr("onmouseout", onmouseout="hideTooltip();")
                        .attr("onclick", function(d,i) { return "clicked('" + uris[i] + "');"; })      					
                        .attr("title", function(d,i) { return names[i]; })
        				.style("fill", "red")
        		   
				function showTooltip(evt, text) {
			           	div.transition()		
            			    .duration(200)		
                			.style("opacity", .9);		
			            div.html(text)	
            			    .style("left", (evt.pageX) + "px")		
                			.style("top", (evt.pageY - 28) + "px");	
				}

				function hideTooltip() {
			            div.transition()		
            			    .duration(500)		
                			.style("opacity", 0);	
				}

				function clicked(uri) {
		             	window.location.href = browser_url.replace("XXXX",uri).replace(/amp;/g,"").replace(/#/g,"%23");
						//alert("test " + uri);
				}

    		</script>
    </div>

}