@(oper : org.hadatac.utils.State, deployment : org.hadatac.entity.pojo.Deployment)

@import java.net._
@import org.hadatac.utils._

<tr>
   <td>@deployment.platform.getLabel()</td> 
   <td>@deployment.instrument.getLabel()</td>
   <td>@deployment.getStartedAt()</td>
   @if(oper.getCurrent() != State.ACTIVE) {
       <td>@deployment.getEndedAt()</td>
   }
   <td>
       <a href="@org.hadatac.console.controllers.deployments.routes.ViewDeployment.index(URLEncoder.encode(deployment.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">View</a>
       @if(oper.getCurrent() == State.ACTIVE) {
           <a href="@org.hadatac.console.controllers.deployments.routes.CloseDeployment.index(URLEncoder.encode(deployment.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Close</a>
       }
       <a href="@org.hadatac.console.controllers.deployments.routes.DeleteDeployment.index()" class="btn-xs btn-primary" role="button">Delete</a>
   </td>
</tr>
