@(message: String, data : org.hadatac.console.models.DeploymentForm)

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.deployments._

@main(message) {
    <h1>@message</h1>

	<ul>
		<li><b>Platform</b>: @data.getPlatform()</li>
		<li><b>Instrument</b>: @data.getInstrument()</li>
		<li><b>Detector</b>: @data.getDetector()</li>
		<li><b>Start Date/Time</b>: @data.getStartDateTime()</li>
		<li><b>End Date/Time</b>: @data.getEndDateTime()</li>
	</ul>
    <p class="buttons">
        <a href="@org.hadatac.console.controllers.deployments.routes.DeploymentManagement.index(State.ACTIVE)">Back to Deployment Management</a>
    </p>

}
