@(message  : String, 
  data     : org.hadatac.console.models.DeploymentForm,
  filename : String,
  da_uri   : String)

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.deployments._

@main(message) {
    <h4>@message</h4>
    
	<ul>
		<li><b>Platform</b>: @data.getPlatform()</li>
		<li><b>Instrument</b>: @data.getInstrument()</li>
		<li><b>Detector</b>: @data.getDetectors()</li>
		<li><b>Start Date/Time</b>: @data.getStartDateTime()</li>
		<li><b>End Date/Time</b>: @data.getEndDateTime()</li>
	</ul>

   @deploymentButton(false, filename, da_uri)
}
