@(oper     : org.hadatac.utils.State,
  dir      : String,
  filename : String,
  da_uri   : String,
  results  : List[org.hadatac.entity.pojo.Deployment])

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.utils._

@main("Deployment Management") {

    <h2>Deployment Management</h2>
    
    <h3>Management options</h3>

    <div class="container-fluid">
      <div class="row">
         <div class="navbar-collapse collapse navbar-secondary">
           @defining("") { filename => @defining("") { da_uri => 
 	          <a href="@org.hadatac.console.controllers.deployments.routes.DeploymentBrowser.index(dir, filename, da_uri)" class="btn-sm btn-primary disabled" role="button">Deployment Browser</a>
              @if(oper.getCurrent() == State.ACTIVE) { 
                 <a href="@org.hadatac.console.controllers.deployments.routes.DeploymentManagement.index(State.ACTIVE, dir, filename, da_uri)" class="btn-sm btn-warning disabled" role="button">Active Deployments</a>
              } else {
                 <a href="@org.hadatac.console.controllers.deployments.routes.DeploymentManagement.index(State.ACTIVE, dir, filename, da_uri)" class="btn-sm btn-primary" role="button">Active Deployments</a>
              }
              @if(oper.getCurrent() == State.CLOSED) {
       	         <a href="@org.hadatac.console.controllers.deployments.routes.DeploymentManagement.index(State.CLOSED, dir, filename, da_uri)" class="btn-sm btn-warning disabled" role="button">Closed Deployments</a>
       	      } else {
       	         <a href="@org.hadatac.console.controllers.deployments.routes.DeploymentManagement.index(State.CLOSED, dir, filename, da_uri)" class="btn-sm btn-primary" role="button">Closed Deployments</a>
       	      }
              <a href="@org.hadatac.console.controllers.deployments.routes.NewDeployment.index("regular", dir, filename, da_uri)" class="btn-sm btn-primary" role="button">Create Regular Deployment</a>
              <a href="@org.hadatac.console.controllers.deployments.routes.NewDeployment.index("legacy", dir, filename, da_uri)" class="btn-sm btn-primary" role="button">Create Legacy Deployment</a>
       	      <a href="@org.hadatac.console.controllers.metadata.empirical.routes.PlatformManagement.index(dir, filename, da_uri)" class="btn-sm btn-primary" role="button">Manage Platform</a>
       	      <a href="@org.hadatac.console.controllers.metadata.empirical.routes.InstrumentManagement.index(dir, filename, da_uri)" class="btn-sm btn-primary" role="button">Manage Instrument</a>
       	      <a href="@org.hadatac.console.controllers.deployments.routes.ResourceAvailability.index()" class="btn-sm btn-primary" role="button">Instrument/Detector Availability</a>
       	      <a href="@org.hadatac.console.controllers.deployments.routes.URIGenerator.index()" class="btn-sm btn-primary" role="button">Register URI Generator</a>
           }}
         </div>
      </div>
   </div>

   <hr>

   @if(oper.getCurrent() == State.ACTIVE) {   
      <h3>Active Deployments</h3>
   } else {
      @if(oper.getCurrent() == State.CLOSED) {   
         <h3>Closed Deployments</h3>
      } else {
          @if(oper.getCurrent() == State.ALL) {  
             <h3>All Deployments</h3>
          } 
      }
   }
   
    <div class="container-fluid">
        <table class="table">
            <thead>
                 <tr>
                    <th>Platform</th>
                    <th>Instrument</th>
                    <th>Start DateTime</th>
                    @if(oper.getCurrent() != State.ACTIVE) {
                        <th>End Date/Time</th>
                    }
                    <th>Operations</th>
                 </tr>
            </thead>
            <tbody>
              @for(deployment <- results){
                  @deployment_entry(oper, deployment)
              }
            </tbody>
        </table>
 
        @mainButton(false)

    </div>
 

}
