@(data : org.hadatac.console.models.DeploymentForm)

@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.deployments._

@main("New Deployment") {
    <h1>New Deployment:</h1>

	<ul>
		<li>@data.getPlatform()</li>
		<li>@data.getInstrument()</li>
		<li>@data.getDetector()</li>
		<li>@data.getStartDateTime()</li>
	</ul>
    <p class="buttons">
        <a href="@org.hadatac.console.controllers.deployments.routes.DeploymentManagement.index()">Back to Deployment Management</a>
    </p>

}
