@(deployForm: Form[org.hadatac.console.models.DeploymentForm], 
  thePlatforms : org.hadatac.console.models.SparqlQueryResults,
  theInstruments : org.hadatac.console.models.SparqlQueryResults,
  theDetectors : org.hadatac.console.models.SparqlQueryResults)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.views.html.deployments._
@import org.hadatac.console.controllers.deployments._
@import org.hadatac.console.controllers._

@main("New Deployment") {
  <div class="container">
    <h2>New Deployment</h2>

    <form class="form-horizontal" method="post" action="@org.hadatac.console.controllers.deployments.routes.NewDeployment.processForm">

    <div class="form-group">
         <label>Platform</label> 
         <select  class="form-control col-sm-6" name="platform">
            @for((k, triple) <- thePlatforms.sparqlResults){
               @defining(triple.generateID()) {itemID =>
                   @defining(triple.get("modelName").replaceAll("[\\W]|_", "")) {cleanName =>
                       <option value="@triple.get("platURI")">@triple.get("modelName") (@triple.get("sn"))</option>         
                }
              }
            }
         </select>

     </div>
	 <div class="form-group">
         <label>Instrument</label>
         <select class="form-control col-sm-6" name="instrument">
            @for((k, triple) <- theInstruments.sparqlResults){
               @defining(triple.generateID()) {itemID =>
                   @defining(triple.get("modelName").replaceAll("[\\W]|_", "")) {cleanName =>
                       <option value="@triple.get("instURI")">@triple.get("modelName") (@triple.get("sn"))</option>         
                }
              }
            }
         </select>
     </div>
	 <div class="form-group">
         <label>Detector(s)</label>
         <select class="form-control col-sm-6" name="detector">
            @for((k, triple) <- theDetectors.sparqlResults){
               @defining(triple.generateID()) {itemID =>
                   @defining(triple.get("modelName").replaceAll("[\\W]|_", "")) {cleanName =>
                       <option value="@triple.get("detURI")">@triple.get("modelName") (@triple.get("sn"))</option>         
                }
              }
            }
         </select>
     </div>
     
	 <div class="form-group">
         <label for="startdate">Start Date/Time</label><br> 
         <div class="container">
            <div class="row">
               <div class='col-sm-3'>
                 <div class="form-group">
                    <div class='input-group date' id='startdate'>
                       <input type='text' name="startDateTime" class="form-control" />
                       <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                       </span>
                    </div>
                 </div>
               </div>
               <script type="text/javascript">
                 $(function () {
                     $('#startdate').datetimepicker();
                 });
               </script>
            </div>
         </div>
     </div>

      <div class="form-group class="col-sm-6 col-offset-3">
          <input class="btn btn-success" role="button" type="submit" value="Create" />
          <a href="@org.hadatac.console.controllers.deployments.routes.DeploymentManagement.index()" class="btn btn-danger" role="button">Cancel</a>
      </div>
   </form>    
</div>

}
