@(data : org.hadatac.console.models.URIGeneratorForm)

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.deployments._

@main("URI Generator Registration") {
    <h1>New URI Generator:</h1>

	<ul>
		<li>@data.getOwnerURI()</li>
		<li>@data.getDescription()</li>
		<li>@data.getGeneratedID()</li>
		<li>@data.getDateTime()</li>
	</ul>

   (PUT THE CODE EXAMPLE)

	@defining("") { filename => @defining("") { da_uri => @deploymentButton(true, filename, da_uri) }}

}
