@(deployment      : org.hadatac.entity.pojo.Deployment,
  dataCollections : List[org.hadatac.entity.pojo.DataCollection])

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.console.controllers.deployments._

@main("View Deployment") {
    <link rel="stylesheet" href="http://openlayers.org/en/v3.9.0/css/ol.css">
    <script type="text/javascript" charset="utf-8" src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" charset="utf-8" src="@controllers.routes.Assets.versioned("javascripts/openLayersFunctions.js")"></script>

    <div class="row">
        <div class="col-md-6">
            <h1>View Deployment</h1>
            
            <h2>Basic Info</h2>
                <ul>
                    <li>URI: @deployment.getUri()</li>
                    <li>Platform: @deployment.platform.getLabel()</li>
                    <li>Instrument: @deployment.instrument.getLabel()</li>
                    <li>Start Date/Time: @deployment.getStartedAt()</li>
                    <li>End Date/Time: @deployment.getEndedAt()</li>
                </ul>

            <h2>Sensing Info</h2>
                <ul>
                   @for(detector <- deployment.detectors) {
                      <li>Detector: @detector.getLabel()</li>
                      <ul>
                         <li>Characteristic: </li>
                      </ul>   
                   }
                </ul>
        </div>

        <div class="col-md-6">
            <div class="row text-center">
                <div style="width:95%; height:500px" id="map"></div>
                @if(deployment.platform.getFirstCoordinate() != null && deployment.platform.getSecondCoordinate() != null) {
                    <script type="text/javascript">locations=["@deployment.platform.getFirstCoordinate()","@deployment.platform.getSecondCoordinate()"];createMap(locations);</script>
                }
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Employment's Data Collections</h2>
               <div class="container-fluid">
                 <table class="table">
                    <thead>
                      <tr>
                        <th>Triggering Event</th>
                        <th>Platform</th>
                        <th>Instrument</th>
                        <th>Start Date/Time</th>
                        <th>End Date/Time</th>
                        <th># of Data Points</th>
                      </tr>
                    </thead>
                    <tbody>
                       @for(dc <- dataCollections){
                          <tr>
                             <td>@dc.getTriggeringEventName()</td> 
                             <td>@dc.getPlatformName()</td> 
                             <td>@dc.getInstrumentModel()</td>
                             <td>@dc.getStartedAt()</td>
                             <td>@dc.getEndedAt()</td>
                          </tr>
                       }
                    </tbody>
                 </table>
               </div>
        </div>
    </div>

   @deploymentButton(true)
}
