@(triple : org.hadatac.console.models.TripleDocument)
@*****************************
  hasURI    | modelName
  rdfs:subClassOf   | superModelName
*****************************@

@defining(triple.get("modelName").replaceAll("[\\W]|_", "")) {itemID =>
<div class="panel-heading" role="tab" id="heading@itemID">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@itemID" aria-expanded="false" aria-controls="@itemID">
            @triple.get("modelName")</a></h4>
        
</div>
<div id="@itemID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@itemID">
    <div class="panel-body">
        <h4>@triple.get("modelName") </h4> 
    </div>
    <h4>Comment:</h4>
            @for(c <- triple.get("comment")) {
                <p>@c</p>
            }
</div>
}
