@(triple : org.hadatac.console.models.OtMTripleDocument)
  
@*****************************
  hasURI/label    | id (array[0])
  hasCharacteristic    | chara (array)
*****************************@

<div></div>
    <h3>@triple.get("id").get(0)</h3>
    @defining(triple.get("id").get(0)) {theuri =>
            <form>
                <input type="text" size="80" value="@theuri">
            </form>
    }
    <h4>Characteristics of this entity:</h4>
    @for(c <- triple.get("chara")) {
        <p>@c</p>
    }
</div>
<hr>