 @(selection : String)

 @import org.hadatac.console.controllers._
 
   <div class="navbar-collapse collapse navbar-secondary hidden-print">
       <div class="col-md-1">
       	   <button type="button" class="btn btn-link"><b>Study<br>Concepts</b></button>
       </div>
	   @if(selection == "Experiments") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadata.concepts.routes.Entity.index()" class="btn-xs btn-block btn-warning" role="button">Experiments<br>&nbsp;<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadata.concepts.routes.Entity.index()" class="btn-xs btn-block btn-primary" role="button">Experiments<br>&nbsp;<br>&nbsp;</a>
       	     </div>
       }
       @if(selection == "StudiesFacet") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadataacquisition.routes.MetadataAcquisition.index()" id="metadatafacet" class="btn-xs btn-block btn-warning disabled" role="button">Studies -<br>Faceted Browser<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadataacquisition.routes.MetadataAcquisition.index()" id="metadatafacet" class="btn-xs btn-block btn-primary disabled" role="button">Studies -<br>Faceted Browser<br>&nbsp;</a>
       	     </div>
       }
       @if(selection == "DataAcquisitionFacet") {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadataacquisition.routes.DataAcquisitionBrowser.index()" id="dataacquisitionfacet" class="btn-xs btn-block btn-warning disabled" role="button">Data Acquisition -<br>Faceted Browser<br>&nbsp;</a>
       	     </div>
       } else {
             <div class="col-md-1">
       		     <a href="@org.hadatac.console.controllers.metadataacquisition.routes.DataAcquisitionBrowser.index()" id="dataacquisitionfacet" class="btn-xs btn-block btn-primary disabled" role="button">Data Acquisition -<br>Faceted Browser<br>&nbsp;</a>
       	     </div>
       }
       
    </div>
    
    
        <script type="text/javascript">
        $( document ).ready(function() {
          var hasUser = ("@AuthApplication.getLocalUser(session())" != "");
          if (hasUser) {
              $('#metadatafacet').attr( 'class', 'btn btn-primary btn-block' );
              $('#dataacquisitionfacet').attr( 'class', 'btn btn-primary btn-block' );
          } else {
              $('#metadatafacet').attr( 'class', 'btn btn-primary btn-block disabled' );
              $('#dataacquisitionfacet').attr( 'class', 'btn btn-primary btn-block disabled' );
          }
        });
    </script>
