@(dir              : String,
  filename         : String,
  da_uri           : String,
  measurements     : String,
  minDate          : String,
  maxDate          : String)

@import org.hadatac.console.views.html._
@import org.hadatac.utils._
@import org.hadatac.entity.pojo._
@import play.api.Play._
@import java.net.URLEncoder

@main("Time Series Data Visualization") {

  <head>
	  <meta charset="utf-8">
	  <script src="https://d3js.org/d3.v4.min.js"></script>
	  <style>
	    body {
	      font-family:"avenir next", Arial, sans-serif;
	      font-size: 12px;
	      color: #696969;
	    }
	
	    #play-button {
	      position: absolute;
	      top: 140px;
	      left: 50px;
	      background: #f08080;
	      padding-right: 26px;
	      border-radius: 3px;
	      border: none;
	      color: white;
	      margin: 0;
	      padding: 0 12px;
	      width: 60px;
	      cursor: pointer;
	      height: 30px;
	    }
	
	    #play-button:hover {
	      background-color: #696969;
	    }    
	    
	    .ticks {
	      font-size: 10px;
	    }
	
	    .track,
	    .track-inset,
	    .track-overlay {
	      stroke-linecap: round;
	    }
	
	    .track {
	      stroke: #000;
	      stroke-opacity: 0.3;
	      stroke-width: 10px;
	    }
	
	    .track-inset {
	      stroke: #dcdcdc;
	      stroke-width: 8px;
	    }
	
	    .track-overlay {
	      pointer-events: stroke;
	      stroke-width: 50px;
	      stroke: transparent;
	      cursor: crosshair;
	    }
	
	    .handle {
	      fill: #fff;
	      stroke: #000;
	      stroke-opacity: 0.5;
	      stroke-width: 1.25px;
	    }
	  </style>
  </head>

  <body>
	<div class="row">
   		<div class="col-md-1">
   		</div>
   		<div class="col-md-11">
        	<h3>Time Series Data Visualization</h3>
        	<h4>25 by 20 TOF Image</h4>
        </div>
	</div>

	<!-- buttons --> 
    <div class="container-fluid">
       <div class="row">
    	 <div class="col-md-1">
   		 </div>
    	 <div class="col-md-11">
            <div class="navbar-collapse collapse navbar-secondary">
			  <a href="/hadatac/deployments/browser?dir=%2F&amp;filename=&amp;da_uri=&amp;plat_uri=&amp;prev_platUri=" class="btn-sm btn-primary" role="button">Back</a>
			</div>
         </div>
       </div>
	</div>
	
	<!-- Data Values -->
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-11">
		<div id="start_date_time"></div>
		<div id="end_date_time"></div>
		<div id="data_values"></div>
		</div>
	</div>

	<!-- main visualization -->
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-11">
		<div id="heat_map"></div>
		</div>
	</div>

	<!-- time slider with main javascript code -->
	<div class="row">
   		<div class="col-md-1">
   		</div>
   		<div class="col-md-11">
       		<div class="row text-center">
            <div id="vis">
  				<button id="play-button">Play</button>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">

	    let scale=$("#scale");
		scale.hide();
        var measurements = '@measurements';
		var jsonMeasurements = measurements.replace(/&quot;/g,'"');
		var obj = JSON.parse(jsonMeasurements);
        //alert(JSON.stringify(obj,null,'\t'));
		//alert(jsonMeasurements);
		
		//var formatDateIntoYear = d3.timeFormat("%Y");
		var formatDateIntoMinute = d3.timeFormat("%H:%M");
		var formatDate = d3.timeFormat("%x %X");
		//var parseDate = d3.timeParse("%m/%d/%y");

		var parseUTCDate = d3.utcParse("%Y-%m-%dT%H:%M:%S.%LZ");
		var formatUTCDate = d3.timeFormat("%Y-%m-%d");
		var parseDate = d3.timeParse("%Y-%m-%d");
		var formatDate2 = d3.timeFormat("%Y-%m-%dT%H:%M:%S.%L");
		
		//var startDate = new Date("2015-11-01"),
		//    endDate = new Date("2017-04-01");
		var startDate = new Date('@minDate'),
		    endDate = new Date('@maxDate');
		var startDateTimeDiv = document.getElementById('start_date_time');
		startDateTimeDiv.innerHTML = '<br><b>Start Date/Time</b>: ' + startDate + '<br>';
		var endDateTimeDiv = document.getElementById('end_date_time');
		endDateTimeDiv.innerHTML = '<b>End Date/Time</b>: ' + endDate + '<br>';
		
		//alert(startDate);
		//alert(formatDate(startDate));
		//alert(endDate);
		
		var margin_hm = {top:40, right:200, bottom:80, left:180},
		    width_hm = 960 - margin_hm.left - margin_hm.right,
	        height_hm = 400 - margin_hm.top - margin_hm.bottom;
	
		var heat_map = d3.select("#heat_map")
			.append("svg")
				.attr("width", width_hm + margin_hm.left + margin_hm.right)
				.attr("height", height_hm + margin_hm.top + margin_hm.bottom)
			.append("g")
				.attr("transform",
					  "translate(" + margin_hm.left + "," + margin_hm.top + ")");
		
		var margin_viz = {top:50, right:100, bottom:0, left:60},
		    width_viz = 960 - margin_viz.left - margin_viz.right,
		    height_viz = 250 - margin_viz.top - margin_viz.bottom;
		
		var time_viz = d3.select("#vis")
		    .append("svg")
		    .attr("width", width_viz + margin_viz.left + margin_viz.right)
		    .attr("height", height_viz + margin_viz.top + margin_viz.bottom);  
		
		////////// slider //////////
		
		var moving = false;
		var currentValue = 0;
		var targetValue = width_viz;
		
		var playButton = d3.select("#play-button");
		    
		var x = d3.scaleTime()
		    .domain([startDate, endDate])
		    .range([0, targetValue])
		    .clamp(true);
		
		var slider = time_viz.append("g")
		    .attr("class", "slider")
		    .attr("transform", "translate(" + margin_viz.left + "," + height_viz/5 + ")");
		
		slider.append("line")
		    .attr("class", "track")
		    .attr("x1", x.range()[0])
		    .attr("x2", x.range()[1])
		  .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
		    .attr("class", "track-inset")
		  .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
		    .attr("class", "track-overlay")
		    .call(d3.drag()
		        .on("start.interrupt", function() { slider.interrupt(); })
		        .on("start drag", function() {
		          currentValue = d3.event.x;
		          update(x.invert(currentValue)); 
		       })
		   );
		
		slider.insert("g", ".track-overlay")
		    .attr("class", "ticks")
		    .attr("transform", "translate(0," + 18 + ")")
		  .selectAll("text")
		    .data(x.ticks(10))
		    .enter()
		    .append("text")
		    .attr("x", x)
		    .attr("y", 10)
		    .attr("text-anchor", "middle")
		    .text(function(d) { return formatDateIntoMinute(d); });
		
		var handle = slider.insert("circle", ".track-overlay")
		    .attr("class", "handle")
		    .attr("r", 9);
		
		var label = slider.append("text")  
		    .attr("class", "label")
		    .attr("text-anchor", "middle")
		    .text(formatDate(startDate))
		    .attr("transform", "translate(0," + (-25) + ")");
						 
		////////// 25 by 20 Heat Map //////////

		// Labels of row and columns
		var columns = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25"]
		var rows = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20"]
		var valueStr = obj[0].value;
		var valueArrayStr = valueStr.replace(/;/g,',');
		var initImg = JSON.parse(valueArrayStr);
		
		// Build X scales and axis:
		var x_hm = d3.scaleBand()
		  .range([ 0, width_hm ])
		  .domain(columns)
		  .padding(0.01);
		heat_map.append("g")
		  .attr("transform", "translate(0," + height_hm + ")")
		  .call(d3.axisBottom(x_hm))

		// Build Y scales and axis:
		var y_hm = d3.scaleBand()
		  .range([ height_hm, 0 ])
		  .domain(rows)
		  .padding(0.01);
		heat_map.append("g")
		  .call(d3.axisLeft(y_hm));

		// Build color scale
		var tofColor = d3.scaleLinear()
		  .range(["white", "#69b3a2"])
		  .domain([1,2900])
		  
		var row = heat_map.selectAll(".row")
             .data(initImg)
           .enter().append("svg:g")
             .attr("class", "row");
		  
		var col = row.selectAll(".cell")
	       .data(function (d,i) { return d.map(function(a) { return {value: a, row: i}; } ) })
	           .enter().append("svg:rect")
	             .attr("class", "cell")
	             .attr("x", function(d, i) { return x_hm(i); })
	             .attr("y", function(d, i) { return y_hm(d.row); })
	             .attr("width", x_hm.bandwidth())
	             .attr("height", y_hm.bandwidth())
	             .style("fill", function(d) { return tofColor(2900 - d.value); });

		//heat_map.selectAll()
		//      .data(img, function (d, i, j) { return d; } )
		//      .enter()
		//      .append("rect")
		//      .attr("x", function(d, i, j) { return x_hm(i) })
		//      .attr("y", function(d, i, j) { return j ; })
		//      .attr("width", x_hm.bandwidth() )
		//      .attr("height", y_hm.bandwidth() )
		//      .style("fill", function(d, i, j) { return tofColor(2900 - d)} )
		
		////////// drawing heat map //////////

		drawHeatMap(startDate);
		
		for (item in obj) {
			//prepare(item);
			playButton
			  .on("click", function() {
				  var button = d3.select(this);
				  if (button.text() == "Pause") {
				    moving = false;
				    clearInterval(timer);
			        timer = 0;
				    button.text("Play");
				  } else {
				    moving = true;
				    timer = setInterval(step, 100);
				    button.text("Pause");
				  }
				  console.log("Slider moving: " + moving);
			 });
		}
		
		//function prepare(d) {
		//  d.id = d.value;
		//  d.date = parseDate(formatUTCDate(parseUTCDate(d.date)));
		// return d;
		//}
		  
		function step() {
		   update(x.invert(currentValue));
		   currentValue = currentValue + (targetValue/151);
		  if (currentValue > targetValue) {
		      moving = false;
		      currentValue = 0;
		      clearInterval(timer);
		      timer = 0;
		      playButton.text("Play");
		      console.log("Slider moving: " + moving);
		   }
		}
		
		function drawHeatMap(h) {
			// format given date parameter h coming from the time slider
			var requestH = formatDate2(h);

			// select from h the corresponding array of values
			var div = document.getElementById('data_values');
			var valueStr = "";
			var valuesArray;
			for (var i = obj.length - 1; i >= 0; i--) {
				if (obj[i].date <= requestH) {
					valueStr = obj[i].value;
					valueArrayStr = valueStr.replace(/;/g,',');
					valuesArray = JSON.parse(valueArrayStr);
					//div.innerHTML = '<b>Data values</b>: ' + valuesArray + '<br><br>';
					break;
				}
			}
			
			// update heat map's svg (colors) from current array of values
			if (valuesArray != null && valuesArray.length > 0) {
				heat_map.selectAll(".cell")
					.data(valuesArray)
					.transition()
					.style("fill", function(d, i) { return tofColor(2900 - d.value)} );
			}
			
		}
		
		function update(h) {
		    // update position and text of label according to slider scale
		    handle.attr("cx", x(h));
		    label
		       .attr("x", x(h))
		       .text(formatDate(h));
		  
		    drawHeatMap(h);
		}
	</script>

  </body>
}