@(oper: String)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.triplestore._
@import org.hadatac.data.loader._
@import org.hadatac.metadata.loader._
@import org.hadatac.utils._
@import java.net._
@import play._

@main("Repository Management") {
 
    <div class="container-fluid">
      
      <div class="row">

        <div class="col-md-8 col-md-offset-1">

	     <h3>Repository Management</h3>

             @if(oper=="init") {

                 <p>HADatAc is composed of a data repository, a metadata repository, and a security repository. This page provides essential functionalities for
                 verifying the status and managing these three repositories.<br><br></p>
 
                 <h4>Configuration</h4>
                 <div id="rcorners">  
		      SOLR Home: <b><font color="blue">@Play.application().configuration().getString("hadatac.solr.home")</font></b> <br>
                      Base Ontology: <b><font color="blue">@Play.application().configuration().getString("hadatac.community.ont_prefix")</font></b> <br>
                 </div>

		 <br>
                      
                 <h4>Data Repository</h4>
                 <div id="rcorners">  
                     Status: 
                     @if(Repository.operational(Repository.DATA)) {
                         <b><font color="green">OPERATIONAL</font></b> 
                         <br>    		
                         Data Acquisitions:  <b>@DataContext.playTotalDataAcquisitions() documents.</b>  Data Content:  <b>@DataContext.playTotalMeasurements() documents.</b>
                     } else {
                         <b><font color="red">DOWN</font></b>
                     }
                     <br><br>
 
                     <div id="question-box">
                         <a href="@org.hadatac.console.controllers.triplestore.routes.Clean.clean("collections")" class="btn btn-primary" role="button">Clean Data Acquisitions</a>
                         <a href="@org.hadatac.console.controllers.triplestore.routes.Clean.clean("acquisitions")" class="btn btn-primary" role="button">Clean Data</a>
                     </div>
                 </div>

                 <hr>
                 
                 <h4>Metadata Repository</h4>
                 <div id="rcorners">  
                     Status: 
                     @if(Repository.operational(Repository.METADATA)) {
                         <b><font color="green">OPERATIONAL</font></b>
                         <br>
                         Metadata Content:  <b>@MetadataContext.playTotalTriples() triples.</b> User Graph Content:  <b>@PermissionsContext.playTotalTriples() triples.</b>
                     } else {
                         <b><font color="red">DOWN</font></b>
                     } 
                     <br><br>

                     <div id="question-box">
                         <a href="@org.hadatac.console.controllers.triplestore.routes.Clean.clean("metadata")" class="btn btn-primary" role="button">Clean Metadata</a>
                         <!-- <a href="@org.hadatac.console.controllers.triplestore.routes.Clean.clean("usergraph")" class="btn btn-primary" role="button">Clean User Graph</a>  -->
                     </div>
                 </div>

                 <hr>
                 
             }

         <p  style='font-family: "Lucida Console", Monaco, monospace;' id='msgarea'></p>
         
           <div id="end-process-box" style="display:none;">
                  <h4>Clean complete -- check the results above to see if the clean was successful.</h4>
                  <a href="@org.hadatac.console.controllers.triplestore.routes.Clean.clean("init")" class="btn btn-warning" role="button">Back to Repository Management</a>
	       </div>

	     @if((oper=="collections") || (oper=="acquisitions") || (oper=="metadata") || (oper=="usergraph")) {
                <script> 
                    var msg = "@Clean.playClean(oper)";
                    $('#msgarea').html(msg.replace(/&lt;br&gt;/g, '<br>'));
                    document.getElementById('end-process-box').style.display = 'inline';
                </script>
	     }
	     
         @if(oper=="doneOk") {
              <h4>Repository operation successfully requested.</h4>
              <a href="@org.hadatac.console.controllers.triplestore.routes.Clean.clean("init")" class="btn btn-warning" role="button">Back to Repository Management</a>
         }

         @if(oper=="doneNotOk") {
              <h4>Repository operation failed.</h4>
              <a href="@org.hadatac.console.controllers.triplestore.routes.Clean.clean("init")" class="btn btn-warning" role="button">Back to Repository Management</a>
         }

         @if(oper=="init") {

             <br>
             <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-warning" role="button">Back to Main Menu</a>
             
         }

	   </div>

      </div>

    </div>

}
   
