@(oper: String,
  theGroups: List[org.hadatac.entity.pojo.User],
  user: org.hadatac.entity.pojo.User)

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._

@main("Edit Preregistered User") {

	<script type="text/javascript">
		function checkform() {
    		var cansubmit = true;
    		if (document.getElementById('usr_uri').value.length == 0) {
		        cansubmit = false;
    		}
    		if (document.getElementById('given_name').value.length == 0) {
        		cansubmit = false;
    		}
    		if (document.getElementById('family_name').value.length == 0) {
        		cansubmit = false;
    		}
    		if (document.getElementById('email').value.length == 0) {
        		cansubmit = false;
    		}

		    if (cansubmit) {
       			document.getElementById('submitbutton').disabled = false;
    		} else {
        		document.getElementById('submitbutton').disabled = 'disabled';
    		}
 		}
	</script>

  <div class="container">

    <form class="form-horizontal" name="newUser" method="post" action="@org.hadatac.console.controllers.triplestore.routes.UserManagement.submitPreRegistrationForm("load_users")">
  		<div class="form-group">
  			<label for="usr_uri">User URI:*</label>
  			<input type="text" value="@user.getUri()" class="form-control" name="usr_uri" id="usr_uri" onchange="checkform()" >
 		</div>
 		
		<div class="form-group">
			<label for="given_name">Given Name:*</label>
			<input type="text" value="@user.getGivenName()" class="form-control" name="given_name" id="given_name" onchange="checkform()" >
		</div>
		
		<div class="form-group">
  			<label for="family_name">Family Name:*</label>
  			<input type="text" value="@user.getFamilyName()" class="form-control" name="family_name" id="family_name" onchange="checkform()" >
 		</div>
 		
		<div class="form-group">
			<label for="email">Email Address:*</label>
			<input type="text" value="@user.getEmail()" class="form-control" name="email" id="email" onchange="checkform()" >
		</div>
		
		<div class="form-group">
			<label for="comment">Comment:</label>
  			<input type="text" value="@user.getComment()" class="form-control" name="comment" id="comment" >
		</div>
		
		<div class="form-group">
			<label for="homepage">Homepage:</label>
			<input type="text" value="@user.getHomepage()" class="form-control" name="homepage" id="homepage"" >
		</div>
		
		<div class="form-group">
			<label for="group_uri">Access Level: </label>
  			<select class="form-control col-sm-6" id="group_uri" name="group_uri" >
  				<option value="Public">Public</option>
            	@for(group <- theGroups){
              		@if(group.getUri().equals(user.getImmediateGroupUri())){
              	 		<option selected value="@group.getUri()">@group.getName()</option>
              	 	}
              	 	else{
              	 		<option value="@group.getUri()">@group.getName()</option>
              	 	}
                }
            </select>
		</div>
  		
     	<div class="form-group" class="col-sm-6 col-offset-3">
        	<input class="btn btn-success" role="button" id="submitbutton" type="submit" value="Submit" />
     	</div>
   	</form>    
  </div>
}
