@(unprocessedFiles : List[org.hadatac.entity.pojo.CSVFile], 
  processedFiles : List[org.hadatac.entity.pojo.CSVFile])

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.annotator._
@import org.hadatac.metadata.loader._
@import java.net._

@main("File Management") {
	
	<script type="text/javascript">
    function checkform() {
    	if(document.getElementById('upload').value != "") {
             document.getElementById('submitMessage').style.display = 'inline';
	    }
    }    
    </script>
    
    <div class="container-fluid">
	
	<div class="container-fluid">
	<table class="table">
	<thead>
         <tr>
            <th>Processed CSV Files</th>
            <th>Owner Email</th>
            <th>Time Uploaded</th>
            <th>Time Processed</th>
            <th>Operations</th>
         </tr>
    </thead>
    <tbody>
    	@for(file <- processedFiles){
    		<tr>
    			<td>@file.getFileName()</td>
    			<td>@file.getOwnerEmail()</td>
    			<td>@file.getUploadTime()</td>
    			<td>@file.getProcessTime()</td>
    			<td>
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.moveCSVFile(file.getFileName())" class="btn-xs btn-primary" role="button">Move to Unprocessed Folder</a>
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.checkAnnotationLog(file.getFileName())" class="btn-xs btn-primary" role="button">Logs</a>
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadCSVFile(file.getFileName(), true)" class="btn-xs btn-primary" role="button">Download</a>
    			</td>
    		</tr>
    	}
    </tbody>
    </table>
    
    <br>
    
	<table class="table">
	<thead>
         <tr>
            <th>Unprocessed CSV Files</th>
            <th>Owner Email</th>
            <th>Time Uploaded</th>
            <th>Operations</th>
         </tr>
    </thead>
    <tbody>
    	@for(file <- unprocessedFiles){
    		<tr>
    			<td>@file.getFileName()</td>
    			<td>@file.getOwnerEmail()</td>
    			<td>@file.getUploadTime()</td>
    			<td>
    			@if(file.getOwnerEmail == "") {
    			   <a href="@org.hadatac.console.controllers.triplestore.routes.FileManagement.assignFileOwner(file.getFileName())" class="btn-xs btn-primary" role="button">Assign Owner</a>
    			}
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.checkAnnotationLog(file.getFileName())" class="btn-xs btn-primary" role="button">Logs</a>
    			<a href="@org.hadatac.console.controllers.annotator.routes.AutoAnnotator.downloadCSVFile(file.getFileName(), false)" class="btn-xs btn-primary" role="button">Download</a>
    			</td>	
    		</tr>
    	}
    </tbody>
    </table>
    </div>
	
    <br><br>
    <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-primary" role="button">Back to Main Page</a>
	</div>
}
