@(folder : String,
  content : String,
  metadata_list_names : List[String],
  instance_data_list_names : List[String])

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.triplestore._
@import org.hadatac.metadata.loader._
@import java.net._

@main("LabKey List") {
	
	<script type="text/javascript">
		function toggleAll(source) {
			var names = [];
			@if(instance_data_list_names != null) {
	        	@for(id <- instance_data_list_names) {
	        		names.push('@id');
	           }
	        }
	        var i;
			for(i = 0; i < names.length; i++){
				document.getElementById(names[i]).checked = source.checked;
			}
	 	}
	</script>
	
    <div class="container-fluid">
    	@if(instance_data_list_names != null){
        <table class="table">
        	<thead>
                 <tr>
                    <th>Data Acquisition List</th>
                 </tr>
            </thead>
            <tbody>
            	@for(list_name <- instance_data_list_names){
            		@if(list_name == "DataAcquisition") {
            			<tr>
            				<td>@list_name</td>
            			</tr>
            		}
            	}
            </tbody>
        </table>
        
        <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.playLoadLabkeyDataAcquisition("load", content, folder, "")" class="btn btn-primary" role="button">Load Data Acquisition</a>
        }
        
        @if(metadata_list_names != null){
   		<table class="table">
        	<thead>
                 <tr>
                    <th>Metadata List Name</th>
                 </tr>
            </thead>
            <tbody>
            	@for(list_name <- metadata_list_names){
            		<tr>
            			<td>@if(list_name != null) { @list_name }</td>
            		</tr>
            	}
            </tbody>
        </table>
        
        <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.playLoadLabkeyKB("load", content, folder, metadata_list_names)" class="btn btn-primary" role="button">Batch Loading Concepts</a>
        <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.playLoadLabkeyFolders("init", content)" class="btn btn-primary" role="button">Back</a>
        }
        
        @if(instance_data_list_names != null){
        <form class="form-horizontal" name="loading" method="post" action="@org.hadatac.console.controllers.triplestore.routes.LoadKB.playLoadLabkeyKB("load_instance_data", content, folder, instance_data_list_names)" >
	        <table class="table">
	        	<thead>
	                 <tr>
	                    <th>Instance Data List Name</th>
	                    <th>
	                    	<label>
	                    		<input type="checkbox" id="select_all" onchange="toggleAll(this)" > Select All
	                    	</label>
	                    </th>
	                 </tr>
	            </thead>
	            <tbody>
	              @for(list_name <- instance_data_list_names){
	              		@labkeyList_entry(folder, list_name) 
	              }
	            </tbody>
	        </table>
	        <input class="btn btn-primary" role="button" id="submitbutton" type="submit" value="Batch Loading Selected Instance Data" />
	        <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.playLoadLabkeyFolders("init", content)" class="btn btn-primary" role="button">Back</a>
        </form>
		}
	</div>
}
