@(labkeyLoginForm : org.hadatac.console.models.LabKeyLoginForm,
  results : List[String])

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.triplestore._
@import org.hadatac.metadata.loader._
@import java.net._

@main("LabKey List") {

     <div class="container-fluid">
        <table class="table">
            <thead>
                 <tr>
                    <th>Folder</th>
                    <th>Operations</th>
                 </tr>
            </thead>
            <tbody>
              @for(folder_name <- results){
                  @labkeyFolder_entry(labkeyLoginForm, folder_name)
              }
            </tbody>
        </table>
 
        <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.loadLabkeyKB("init")" class="btn btn-warning" role="button">Back</a>

    </div>
}
