@(labkeyLoginForm : org.hadatac.console.models.LabKeyLoginForm,
  results : List[String],
  content : String)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.triplestore._
@import org.hadatac.metadata.loader._
@import java.net._

@main("LabKey List") {

     <div class="container-fluid">
        <table class="table">
            <thead>
                 <tr>
                    <th>Folder</th>
                    <th>Operations</th>
                 </tr>
            </thead>
            <tbody>
              @for(folder_name <- results){
                  @labkeyFolder_entry(labkeyLoginForm, folder_name, content)
              }
            </tbody>
        </table>

        <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.loadLabkeyKB("init", content)" class="btn btn-primary" role="button">Back</a>
        @if(content=="diff_tool"){
        	<a href="@org.hadatac.console.controllers.triplestore.routes.DiffTool.index(labkeyLoginForm)" class="btn-xs btn-primary" role="button">Submit</a>
        }
    </div>
}
