@(results : List[String],
  content : String)
  
@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.triplestore._
@import org.hadatac.metadata.loader._
@import java.net._
@import scala.collection.mutable.ListBuffer

@main("LabKey List") {

	<script>
		function myFunction() {
			if(document.getElementByID("submitbutton").value == "Submit"){
				alert("WEEEEE");
			}
		    //alert("Hello! I am an alert box!");
		    alert("Hello! I am an alert box!");
		    var valued = document.querySelectorAll('input[type="checkbox"]:checked').‌​length;
		    alert(valued);
		}
	</script>

	<div class="container-fluid">

	@if(content=="diff_tool"){
		<form class="form-horizontal" name="diff_form_load" method="post" action="@org.hadatac.console.controllers.triplestore.routes.DiffTool.index()">
			<table class="table">
				<thead>
		             <tr>
		                <th>Folder</th>
		                <th>Difference Selection</th>
		             </tr>
		        </thead>
		        <tbody>
		        	<p>Please check the two projects you would like to compare</p>

					@for(list_name <- results){
	              		@labkeyList_entry(list_name, list_name) 
	              	}
		        </tbody>
	        </table>

	        <br><br><br>
	        <input class="btn btn-primary" role="button" id="submitbutton" type="submit" value="Submit" onclick="myFunction()" />
	        <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.loadLabkeyKB("init", content)" class="btn btn-primary" role="button">Back</a>
	    </form>

	} else{

		<table class="table">
			<thead>
	             <tr>
	                <th>Folder</th>
	                <th>Operations</th>
	             </tr>
	        </thead>
	        <tbody>
	        	@for(folder_name <- results){
		             @labkeyFolder_entry(folder_name, content)
		        }
	        </tbody>
        </table>

        <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.loadLabkeyKB("init", content)" class="btn btn-primary" role="button">Back</a>
	}

	<!--
        <table class="table">
			<thead>
	             <tr>
	                <th>Folder</th>
	                <th>Operations</th>
	             </tr>
	        </thead>
	        <tbody>
			@if(content=="diff_tool"){
			
				<form class="form-horizontal" name="diff_form_load" method="post" action="@org.hadatac.console.controllers.triplestore.routes.DiffTool.index()">
					<p>Please check the two projects you would like to compare</p>

					@for(list_name <- results){
	              		@labkeyList_entry(list_name, list_name) 
	              	}
	              	
	              	<input class="btn btn-primary" role="button" id="submitbutton" type="submit" value="Submit" />
				</form>
		    } else {
		        @for(folder_name <- results){
		             @labkeyFolder_entry(folder_name, content)
		        }
		    }
            </tbody>
        </table>


        <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.loadLabkeyKB("init", content)" class="btn btn-primary" role="button">Back</a>
        -->
    </div>
}
