@(user : org.hadatac.entity.pojo.User)

@import java.net._

<tr>
   	<td>@user.getName()</td> 
   	<td>@user.getUri()</td> 
   	<td>@user.getImmediateGroupUri()</td>
   	<td>
      	<a href="@org.hadatac.console.controllers.triplestore.routes.UserManagement.editGroup(URLEncoder.encode(user.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Edit</a>
      	<a href="@org.hadatac.console.controllers.triplestore.routes.UserManagement.deleteUser(URLEncoder.encode(user.getUri(),"UTF-8"), false, false)" class="btn-xs btn-primary" role="button">Delete</a>
   	</td>
</tr>
