@(folder_name : String,
  oper : String,
  content : String,
  result : String)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.triplestore._
@import org.hadatac.metadata.loader._
@import org.hadatac.console.models.LabKeyLoginForm
@import java.net._

@main("Load Facts from LabKey into Metadata Store") {

     <div class="container-fluid">
      
      <div class="row">

        <div class="col-md-8 col-md-offset-1">
        
             <p style='font-family: "Lucida Console", Monaco, monospace;' id='msgarea'></p>
         
             <div id="end-process-box" style="display:none;">
                  <h4>Operation [@oper] complete -- check the results above to see if the parsing of the facts was successful.</h4>
	         </div>

             <script type="text/javascript">
             	var msg = "@result";
                var msg2 = decodeURIComponent(msg).replace(/\+/g, '&nbsp;');
                $('#msgarea').html(msg2.replace(/&lt;br&gt;/g, '<br>'));
                document.getElementById('end-process-box').style.display = 'inline';
             </script>

             <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.playLoadLabkeyLists(folder_name, content)" class="btn btn-warning" role="button">Back</a>

	   </div>

      </div>

    </div>
}
