@(message : String, userName:String)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.triplestore._
@import org.hadatac.metadata.loader._
@import java.net._

@main("Create in-memory data model","",userName) {

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-8 col-md-offset-1">
            <h4>@message</h4>
            <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-warning" role="button">Back to Main Page</a>
            </div>
        </div>

    </div>

}