@(oper: String)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.triplestore._
@import org.hadatac.metadata.loader._
@import java.net._

@main("Load Ontologies into Metadata Store") {
 
    <div class="container-fluid">
      
      <didv class="row">

        <div class="col-md-8 col-md-offset-1">

	     <h4>Loading ontologies into HADataC's metadata store...</h4>
        
             @if(oper=="init") {
                 The metadata store has @MetadataContext.playTotalTriples() triples. <br>

                 <div id="question-box">
                     Are your sure you want to load associated ontologies? 
                     <a href="@org.hadatac.console.controllers.triplestore.routes.LoadOnt.loadOnt("confirmed")" class="btn btn-success" role="button">Confirm</a>
                     <a href="@org.hadatac.console.controllers.triplestore.routes.LoadOnt.loadOnt("cancelled")" class="btn btn-danger" role="button">Cancel</a>
                 </div>
             }
             
         <p style='font-family: "Lucida Console", Monaco, monospace;' id='msgarea'></p>
         
             @if(oper=="cancelled") {
                <div id="cancel-box">
                   <h4>Load Ontologies has been cancelled.</h4>
                   Press OK button to return to HADataC's main page <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-warning" role="button">Ok</a>
	        </div>
             }

             
           <div id="end-process-box" style="display:none;">
                  <h4>Load Ontologies complete -- check the results above to see if the clean was successful.</h4>
                  Press OK button to return to HADataC's main page <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-warning" role="button">Ok</a>
	       </div>

	     @if(oper=="confirmed") {
                <script> 
                    var msg = "@LoadOnt.playLoadOntologies()";
                    $('#msgarea').html(msg.replace(/&lt;br&gt;/g, '<br>'));
                    document.getElementById('end-process-box').style.display = 'inline';
                </script>
	     }

	   </div>

      </div>

    </div>

}
   
