@(oper: String, message : String)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.triplestore._
@import org.hadatac.metadata.loader._
@import java.net._

@main("Load Facts into Metadata Store") {
 
    <div class="container-fluid">
      
      <div class="row">

        <div class="col-md-8 col-md-offset-1">

	     <h4>Load facts into metadata store...</h4>
        
             @if(oper=="init") {
                 The metadata store has @MetadataContext.playTotalTriples() triples. <br>


              <form name="fileUploadForm" method="POST" enctype="multipart/form-data" action="@org.hadatac.console.controllers.triplestore.routes.LoadKB.uploadFile()">
                     <input type="file" class="btn btn-info" name="pic">
                     Are your sure you want to parse and load facts from the spreadsheet into the metadata store?
                     <input type="submit" class="btn btn-success" value="Confirm">
                     <a href="@org.hadatac.console.controllers.triplestore.routes.LoadKB.loadKB("cancelled")" class="btn btn-danger" role="button">Cancel</a>
              </form>
            }

             <p  style='font-family: "Lucida Console", Monaco, monospace;' id='msgarea'></p>
         
             @if(oper=="cancelled") {
                <div id="cancel-box">
                   <h4>Operation [Load Facts] has been cancelled.</h4>
                   Press OK button to return to HADataC's main page <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-warning" role="button">Ok</a>
	        </div>
             }

             
           <div id="end-process-box" style="display:none;">
                  <h4>Operation [Load Facts] complete -- check the results above to see if the clean was successful.</h4>
                  Press OK button to return to HADataC's main page <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-warning" role="button">Ok</a>
	       </div>

     	     @if(oper=="loaded") {
                 <script> 
                       var msg = "@LoadKB.playLoadKB()";
                       $('#msgarea').html(msg.replace(/&lt;br&gt;/g, '<br>'));
                       document.getElementById('end-process-box').style.display = 'inline';
                 </script> 
              }

              <h4>Spreadsheet Templates:</h4>

              Use the templates below to create metadata for your
              scientific activities. A single spreadsheet may be used
              to record needed metadata.

              <ul>
                <li><a href='@controllers.routes.Assets.versioned("example/metadata/templates/HASNetO-Template-Full.xlsx")'>Full Spreadsheet</a></li>
              </ul> 

              Alternatively, the three complementary spreadsheets listed below may be
              used to record needed metadata. It is recommended that the these spreadsheets are used and populated
              into HADataC following the order in the list below.

              <ul>
                 <li><a href='@controllers.routes.Assets.versioned("example/metadata/templates/HASNetO-Template-Agents.xlsx")'>Agent Spreadsheet</a> - Used to create agents (including users) and organizations</li>
                 <li><a href='@controllers.routes.Assets.versioned("example/metadata/templates/HASNetO-Template-Classes.xlsx")'>Classes Spreadsheet</a> - Used to specialize classes of the family of Human-Aware Science Ontologies.</li>
                 <li><a href='@controllers.routes.Assets.versioned("example/metadata/templates/HASNetO-Template-Instances.xlsx")'>Instances Spreadsheet</a> - Used to create instances of registered classes</li>
              </ul>

              These are the Instructions on how to use the templates.

              <h4>Spreadsheet Examples:</h4>

              <ul>
                 <li>Agent Spreadsheet</li>
                 <li>Classes Spreadsheet</li>
                 <li>Instances Spreadsheet</li>
              </ul>

	   </div>

      </div>

    </div>

}
