@()

@import org.hadatac.console.views.html._

@main("Users Pre-Registration","","") {
 
    <div class="container-fluid">
      
      <div class="row">

        <div class="col-md-8 col-md-offset-1">

        <h4>Your email is not Pre-Registered!</h4>
   
        <p><b>Explanation</b>: The email that you provided is not in the list of user emails pre-approved to 
        log into HADatAc as <i>org.hadatac.data owners</i>. Once your email address has been added to the list of pre-approved
        users, it is said that you are <i>pre-registered</i> with HADatAc as a <i>org.hadatac.data owner</i>. </p>
   
        <p><b>How to proceed</b>: HADatAc administrators are responsible for user pre-registration. Please 
        contact your HADatAc administrator and ask to be pre-registered. Please make sure that you have been
        pre-registered before you try to sign-up again.</p>

        Press OK button to return to HADataC's main page <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-warning" role="button">Ok</a>

	    </div>
	    
	  </div>
	  
   </div>

}
