@(oper: String,
  theGroups: List[org.hadatac.entity.pojo.User])

@import helper._
@import org.hadatac.utils._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers._

@main("Add Preregistered User") {

	<script type="text/javascript">
		function checkform() {
    		var cansubmit = true;
    		if (document.getElementById('group_uri').value.length == 0) {
		        cansubmit = false;
    		}
    		if (document.getElementById('group_name').value.length == 0) {
        		cansubmit = false;
    		}

		    if (cansubmit) {
       			document.getElementById('submitbutton').disabled = false;
    		} else {
        		document.getElementById('submitbutton').disabled = 'disabled';
    		}
 		}
	</script>

  <div class="container">

    <form class="form-horizontal" name="newGroup" method="post" action="@org.hadatac.console.controllers.triplestore.routes.UserManagement.submitPreRegistrationForm("load_groups")">
  		<div class="form-group">
  			<label for="group_uri">Acess Level URI:*</label>
 			<input type="text" class="form-control" name="group_uri" id="group_uri" onchange="checkform()" >
 		</div>
 		
		<div class="form-group">
			<label for="group_name">Acess Level Name:*</label>
  			<input type="text" class="form-control" name="group_name" id="group_name" onchange="checkform()" >
		</div>
		
		<div class="form-group">
			<label for="comment">Comment:</label>
  			<input type="text" class="form-control" name="comment" id="comment" >
		</div>
		
		<div class="form-group">
			<label for="homepage">Homepage:</label>
  			<input type="text" class="form-control" name="homepage" id="homepage"" >
		</div>
		
  		<div class="form-group">
			<label for="parent_group_uri">Parent Access Level: </label>
  			<select class="form-control col-sm-6" id="parent_group_uri" name="parent_group_uri" >
  				<option value="Public">Public</option>
  				@for(group <- theGroups){
              		<option value="@group.getUri()">@group.getName()</option>
                }
            </select>
		</div>
  		
     	<div class="form-group" class="col-sm-6 col-offset-3">
        	<input class="btn btn-success" role="button" id="submitbutton" type="submit" value="Create" disabled="disabled" />
     	</div>
   	</form>    
  </div>
}
