@(user : org.hadatac.entity.pojo.User)

@import java.net._

<tr>
   	<td>@user.getName()</td> 
   	<td>@user.getUri()</td> 
   	<td>@if(user.getImmediateGroupUri().equals("Public")) {
   		Public
   	} else {
   		@if(org.hadatac.entity.pojo.UserGroup.find(user.getImmediateGroupUri()) != null) { 
   			@org.hadatac.entity.pojo.UserGroup.find(user.getImmediateGroupUri()).getName() 
   		} else {
   			null
   		}
   	}
   	</td>
   	<td>@if(user.isAdministrator()) { YES } else { NO }</td>
   	<td>@if(user.isValidated()) { Validated } else { Pending }</td>
   	<td>
    	@if(user.isAdministrator()) {
        	<a href="@org.hadatac.console.controllers.triplestore.routes.UserManagement.revokeAdminPermission(URLEncoder.encode(user.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Revoke Admin</a>
      	} else {
        	<a href="@org.hadatac.console.controllers.triplestore.routes.UserManagement.grantAdminPermission(URLEncoder.encode(user.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Grant Admin</a>
      	}
      	<a href="@org.hadatac.console.controllers.triplestore.routes.UserManagement.editUser(URLEncoder.encode(user.getUri(),"UTF-8"))" class="btn-xs btn-primary" role="button">Edit</a>
      	<a href="@org.hadatac.console.controllers.triplestore.routes.UserManagement.deleteUser(URLEncoder.encode(user.getUri(),"UTF-8"), true, true)" class="btn-xs btn-primary" role="button">Delete</a>
      	<a href="@org.hadatac.console.controllers.triplestore.routes.UserManagement.sendInvitationEmail(user.getGivenName(), user.getEmail())" class="btn-xs btn-primary" role="button">Send Validation Email</a>
   	</td>
</tr>
