@(oper: String, 
  message : String, 
  users: List[org.hadatac.entity.pojo.User],
  source: String)

@import helper._
@import org.hadatac.console.views.html._
@import org.hadatac.console.controllers.triplestore._
@import org.hadatac.metadata.loader._
@import java.net._

@main("Users Pre-Registration") {
 
     <script>
        function checkform() {
            if(document.getElementById('upload').value != "") {
                 document.getElementById('submitMessage').style.display = 'inline';
		    }
	    }
     </script>

    <div class="container-fluid">
      
        @if(oper=="init") {

            <div class="row">
                 <div class="col-md-1"></div>
                 <div class="col-md-3 col-xs-2">
                     <h3>Permission Management</h3>
                     The metadata store has @PermissionsContext.playTotalTriples() triples. <br>
                 </div>
            </div>
            <div class="row">
                 <div class="col-md-1"></div>
                 <div class="col-md-3">
                    <h4>Options</h4>
                 </div>
            </div>
            <div class="row">

                 <div class="col-md-1"></div>
        
                 <div class="col-md-3 col-xs-2">
                      <div id="rcorners">
                          <form name="fileUploadForm" id='upload' method="POST" enctype="multipart/form-data" action="@org.hadatac.console.controllers.triplestore.routes.UserManagement.uploadFile()" onchange='checkform()' >
                             <b>Batch User Pre-Registration</b> <input type="file" class="btn btn-info" name="pic">
                             <div id='submitMessage'  style="display:none;" >
                                 <input type="submit" class="btn btn-success" value="Parse and Load Users">
                             </div>
                          </form>
                      </div>
                 </div>
                 <div class="col-md-3 col-xs-2">
                      <a href="@org.hadatac.console.controllers.triplestore.routes.UserManagement.onLinePreRegistration("init")" class="btn btn-block btn-primary" role="button">On-Line User Pre-Registration</a>
                 </div>
                 <div class="col-md-3 col-xs-2">
                      <a href="@org.hadatac.console.controllers.triplestore.routes.UserNetwork.index()" class="btn btn-block btn-primary" role="button">User Network</a>
                 </div>
 	        </div>
       }

        <p  style='font-family: "Lucida Console", Monaco, monospace;' id='msgarea'></p>
         
        <div id="end-process-box" style="display:none;">
            <h4>Operation [User Pre-Registration] complete -- check the results above to see if the clean was successful.</h4>
            <a href="@org.hadatac.console.controllers.triplestore.routes.UserManagement.preRegistration("init")" class="btn btn-warning" role="button">Back to Manage Users</a>
	    </div>

     	@if(oper=="loaded") {
            <script> 
                var msg = "@UserManagement.commitPreRegistration(source)";
                $('#msgarea').html(msg.replace(/&lt;br&gt;/g, '<br>'));
                document.getElementById('end-process-box').style.display = 'inline';
            </script> 
        }

      </div>
    </div>

    @if(oper=="init") {
        <div class="row">
             <div class="col-md-1"></div>
             <div class="col-md-3">
                <h4>User List</h4>
             </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">                  
                  <table class="table">
                    <thead>
                       <tr>
                          <th>User Name</th>
                          <th>URI</th>
                          <th>Group</th>
                          <th>Admin</th>
                          <th>Operations</th>
                       </tr>
                    </thead>
                    <tbody>
                       @for((user) <- users){
                          @user_entry(user)
                       }
                    </tbody>
                  </table>
                  <br><br>
                  <a href="@org.hadatac.console.controllers.routes.Portal.index()" class="btn btn-warning" role="button">Back to Main Menu</a>
                </div>
            </div>
        </div>
    }   


}
